<div>
  <table>
    <thead>
      <tr>
        <th *ngIf="showColumn['gene'] && featureInFirstColumn">Gene</th>
        <th *ngIf="showColumn['genotype'] && featureInFirstColumn">Genotype</th>
        <th>Term ID</th>
        <th>Term name</th>
        <th *ngIf="showColumn['gene'] && !featureInFirstColumn">Gene</th>
        <th *ngIf="showColumn['genotype'] && !featureInFirstColumn">Genotype</th>
        <th *ngIf="showColumn['evidence']">Evidence</th>
        <th *ngIf="showColumn['conditions']">Conditions</th>
        <th *ngIf="showColumn['qualifiers']">Qualifiers</th>
        <th *ngIf="showColumn['residue']">Residue</th>
        <th *ngIf="showColumn['reference']">Reference</th>
        <th *ngIf="showColumn['count']">Count</th>
      </tr>
    </thead>
    <tbody *ngFor="let termAnnotation of annotationTable;trackBy:trackByTermId">
      <tr *ngIf="!compactFirstRows[termAnnotation.term.termid]" class="term-annotation-top">
        <td *ngIf="featureInFirstColumn">
        </td>
        <td [attr.rowspan]="termAnnotation.annotations.length + 1">
          <span class="rel-and-termid">
            <span *ngIf="termAnnotation.is_not" class="not-annotation">NOT</span>
            <span *ngIf="termAnnotation.rel_names?.length > 0">
              <span class="rel-icon">&#8593;</span><span class="rel-name">{{termAnnotation.rel_names}}</span>
            </span>
            <a routerLink="/term/{{termAnnotation.term.termid}}" routerLinkActive="active">{{termAnnotation.term.termid}}</a>
          </span>
        </td>
        <td [attr.colspan]="termNameColSpan">
          <a routerLink="/term/{{termAnnotation.term.termid}}" routerLinkActive="active">{{termAnnotation.term.name}}</a>
        </td>
        <td *ngIf="showColumn['count']"
            [attr.rowspan]="termAnnotation.annotations.length + 1">
          <a *ngIf="termAnnotation.term.genotype_count == 0" routerLink="/term/{{termAnnotation.term.termid}}" routerLinkActive="active"
             title="{{termAnnotation.term.gene_count}} genes are annotated with {{termAnnotation.term.termid}}">{{termAnnotation.term.gene_count}}</a>
          <a *ngIf="termAnnotation.term.genotype_count > 0" routerLink="/term_genotypes/{{termAnnotation.term.termid}}" routerLinkActive="active"
             title="{{termAnnotation.term.genotype_count}} genotypes are annotated with {{termAnnotation.term.termid}}">{{termAnnotation.term.genotype_count}}</a>
        </td>
      </tr>
      <tr class="term-annotation"
          *ngFor="let annotation of termAnnotation.annotations ; let i = index">
        <td *ngIf="showColumn['gene'] && featureInFirstColumn">
          <app-gene-link *ngIf="annotation.gene" [gene]="annotation.gene"></app-gene-link>
        </td>
        <td *ngIf="showColumn['genotype'] && featureInFirstColumn">
          <app-genotype-link *ngIf="annotation.genotype" [genotype]="annotation.genotype"></app-genotype-link>
        </td>
        <td *ngIf="compactFirstRows[termAnnotation.term.termid] && i == 0"
            [attr.rowspan]="termAnnotation.annotations.length">
          <span class="rel-and-termid">
            <span *ngIf="termAnnotation.is_not" class="not-annotation">NOT</span>
            <span *ngIf="termAnnotation.rel_names?.length > 0">
              <span class="rel-icon">&#8593;</span><span class="rel-name">{{termAnnotation.rel_names}}</span>
            </span>
            <a routerLink="/term/{{termAnnotation.term.termid}}" routerLinkActive="active">{{termAnnotation.term.termid}}</a>
          </span>
        </td>
        <td>
          <div *ngIf="showColumn['extension'] && annotation.extension" class="extension">
            <app-extension-display [extension]="annotation.extension"></app-extension-display>
          </div>
          <div *ngIf="compactFirstRows[termAnnotation.term.termid] && i == 0">
            <a routerLink="/term/{{termAnnotation.term.termid}}" routerLinkActive="active">{{termAnnotation.term.name}}</a>
          </div>
        </td>
        <td *ngIf="showColumn['gene'] && !featureInFirstColumn">
          <app-gene-link *ngIf="annotation.gene" [gene]="annotation.gene"></app-gene-link>
        </td>
        <td *ngIf="showColumn['genotype'] && !featureInFirstColumn">
          <app-genotype-link *ngIf="annotation.genotype" [genotype]="annotation.genotype"></app-genotype-link>
        </td>
        <td class="with" *ngIf="showColumn['evidence']">
          <app-evidence-link *ngIf="annotation.evidence" [evidence]="annotation.evidence"></app-evidence-link>
          <span *ngIf="annotation.with">with<app-with-or-from-link [withOrFrom]="annotation.with"></app-with-or-from-link></span>
          <span *ngIf="annotation.from">from<app-with-or-from-link [withOrFrom]="annotation.from"></app-with-or-from-link></span>
        </td>
        <td *ngIf="showColumn['conditions']">
          <ul class="conditions">
          <li *ngFor="let condition of annotation.conditions">
            <a routerLink="/term/{{condition.termid}}" routerLinkActive="active">{{condition.name}}</a>
          </li>
          </ul>
        </td>
        <td *ngIf="showColumn['qualifiers']">
          <div *ngIf="annotation.qualifiers">
            {{annotation.qualifiers}}
          </div>
        </td>
        <td *ngIf="showColumn['residue']">{{annotation.residue}}</td>
        <td *ngIf="showColumn['reference']">
          <app-reference-short *ngIf="annotation.reference"
                               [reference]="annotation.reference"></app-reference-short>
        </td>
        <td *ngIf="compactFirstRows[termAnnotation.term.termid] && showColumn['count'] && i == 0"
            [attr.rowspan]="termAnnotation.annotations.length">
          <a *ngIf="termAnnotation.term.genotype_count == 0" routerLink="/term/{{termAnnotation.term.termid}}" routerLinkActive="active"
             title="{{termAnnotation.term.gene_count}} genes are annotated with {{termAnnotation.term.termid}}">{{termAnnotation.term.gene_count}}</a>
          <a *ngIf="termAnnotation.term.genotype_count > 0" routerLink="/term_genotypes/{{termAnnotation.term.termid}}" routerLinkActive="active"
             title="{{termAnnotation.term.genotype_count}} genotypes are annotated with {{termAnnotation.term.termid}}">{{termAnnotation.term.genotype_count}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
