<template #termNameCompleteTemplate let-model="item" let-index="index">
  <span>{{model.name}} ({{model.termid}})</span>
</template>
<input #termNameCompleteBox
       placeholder="start typing ..."
       [(ngModel)]="selectedTerm"
       [typeahead]="dataSource"
       [typeaheadWaitMs]="400"
       [typeaheadMinLength]="2"
       [typeaheadItemTemplate]="termNameCompleteTemplate"
       [typeaheadOptionField]="'name'"
       (typeaheadOnSelect)="typeaheadOnSelect($event)"
       class="form-control search-box" style="width: 30%; display: inline;">
