<div>
  Filters: 
  <span *ngFor="let config of filterConfig">
    <app-annotation-table-term-filter *ngIf="config.filter_name == 'term'"
                                      [config]="config"
                                      [annotationTable]="annotationTable"
                                      (filterChange)="filterChanged('term', $event)">
    </app-annotation-table-term-filter>

    <span *ngIf="currentViewState == tableViewState.Details">
      <app-annotation-table-evidence-filter *ngIf="config.filter_name == 'evidence'"
                                            [config]="config"
                                            [annotationTable]="annotationTable"
                                            (filterChange)="filterChanged('evidence', $event)">
      </app-annotation-table-evidence-filter>
    </span>
  </span>
</div>
