<div>
  Filters: 
  <span *ngFor="let config of filterConfig">
    <app-annotation-table-term-filter *ngIf="config.term" [config]="config.term"
                                      [annotationTable]="annotationTable"
                                      (filterChange)="filterChanged($event)">
    </app-annotation-table-term-filter>

    <app-annotation-table-evidence-filter *ngIf="config.evidence" [config]="config.evidence"
                                          [annotationTable]="annotationTable"
                                          (filterChange)="filterChanged($event)">
    </app-annotation-table-evidence-filter>
  </span>
</div>
