<div class="total-stats">
  <dl>
    <dt>raw nodes</dt>
    <dd>{{stats.raw_nodes}}</dd>

    <dt>raw edges</dt>
    <dd>{{stats.raw_edges}}</dd>

    <dt>nodes</dt>
    <dd>{{stats.nodes}}</dd>

    <dt>edges</dt>
    <dd>{{stats.edges}}</dd>

    <dt>activities</dt>
    <dd>{{stats.activities}}</dd>

    <dt>chemicals</dt>
    <dd>{{stats.chemicals}}</dd>

    <dt>target genes</dt>
    <dd>{{stats.target_genes}}</dd>

    <dt>total connected activities</dt>
    <dd>{{stats.total_connected_activities}}</dd>

    <dt>total go term occurrences</dt>
    <dd>{{stats.total_go_term_occurrences}}</dd>
  </dl>
</div>
