.widgets {
  margin: 1em;
}

@media (min-width: 900px) {
  .widgets {
    display: flex;
    flex-flow: row nowrap;
  }

  .widgets-container {
    width: 85%;
    flex-grow: 1;
  }
}

.widgets-picker {
  white-space: nowrap;
}

@media (min-width: 900px) {
  .widget-buttons-vertical .active-widget-button {
    border-left: 3px solid grey;
  }

  .widget-buttons-vertical .non-active-widget-button:hover {
    border-left: 3px solid #eee;
  }

  .widget-buttons-vertical .non-active-widget-button:not(:hover) {
    border-left: 3px solid #fff;
  }

  .widgets-picker-container {
    display: inline-block;
    min-width: 9.5em;
  }

  .non-active-widget-button, .active-widget-button {
    margin-bottom: 16px;
    padding-left: 4px;
  }

  .widget-buttons-horizontal .non-active-widget-button,
  .widget-buttons-horizontal .active-widget-button {
    display: inline-block;
    padding-right: 2em;
  }

  .widget-buttons-horizontal div, .widget-buttons-horizontal img {
    display: inline-block;
  }

  .widget-buttons-horizontal img {
    width: 2em;
  }

  .widgets-available {
    padding-right: 1em;
  }

  .widget-buttons-horizontal .active-widget-button.widget-button-hide-all {
    display: none;
  }
}

@media (max-width: 899px) {
  .widgets-picker {
    display: flex;
  }

  .active-widget-button {
    border-top: 2px solid grey;
  }

  .non-active-widget-button:hover {
    border-top: 3px solid #eee;
  }

  .non-active-widget-button:not(:hover) {
    border-top: 3px solid #fff;
  }

  .non-active-widget-button, .active-widget-button {
    margin: 8px 24px 10px 2px;
    min-height: 2em;
  }

  .widgets-available {
    display: none;
  }
}

img.widget-button {
  display: block;
  margin: 2px 0 5px 10px;
}

.non-active-widget-button:not(:hover) img {
  opacity: 80%;
}

.rhea-reactions {
  margin: 1.5em 0 1.5em 2em;
  overflow: auto;
}
