<fieldset *ngIf="annotationTable?.length > 0" class="annotation-table">
  <legend>
    Quantitative gene expression
  </legend>

  <div class="table-control">
    <input [attr.id]="'qualitative-details-toggle'"
           type="checkbox"
           name="details-toggle" ngDefaultControl
           [checked]="showDetails"
           (change)="showDetails = !showDetails"
           btnCheckbox />
    <label [attr.for]="'qualitative-details-toggle'">
      <span class="label-content">Show details</span>
    </label>
  </div>

  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th *ngIf="showGene">Gene</th>
        <th>Molecules/cell (avg.)</th>
        <th>Extension</th>
        <th *ngIf="showDetails">Condition</th>
        <th *ngIf="showDetails">Scale</th>
        <th *ngIf="showDetails">Evidence</th>
        <th *ngIf="showDetails && showReference">Reference</th>
      </tr>
    </thead>
    <tbody *ngFor="let termAnnotation of annotationTable ; trackBy:trackByTermId">
      <tr class="term-annotation"
          *ngFor="let annotation of termAnnotation.annotations ; let i = index">
        <td><span  *ngIf="i==0">{{termAnnotation.term.name}}</span></td>
        <td *ngIf="showGene">
          <span *ngFor="let gene of annotation.genes">
            <app-gene-link class="app-link" [long]="false" [gene]="gene"></app-gene-link>
          </span>
        </td>
        <td *ngIf="annotation.gene_ex_props">{{annotation.gene_ex_props.avg_copies_per_cell}}</td>
        <td>
          {{annotation.qualifiers}}<app-extension-display
                                      *ngIf="annotation.extension"
                                      [extension]="annotation.extension"></app-extension-display>
        </td>
        <td *ngIf="showDetails">
          <div class="conditions">
            <div *ngFor="let condition of annotation.conditions ; let i = index">
              <a routerLink="/term/{{condition.termid}}"
              routerLinkActive="active">{{condition.name}}</a><span *ngIf="i < annotation.conditions.length - 1">,</span>
            </div>
          </div>
        </td>
        <td *ngIf="showDetails">
          <span *ngIf="annotation.gene_ex_props">{{annotation.gene_ex_props.scale}}</span>
        </td>
        <td *ngIf="showDetails">
          <app-evidence-link class="app-link" *ngIf="annotation.evidence" [evidence]="annotation.evidence"></app-evidence-link>
        </td>
        <td *ngIf="showDetails && showReference">
          <app-reference-short *ngIf="annotation.reference"
                               [reference]="annotation.reference"></app-reference-short>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
