.filter-controls {
  float: right;
  font-size: 90%;
}

.filter-count {
  font-weight: bold;
  padding-bottom: 0.5em;
}

.view-controls, .filter-controls {
  margin-bottom: 0.5em;
  display: inline-block;
  user-select: none;
}
