#id-mapper-results {
  font-size: 140%;
}

.id-results-main {
  padding: 1em 0.5em 1em 1em;
}

.id-reset {
  padding-bottom: 0.5em;
}

.show-all-not-found {
  padding: 0.5em 0;
}

table, .not-found-ids {
  margin: 0 1.5em;
}

.send-genes {
  margin: 1em 0 0 0;
}

td {
  vertical-align: top;
  padding: 0.2em 0;
}

th, td {
  min-width: 10em;
}

.id-heading, .not-found-heading, .multi-heading, .one-one-heading {
  margin: 0.6em 0 0.6em 0;
  font-weight: bold;
}
