#id-mapper-results {
  font-size: 140%;
}

.id-results-main {
  padding: 1em 0.5em 1em 1em;
}

.id-reset {
  padding-bottom: 0.5em;
}

.show-all-link, .hide-all-link {
  padding: 0.5em 0;
}

table, .not-found-ids, .show-all-link, .hide-all-link {
  margin: 0 1.5em;
}

.hide-all-link {
  font-size: 90%;
}

.found-message {
  margin: 1em 0 0.2em 0;
}

.send-genes {
  margin: 0.2em 0 1em 0;
}

td {
  vertical-align: top;
  padding: 0.2em 0;
}

th, td {
  min-width: 10em;
}

.id-heading, .not-found-heading, .multi-heading, .one-one-heading {
  margin: 1em 0 0.5em 0;
  font-weight: bold;
}

.many-to-many-section td {
  padding: 0.5em 0
}
