.social {
  padding: 10px 0.8em 10px 0;
  width: 50%;
}

.social div {
  width: 50%;
}

.social img {
  padding: 0 3px 0 3px;
}

.pombase-social-contacts {
  margin: 0.1em 2.5em 0.4em 0;
  float: right;
}
