<fieldset *ngIf="annotationTable.length > 0" class="annotation-table">
  <legend>
    Annotations
  </legend>

  <div style="font-weight: bold; padding: 5px 0 5px 0; font-size: 120%;" *ngIf="truncatedTable.length != annotationTable.length">
    Note: showing only {{maxRows}} of {{annotationTable.length}} annotations.
  </div>

  <table>
    <thead>
      <tr>
        <th>Gene</th>
        <th>Evidence</th>
        <th>Reference</th>
      </tr>
    </thead>
    <tbody *ngFor="let annotation of annotationTable">
      <tr>
        <td>
          <app-gene-link [gene]="annotation.gene"></app-gene-link>
        </td>
        <td>{{annotation.evidence}}</td>
        <td>
          <span *ngIf="annotation.reference">
            <app-reference-short [reference]="annotation.reference"></app-reference-short>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
