.chr-overview table {
  margin: 1em 0 2.5em 0;
}

.chr-overview th, .chr-overview td {
  padding: 0.4em 0.8em;
}

.chr-bar {
  background-color: #55a;
  border-radius: 2px;
  height: 20px;
}

.chr-overview tfoot td {
  font-weight: bold;
}
