<div>
  <div class="query-results">
    <div *ngIf="!results && showLoading" class="query-running-spinner">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <app-gene-results *ngIf="results" [results]="results"></app-gene-results>
  </div>
  <div class="query-node-add">
    <div>
      <span class="query-title">Query</span>
    </div>
    <app-query-node (nodeEvent)="nodeEvent($event)"></app-query-node>
  </div>
  <div class="query-history">
    <app-query-history (newQuery)="newQuery($event)"
                       (gotoQuery)="gotoQuery($event)"></app-query-history>
  </div>
</div>
