.query-node-add {
  clear: left;
  float: left;
  width: 49%;
}

.query-history {
  clear: both;
}

.query-clear {
  padding-left: 0.5em;
}

.query-running-spinner {
  padding: 3em;
}

.query-title {
  font-weight: bold;
}
