<div>
  <div class="query-results">
    <div *ngIf="!results && showLoading" class="query-running-spinner">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <app-gene-results *ngIf="results" [results]="results"></app-gene-results>
  </div>
  <div class="query-node-add">
    <div>
      <span class="query-title">Query</span>
      <a class="query-clear" (click)="resetQuery()">Clear ...</a>
    </div>
    <app-query-node (newNode)="newNode($event)"></app-query-node>
  </div>
  <div *ngIf="history.length > 0" class="query-history">
    <span class="query-title">History</span>
    <div class="query-history-content">
      <app-query-history [history]="history" (newQuery)="newQuery($event)"
                         (gotoQuery)="gotoQuery($event)"></app-query-history>
    </div>
  </div>
</div>
