.deletion-viability-status {
  position: relative;
  padding: 5px;
  border: 1px solid #707070;
  border-radius: 5px 5px 5px 5px;
}

.inviable {
  background-color: #FFEEEE;
}

.viable {
  background-color: #EEFFEE;
}

.depends {
  background-color: #FFFFCE;
}

.unknown {
  background-color: #EEEEEE;
}
