.search-box {
  width: 40%;
  padding: 5px;
  font-size: 110%;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  display: inline;
}
.search-info {
  padding: 5px;
  color: #e63535;
  background-color: #fff;
  background-image: none;
  border-radius: .25rem;
  font-weight: bold;
}
.synonym-match {
/*  font-weight: 200; */
}
