<ng-template #searchBoxTemplate let-model="item" let-index="index">
  <div>
  <span *ngIf="model.name"><strong>{{model.name}}</strong> ({{model.uniquename}})</span>
  <span *ngIf="!model.name"><strong>{{model.uniquename}}</strong></span>
  <div [ngSwitch]="matchType(model)">
    <div *ngSwitchCase="'synonym'" class="synonym-match">synonym: {{lastMatchIdentifier}}</div>
    <div *ngSwitchCase="'product'" class="product-match">product: {{model.product}}</div>
    <div *ngSwitchCase="'ortholog'" class="ortholog-match">ortholog: {{lastMatchIdentifier}}</div>
  </div>
  </div>
</ng-template>
<input #searchBox
       *ngIf="geneSummaries.length > 0"
       placeholder="search ..."
       [(ngModel)]="fieldValue"
       [typeahead]="geneSummaries"
       [typeaheadMinLength]="2"
       [typeaheadItemTemplate]="searchBoxTemplate"
       [typeaheadOptionField]="'searchData'"
       [typeaheadSingleWords]="false"
       (typeaheadOnSelect)="typeaheadOnSelect($event)"
       (typeaheadNoResults)="typeaheadNoResults($event)"
       typeaheadOptionsLimit="15"
       class="form-control search-box">
<span class="search-info" [style.visibility]="getVisibility()">
  No matching genes
</span>
