<ng-template #searchBoxTemplate let-model="item" let-index="index">
  <div>
  <span *ngIf="model.name"><strong>{{model.name}}</strong> ({{model.uniquename}})</span>
  <span *ngIf="!model.name"><strong>{{model.uniquename}}</strong></span>
  <div *ngIf="model.otherDetails" class="match-extra">{{model.otherDetails}}</div>
  </div>
</ng-template>
<input #searchBox
       *ngIf="geneSummaries.length > 0"
       placeholder="search ..."
       (keyup.enter)="enterPressed($event)"
       [(ngModel)]="fieldValue"
       [typeahead]="dataSource"
       [typeaheadMinLength]="2"
       [typeaheadItemTemplate]="searchBoxTemplate"
       [typeaheadSingleWords]="false"
       (typeaheadOnSelect)="typeaheadOnSelect($event)"
       (typeaheadNoResults)="typeaheadNoResults($event)"
       typeaheadOptionsLimit="15"
       class="form-control search-box">
<span class="search-info" [style.visibility]="getVisibility()">
  No matching genes
</span>
