<template #searchBoxTemplate let-model="item" let-index="index">
  <span *ngIf="model.name"><strong>{{model.name}}</strong> ({{model.uniquename}})</span>
  <span *ngIf="!model.name"><strong>{{model.uniquename}}</strong></span>
</template>
<input #searchBox
       *ngIf="geneSummaries.length > 0"
       placeholder="search ..."
       [(ngModel)]="selectedGene"
       [typeahead]="geneSummaries"
       [typeaheadMinLength]="2"
       [typeaheadItemTemplate]="searchBoxTemplate"
       [typeaheadOptionField]="'searchData'"
       (typeaheadOnSelect)="typeaheadOnSelect($event)"
       class="form-control search-box">
