
.front-container {
  margin: 0 auto;
  max-width: 1500px;
}

@media (min-width: 800px) {
  .front-container {
    margin: 0 3.5%;
  }
}

.metadata {
  padding: 0 0.5em 0 0.5em;
  color: lightgrey;
}

.metadata .pombase-chado-json {
  display: none;
}

.front-page-list {
  display: inline-block;
  vertical-align: top;
  padding: 0.5em 1em 0.5em 1em;
}

.front-page-list-title {
  margin-bottom: 0.5em;
  display: inline-block;
  font-weight: bold;
}

.welcome {
  clear: both;
  margin: 0 2em 0.8em 0;
}

.welcome-title {
  font-size: 2.1rem;;
  font-weight: bold;
  padding: 0.5em 0 0.1em 0;
  clear: both;
}

.mission-statement {
  padding-bottom: 0.5em;
}

.mission-statement summary {
  font-size: 130%;
  list-style-position: outside;
}

.mission-statement summary, .testimonials h4 {
  font-weight: bold;
}

.welcome-content {
  font-size: 135%;
  margin-bottom: 0.2em;
  display: inline-block;
}

.welcome-logos {
  display: inline-block;
  vertical-align: top;
}

.front-page-box {
  background-color: #edffdf;
  display: inline-block;
  padding: 0.4em 0.8em 0.4em 0.8em;
  margin: 2em 0.4em 0 3em;
  border-radius: 0.4em;
}

.rotating-image img {
  width: 95%;
  height: auto;
  margin-bottom: 1em;
}

#top-row {
  clear: both;
}

.recent-news > div {
  font-size: 80%;
}

.quick-links-line span {
  white-space: nowrap;
}

.quick-links {
  display: block;
  margin-bottom: 0.7em;
}

.quick-links-separator {
  padding: 0.2em 0.1em;
  font-size: 80%;
  vertical-align: bottom;
  color: #888;
  display: inline-block;
}

@media (min-width: 800px) {
  .quick-links {
    font-size: 125%;
    padding-bottom: 1em;
  }
}

@media (max-width: 799px) {
  .quick-links {
    padding: 0.5em 0;
  }
}

.quick-links-group {
  display: inline-block;
}

@media (max-width: 1099px) {
  .quick-links-group {
    margin: 0em 0.3em 0.6em 0.2em;
  }
}

@media (min-width: 1100px) {
  .quick-links-group {
    margin: 0em 1em 1em 0;
  }
}

.quick-links-title {
  font-weight: bold;
}

.archive-link-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.4em 0 0 0;
}

.archive-link-container a {
  font-size: 90%;
  color: #538abf;
  padding: 0.1em;
}

.front-twitter-feed {
  height: 100em;
  overflow-y: auto;
}

.front-twitter-feed-small {
  height: 60em;
  overflow-y: auto;
  display: none;
}

.font-news-archive {
  float: right;
  font-size: 110%;
  padding-top: 0.3em;
}

.panel-title {
  margin: 0.2em;
}

@media (min-width: 1300px) {
  .front-grid {
    display: grid;
    grid-template-rows: auto auto min-content min-content min-content;
    grid-gap: 1em 1em;
  }
  .welcome {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .quick-links {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  .front-right {
    grid-row: 2 / 4;
    grid-column: 3 / 5;
  }
  .welcome-logos {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
  }
  .front-news-feed {
    grid-column: 2 / 4;
    grid-row: 4 / 12;
    padding: 2.5em;
  }
  .explore, .pombetalks {
    margin-left: auto;
  }
}

@media (min-width: 800px) and (max-width: 1299px) {
  .front-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em 1em;
  }
  .welcome {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .quick-links {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  .front-right {
    grid-row: 2 / 4;
    grid-column: 3 / 5;
    min-width: 400px;
  }
  .welcome-logos {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
  }
  .front-news-feed {
    grid-column: 2 / 5;
    grid-row: 4 / 12;
  }
}
@media (min-width: 650px) and (max-width: 799px) {
  .front-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em 0.5em;
  }
  .welcome {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .quick-links {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .front-right {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    min-width: 300px;
  }
  .welcome-logos {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .front-news-feed {
    grid-column: 1 / 3;
  }
}
@media (max-width: 649px) {
  .front-news-feed {
    order: 99;
  }
  .welcome-logos {
    padding: 0.5em 0 2em 0;
  }
}

.front-panel {
  margin-bottom: 2em;
}

.gcbr-elixir-logo-row {
  padding: 0em;
}

.gcbr-elixir-logo img {
  height: 52px;
}

.gcbr-elixir-logo {
  margin-right: 1.5em;
}

.overview-block {
  display: inline-block;
  vertical-align: top;
}

.testimonials {
  min-height: 12em;
}

.testimonials li {
  padding-bottom: 0.5em;
  font-size: 110%;
}

.testimonials-header-row {
  padding-bottom: 0.5em;
}
.testimonials-header-row h4 {
  display: inline;
}
.testimonials-all-link {
  padding-left: 2em;
  font-size: 1.3rem;
}
.testimonials li {
  list-style-image: url("/assets/big_quote.svg");
}

