
.front-container {
  margin: 0 auto;
  max-width: 1150px;
}

.metadata {
  padding: 0 0.5em 0 0.5em;
  color: lightgrey;
}

.metadata .pombase-chado-json {
  display: none;
}

.front-page-list {
  display: inline-block;
  vertical-align: top;
  padding: 0.5em 1em 0.5em 1em;
}

.front-page-list-title {
  margin-bottom: 0.5em;
  display: inline-block;
  font-weight: bold;
}

.welcome {
  clear: both;
  display: block;
  margin-bottom: 0.8em;
}

@media (min-width: 800px) {
  .welcome-content {
    width: 65%;
  }
}

.welcome-title {
  font-weight: bold;
  padding: 0.5em 0 0.1em 0;
  clear: both;
}

.welcome-content {
  font-size: 125%;
  margin-bottom: 1em;
  display: inline-block;
}

.welcome-logos {
  display: inline-block;
  vertical-align: top;
  padding-top: 0.5em;
}

.front-page-box {
/*  border: 1.5px solid #157; */
  background-color: #edffdf;
  display: inline-block;
  padding: 0.4em 0.8em 0.4em 0.8em;
  margin: 2em 0.4em 0 3em;
  border-radius: 0.4em;
}

.rotating-image img {
  width: 95%;
  height: auto;
  margin-bottom: 1em;
}

#top-row {
  clear: both;
}

.recent-news > div {
  font-size: 80%;
}

.quick-links {
  display: block;
  margin-bottom: 0.7em;
}

.quick-links-separator {
  padding: 0 0.1em;
  font-size: 85%;
  vertical-align: text-top;
  color: #444;
}

@media (min-width: 800px) {
  .quick-links {
    font-size: 120%;
    padding-bottom: 0.3em;
  }
}

@media (max-width: 800px) {
  .quick-links {
    padding: 0.5em 0;
  }
}

.quick-links-label {
  white-space: nowrap;
}

.quick-links-group {
  display: inline-block;
}

@media (max-width: 1100px) {
  .quick-links-group {
    margin: 0em 0.3em 0.3em 0.5em;
  }
}

@media (min-width: 1100px) {
  .quick-links-group {
    margin: 0em 1em 0.5em 1em;
  }
}

.front-callout {
  margin: 1em 0 2em 0;
  display: none;
}

.archive-link-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.4em 0 0 0;
}

.archive-link-container a {
  font-size: 90%;
  color: #538abf;
  padding: 0.1em;
}

.front-twitter-feed {
  height: 100em;
  overflow-y: auto;
}

.front-twitter-feed-small {
  height: 60em;
  overflow-y: auto;
  display: none;
}

.panel-container {
  grid-template-rows: auto auto auto 1fr;
}

.front-news-feed {
  grid-column: 2 / 4;
  grid-row: 1 / 5;
}

.front-panel-twitter {
  grid-row: 4 / 5;
}

@media (min-width: 800px) {
  .front-container {
    padding: 0 1em;
  }
  .panel-container {
    margin-top: 1.8em;
  }
}

@media (min-width: 400px) and (max-width: 800px) {
  .front-container {
    padding: 0 0.3em;
  }
  .panel-container {
    margin: 1.4em 0.5em;
  }
}

@media (max-width: 400px) {
  .front-container {
    padding: 0 0.1em;
  }
  .panel-container {
    margin: 1.5em auto;
  }
}

.gcbr-elixir-logo {
  margin: 0 0 0 1.4em;
  vertical-align: top;
}

.gcbr-elixir-logo img {
  height: 40px;
}
