<div class="front-container">
<app-social-contact></app-social-contact>

<h2 class="welcome-title">Welcome to {{siteName}}</h2>
<div class="welcome">
  <div class="sect-content welcome-content">
    <span [innerHTML]="welcomeMessage"></span>
  </div>
  <app-stats-ribbon class="stats-ribbon"></app-stats-ribbon>
</div>

<div class="quick-links">
  <span class="quick-links-group">
    <span>
      <a routerLink="/query">Advanced search</a>
    </span>
    &#x25CF;
    <span>
      <a href="/jbrowse/">
        Genome browser
      </a>
    </span>
  </span>

  <span *ngIf="hasDiseaseAnnotation" class="quick-links-group">
    <span>
      <a routerLink="/browse-curation/disease-slim">Disease association overview</a>
    </span>
  </span>

  <span class="quick-links-group">
    GO Overviews:
    <span class="quick-links-line">
      <span>
        <a routerLink="/browse-curation/fission-yeast-mf-go-slim-terms">Function</a>
      </span>
      &#x25CF;
      <span>
        <a routerLink="/browse-curation/fission-yeast-go-slim-terms">Process</a>
      </span>
      &#x25CF;
      <span>
        <a routerLink="/browse-curation/fission-yeast-cc-go-slim-terms">Component</a>
      </span>
    </span>
  </span>

  <span class="quick-links-group">
    <span>Example pages: </span>
    <span class="quick-links-line">
      <span><a routerLink="/gene/{{examplePages.gene}}">Gene</a></span>
      &#x25CF;
      <span><a routerLink="/term/{{examplePages.term}}">Term</a></span>
      &#x25CF;
      <span><a routerLink="/reference/{{examplePages.reference}}">Publication</a></span>
    </span>
  </span>
</div>

<div style="clear: both"></div>

<div class="front-callout bs-callout bs-callout-info">
</div>

<div class="panel-container">
  <div class="info-panel">
    <app-front-panel [conf]="spotlightConf"></app-front-panel>
    <div class="archive-link-container">
    <a routerLink="/archive/spotlight">Archive ...</a>
    </div>
  </div>
  <div class="info-panel">
    <app-front-panel [conf]="communityConf"></app-front-panel>
    <div class="archive-link-container">
      <a routerLink="/reference_list/community">All community curation ...</a>
    </div>
    <div *ngIf="hasAdminCuration" class="archive-link-container">
      <a routerLink="/reference_list/admin">{{siteName}} staff curated publications ...</a>
    </div>
  </div>
  <div class="info-panel">
    <app-front-panel [conf]="exploreConf"></app-front-panel>
    <div class="archive-link-container">
      <a routerLink="/archive/explore">Archive ...</a>
    </div>
  </div>

<div *ngIf="showNewsItems" class="front-news-feed">
  <h2 class="front-page-list-title">Recent news</h2>
  <app-recent-news></app-recent-news>
</div>

<div *ngIf="twitterAccount"
     [ngClass]="{'front-twitter-feed': twitterAccount == 'PomBase', 'front-twitter-feed-small': twitterAccount != 'PomBase'}">
<a class="twitter-timeline" data-tweet-limit="6" href="https://twitter.com/{{twitterAccount}}">
   Tweets by @{{twitterAccount}}
</a>
</div>
</div>
</div>

<hr style="clear: both" />

<div class="metadata" *ngIf="metadata">
  <div routerLink="/internal-details">Database created: {{metadata?.db_creation_datetime}}</div>
  <div class="pombase-chado-json">Generated by {{metadata?.export_prog_name}} v{{metadata?.export_prog_version}}</div>
</div>
