<div class="front-container">
<app-social-contact></app-social-contact>

<h2 class="welcome-title">Welcome to {{siteName}}</h2>
<div class="front-grid">
<div class="welcome">
  <div class="welcome-content">
    <span [innerHTML]="welcomeMessage"></span>
  </div>
</div>

<div class="quick-links">

  <span class="quick-links-group">
    <span class="quick-links-title">About:</span>
    <span class="quick-links-label">
      <a routerLink="/about">About {{siteName}}</a>
    </span>
    <span class="quick-links-separator">&#x25CF;</span>
    <span class="quick-links-label">
      <a routerLink="/documentation">Documentation</a>
    </span>
  </span>

  <span class="quick-links-group">
    <span class="quick-links-line">
      <div class="overview-block">
      <span class="quick-links-title">Overviews:</span>
      </div>
      <div class="overview-block">
        <div>
      <span class="quick-links-label">
        <a routerLink="/browse-curation/fission-yeast-mf-go-slim-terms"
           title="Gene Ontology molecular function overview">Function</a>
      </span>
      <span class="quick-links-separator">&#x25CF;</span>
      <span class="quick-links-label">
        <a routerLink="/browse-curation/fission-yeast-bp-go-slim-terms"
           title="Gene Ontology biological process overview">Process</a>
      </span>
      <span class="quick-links-separator">&#x25CF;</span>
      <span class="quick-links-label">
        <a routerLink="/browse-curation/fission-yeast-cc-go-slim-terms"
           title="Gene Ontology cellular component overview">Component</a>
      </span>
        </div>
        <div>
      <span *ngIf="hasDiseaseAnnotation" class="quick-links-label">
        <a routerLink="/browse-curation/disease-slim"
           title="Disease (Mondo) association overview">Disease association</a>
      </span>
      <span *ngIf="hasDiseaseAnnotation || fypoSlim" class="quick-links-separator">&#x25CF;</span>
      <span *ngIf="fypoSlim" class="quick-links-label">
        <a routerLink="{{fypoSlim.full_slim_path}}"
           title="Phenotype (FYPO) annotation overview">Phenotype</a>
      </span>
      <span *ngIf="hasUnknownsList" class="quick-links-separator">&#x25CF;</span>
      <span *ngIf="hasUnknownsList" class="quick-links-label">
        <a routerLink="/status/protein-status-tracker"
           title="Unknown protein tracker and protein-coding gene characterisation status information">Unknown protein tracker</a>
      </span>
        </div>
      </div>
    </span>
  </span>

  <span class="quick-links-group">
    <span class="quick-links-title">Tools:</span>
    <span class="quick-links-label">
      <a routerLink="/query"
         title="Query genes with the Advanced Search tool">Advanced search</a>
    </span>
    <span class="quick-links-separator">&#x25CF;</span>
    <span *ngIf="siteName != 'PomBase'">
      <a href="/jbrowse/" target="_blank"
         title="View genome-wide datasets the JBrowse genome browser">
        Genome browser
      </a>
    </span>
    <span *ngIf="siteName == 'PomBase'">
      <a routerLink="/gocam">GO-CAM pathways</a>
    </span>
  </span>

  <span class="quick-links-group">
    <span class="quick-links-line">
      <span class="quick-links-title">Example pages:</span>
      <span class="quick-links-label"><a routerLink="/gene/{{examplePages.gene}}">Gene</a></span>
      <span class="quick-links-separator">&#x25CF;</span>
      <span class="quick-links-label"><a routerLink="/term/{{examplePages.term}}">Term</a></span>
      <span class="quick-links-separator">&#x25CF;</span>
      <span class="quick-links-label"><a routerLink="/reference/{{examplePages.reference}}">Publication</a></span>
      <span *ngIf="examplePages.gocam" class="quick-links-separator">&#x25CF;</span>
      <span *ngIf="examplePages.gocam" class="quick-links-label">
        <a routerLink="/gocam/pombase-view/docs/{{examplePages.gocam}}">Pathway</a>
      </span>
    </span>
  </span>

</div>

<div class="welcome-logos">
  <div *ngIf="showElixirAndGbcLogos">
    <div class="gcbr-elixir-logo-row">
    <span class="gcbr-elixir-logo">
      <a href="https://globalbiodata.org/scientific-activities/global-core-biodata-resources/"
         title="{{siteName}} is a GBC Global Core Biodata Resource">
        <img src="assets/GCBR-Logo-RGB.svg">
      </a>
    </span>
    <span class="gcbr-elixir-logo">
      <a href="https://elixir-europe.org/platforms/data/core-data-resources"
         title="{{siteName}} is an ELIXIR Core Data Resource">
        <img src="assets/elixir-core-data-resources-logo.png">
      </a>
    </span>
    </div>
  </div>
</div>

<div class="front-right">
<div *ngIf="randomTestimonials.length > 0" class="testimonials">
  <div class="testimonials-header-row">
    <h4>Testimonials</h4>
    <span class="testimonials-all-link">
      <a routerLink="/about/testimonials">View all ...</a>
    </span>
  </div>
  <ul>
    <li *ngFor="let randomTestimonial of randomTestimonials">
<div class="testimonial-quote" [innerHTML]="randomTestimonial.quote">
</div>
<div class="testimonial-author">
{{randomTestimonial.author}}
</div>
    </li>
  </ul>
</div>
</div>

  <div class="front-panel info-panel spotlight">
    <app-front-panel *ngIf="spotlightConf" [panelType]="spotlight"
                     [conf]="spotlightConf"></app-front-panel>
    <div class="archive-link-container">
    <a routerLink="/archive/spotlight">View more Community Curation spotlights ...</a>
    </div>
  </div>

  <div class="front-panel info-panel explore">
    <app-front-panel *ngIf="exploreConf" [panelType]="explore"
                     [conf]="exploreConf"></app-front-panel>
    <div class="archive-link-container">
      <a routerLink="/archive/explore">View more {{siteName}} features ...</a>
    </div>
  </div>

  <div class="front-panel info-panel community">
    <div class="community front-panel">
      <div class="panel-contents">
        <div class="title">
          Recent community curation
        </div>
        <app-recent-community-pubs></app-recent-community-pubs>
      </div>
    </div>
    <div class="archive-link-container">
      <a routerLink="/reference_list/community">All community curation ...</a>
    </div>
    <div *ngIf="hasAdminCuration" class="archive-link-container">
      <a routerLink="/reference_list/admin">{{siteName}} staff curated publications ...</a>
    </div>
  </div>

  <div class="front-panel info-panel pombetalks">
    <a routerLink="/community/pombetalks">
      <img src="assets/pombetalks-panel-image.png"/>
      <div class="panel-title">
        <div>
          pombeTalks - Talks by and for the fission yeast community
        </div>
        <div>
          View upcoming talk dates and speakers ...
        </div>
      </div>
    </a>
  </div>

  <div *ngIf="showNewsItems" class="front-news-feed">
    <div class="font-news-archive"><a routerLink="/news">News archive ...</a></div>
    <h3 class="front-page-list-title">Recent news</h3>
    <app-recent-news></app-recent-news>
  </div>

</div>
</div>

<hr style="clear: both" />

<div class="metadata" *ngIf="metadata">
  <div routerLink="/internal-details">Database created: {{metadata.db_creation_datetime}}</div>
  <div class="pombase-chado-json">Database v{{metadata.date_version}} generated by {{metadata.export_prog_name}} v{{metadata.export_prog_version}}</div>
</div>
