<fieldset *ngIf="annotationTable.length > 0" class="annotation-table">
  <legend>
    {{annotationTypeDisplayName}}
  </legend>

  <table>
    <thead>
      <tr>
        <th>Species</th>
        <th>Gene</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let annotation of annotationTable">
        <td>{{annotation.ortholog_organism.genus}} {{annotation.ortholog_organism.species}}</td>
        <td><a routerLink="/gene/{{annotation.ortholog.uniquename}}"
        routerLinkActive="active">{{annotation.ortholog.name ? annotation.ortholog.name + " (" + annotation.ortholog.uniquename + ")" : annotation.ortholog.uniquename }}</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</fieldset>
