<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add QuiLT column</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Select a term from one of these ontologies to add to QuiLT:
    <div class="cv-name-list">
      <div *ngFor="let cvName of visCvNames">
        {{cvName}}
      </div>
    </div>
    <app-term-name-complete
      [cvName]="cvNamesForTermComplete" [placeholder]="'starting typing to choose a term ...'"
      (termMatched)="termMatched($event)">
    </app-term-name-complete>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="apply()">Apply</button>
  </div>
</div>
