@media (min-width: 1200px) {
  .interaction-reference {
    white-space: nowrap;
  }
}

@media (max-width: 1000px) {
  .annotation-table-container th {
    white-space: normal;
  }
}

.annotation-table-container {
  clear: both;
}

.filter-controls {
  float: right;
  clear: right;
  font-size: 90%;
  margin-top: 1em;
}

.filter-count {
  font-weight: bold;
  padding-bottom: 0.5em;
}

.filter-controls {
  margin-bottom: 0.5em;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
}

.interaction-evidence {
  min-width: 10vw;
}

.interaction-directional-label {
  min-width: 14vw;
}

.interaction-source {
  padding: 0 0 0.6em 0;
  display: inline-block;
}

.interaction-note {
  font-size: 90%;
}

.interaction-product {
  word-break: normal;
  overflow-wrap: anywhere;
}

.biogrid-link {
  padding-left: 5em;
  float: right;
}

.query-link {
  display: block;
  padding-bottom: 0.3em;
}

.interaction-source-label {
  font-weight: bold;
}

.details-button {
  width: 2em;
}

.genetic-interaction-detail {
  width: 90%;
  margin: 0.1em 0em 0.3em 1em;
  font-size: 95%;
}

div.genetic-interaction-detail {
  padding: 0.5em;
}

.genetic-interaction-detail th {
  font-weight: normal;
}

.main-interaction-table tbody:nth-child(odd) .genetic-interaction-detail {
  background-color: #f6f5ee;
}

.main-interaction-table tbody:nth-child(even) .genetic-interaction-detail {
  background-color: #fdfdfc;
}

.main-interaction-table tbody:nth-child(odd) {
  background-color: #eeebdd;
}

table.main-interaction-table {
  border-collapse: collapse;
}
/* from: https: //stackoverflow.com/questions/20917222/padding-on-tbody */
table.main-interaction-table tbody {
  border-bottom: 0.3em solid transparent;
}

.detail-double-genotype, .detail-single-phenotype {
  width: 25%;
}

.detail-double-phenotype {
  width: 30%;
}

.detail-reference {
  width: 20%;
}

.reference-separator {
  font-weight: bold;
  padding: 0 0.em;
}

.genetic-interaction-detail td, .genetic-interaction-detail th {
  padding: 0.1em 1.2em 0.1em 0.3em;
}

.view-controls, .filter-controls {
  margin-bottom: 0.5em;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
}
