#header-row {
  background: #bbc3de url(../assets/header-background.jpg) right no-repeat;
  height: 115px;
  position: relative;
}

#header-content, #content {
  padding: 10px;
  padding-left: 20px;
}

#logo {
  white-space: nowrap;
}

#logo-and-slogan, #header-search-box {
  width: 49%;
  float: left;
}

#header-search-box {
  z-index: 1000;
}

#header-search-box {
  text-align: right;
  margin-top: 20px;
}

#content {
  font-size: 110%;
}

#footer {
  text-align: center;
  clear: both;
  padding: 30px 10px 30px 10px;
}

.dropdown-toggle {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: rgba(100, 110, 145, 0.8);
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 120%;
}

#header-navbar {
  position: absolute;
  bottom: 0px;
  right: 20em;
}

.dropdown-menu {
  margin: 0;
}

.dropdown:hover .dropdown-menu: {
/*   display: block;*/
}
