#header-row {
  background: #bbc3de url(../assets/header-background.jpg) right no-repeat;
  height: 115px;
}

#header-content, #content {
  padding: 10px;
  padding-left: 20px;
}

#logo-and-slogan, #header-search-box {
  width: 49%;
  float: left;
}

#header-search-box {
  text-align: right;
  margin-top: 25px;
}

#content {
  font-size: 110%;
}
