<div id="header-row">
<div id="header-content">
<div id="logo-and-slogan">
<div id="logo">
  <a routerLink="/" routerLinkActive="active" title="Home">
    <img src="assets/pombase-logo.png" alt="pombase.org" />
    <img src="assets/pombase_2.png" alt="pombase.org" />
  </a>
</div>
<span id="slogan">The scientific resource for fission yeast</span>
</div>
<div id="header-search-box">
  <app-search-box></app-search-box>
</div>
</div>
</div>

<div id="content">

<router-outlet></router-outlet>

</div>
