#header-row {
  background: #b8c7b8 url(assets/header-background.png) right no-repeat;
  height: 115px;
}

#slogan {
  color: white;
}

#header-content, #content {
  min-width: 600px;
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 10px;
}

#logo-and-slogan, #header-search-box {
  width: 49%;
  float: left;
}

#header-search-box {
  text-align: right;
  margin-top: 25px;
}
