# pombase
minimal_jbrowse_track_list.json
src/browser_images

main_config.json

# compiled output
dist
tmp

# dependencies
node_modules
bower_components

# IDEs and editors
.idea
.vscode
.project
.classpath
*.launch
.settings/
.vs/*

# misc
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log
testem.log
typings

# emacs
*~
.#*

GO.xrf_abbs
src/index.html
