<fieldset *ngIf="annotationTable.length > 0" class="annotation-table">
  <legend>
    <span *ngIf="annotationTypeName">{{annotationTypeDisplayName}}</span>
    <span *ngIf="!annotationTypeName">Annotations</span>
  </legend>

  <table>
    <thead>
      <tr>
        <th>Term name</th>
        <th>Term ID</th>
        <th>Evidence</th>
        <th>Reference</th>
      </tr>
    </thead>
    <tbody *ngFor="let annotation of annotationTable">
      <tr>
        <td>{{annotation.term.name}}</td>
        <td><a routerLink="/term/{{annotation.term.termid}}" routerLinkActive="active">{{annotation.term.termid}}</a></td>
        <td>{{annotation.evidence}}</td>
        <td><span *ngIf="annotation.publication">{{annotation.publication.uniquename}}
            <span class="citation">{{annotation.publication.citation}}</span></span></td>
      </tr>
    </tbody>
  </table>
</fieldset>
