.genes-table table th, .genes-table table td {
  padding-right: 25px;
}

.action {
  padding: 0.2em;
  display: inline-block;
}

.action-row {
  float: right;
  margin-bottom: 0.8em;
}

.content {
  clear: both;
}

.description {
  float: left;
  padding-bottom: 1em;
}

.description-prefix {
  font-weight: bold;
  padding-right: 0.2em;
}

.links-title {
  font-weight: bold;
}

th {
  white-space: nowrap;
}

.genes-table .product {
  word-break: break-word;
}

.td-content {
  min-height: 1em;
  display: inline-block;
}

.gene-expression-vis img {
  width: 95%;
}

.na-field::after {
  content: "ND";
  color: #ccc;
}

.documentation-link div {
  display: inline-block;
  margin: 1em 1em 1em 0;
}

.documentation-link img {
  height: 1.0em;
  margin-right: 0.2em;
  vertical-align: text-top;
}
