.genes-table table th, .genes-table table td {
  padding-right: 25px;
}

.action {
  padding: 0.2em;
  display: inline-block;
}

.action-row {
  float: right;
  margin-bottom: 0.8em;
}

.content {
  clear: both;
}

.description {
  float: left;
  padding-bottom: 1em;
  font-weight: bold;
}

.links-title {
  font-weight: bold;
}

th {
  white-space: nowrap;
}

.genes-table .product {
  word-break: break-word;
}

.td-content {
  min-height: 1em;
  display: inline-block;
}
