<div id="term-details">
  <app-loading-spinner *ngIf="!termDetails"></app-loading-spinner>
 
  <div *ngIf="termDetails">
    <div class="details-page-name-and-id">
      {{termDetails.termid}} - {{termDetails.name}}
    </div>

    <div id="term-summary" class="details-page-summary">
      <table>
        <tr>
          <td *ngIf="termDetails.definition" class="details-label">Definition</td>
          <td>{{termDetails.definition}}</td>
        </tr>
      </table>
    </div>

    <hr style="clear: both" />

    <div *ngIf="annotationFeatureType == 'gene'" class="term-page-view-change">
      <a routerLink="/term_genes/{{termDetails.termid}}"
         routerLinkActive="active">View genes annotated with this term ...</a>
    </div>

    <div *ngIf="annotationFeatureType == 'genotype'" class="term-page-view-change">
      <a routerLink="/term_single_allele_genotype_genes/{{termDetails.termid}}"
         routerLinkActive="active">Genes from single-allele genotypes associated with this term ...</a>
    </div>

    <div>
      <app-annotation-table [tableDisplayName]="'Annotations for ' + termDetails.termid + ' and its descendants'"
                            [annotationTypeName]="termDetails.cv_name"
                            [showFeaturesInSummary]="true"
                            [featureInFirstColumn]="true"
                            [annotationTable]="termDetails.rel_annotations"></app-annotation-table>
    </div>
  </div>
</div>
