<div id="term-details">
  <app-loading-spinner *ngIf="!termDetails"></app-loading-spinner>
 
  <div *ngIf="termDetails">
    <div class="details-page-name-and-id">
      {{termDetails.termid}} - {{termDetails.name}}
    </div>

    <div id="term-summary" class="details-page-summary">
      <table>
        <tr>
          <td *ngIf="termDetails.definition" class="details-label">Definition</td>
          <td *ngIf="filteredAncestors.length > 0" class="details-label">Parents</td>
        </tr>
        <tr *ngFor="let parentDetails of filteredAncestors; let firstRow = first">
          <td *ngIf="firstRow" [attr.rowspan]="filteredAncestors.length">{{termDetails.definition}}</td>
          <td class="term-parent-column">
            <span class="details-label term-parent-rel">{{parentDetails.relation_name}}</span>
            <a routerLink="/term/{{parentDetails.termid}}"
               routerLinkActive="active">{{parentDetails.term_name}}</a>
          </td>
        </tr>
      </table>
    </div>

    <hr style="clear: both" />

    <div *ngIf="annotationFeatureType == 'gene'" class="term-page-view-change">
      <a routerLink="/term_genes/{{termDetails.termid}}"
         routerLinkActive="active">View genes annotated with this term ...</a>
    </div>

    <div *ngIf="annotationFeatureType == 'genotype'" class="term-page-view-change">
      <div>
        <a routerLink="/term_genotypes/{{termDetails.termid}}">Single-allele genotypes associated with this term ...</a>
      </div>
      <div>
        <a routerLink="/term_single_allele_genotype_genes/{{termDetails.termid}}"
           routerLinkActive="active">Genes from single-allele genotypes associated with this term ...</a>
      </div>
    </div>

    <div>
    <div *ngFor="let annotationTypeName of annotationTypeNames">

      <div *ngIf="termDetails.cv_annotations[annotationTypeName]">
        <app-annotation-table id="{{annotationTypeName}}"
                              *ngIf="annotationTypeName != 'qualitative_gene_expression' && annotationTypeName != 'quantitative_gene_expression'"
                              [tableDisplayName]="config.annotationTypes[annotationTypeName].display_name + ' annotations for ' + termDetails.termid + ' and its descendants'"
                              [annotationTypeName]="termDetails.cv_name"
                              [featureInFirstColumn]="true"
                              [annotationTable]="termDetails.cv_annotations[annotationTypeName]"></app-annotation-table>
      </div>
    </div>
  </div>
</div>
