<div id="term-details">
  <app-loading-spinner *ngIf="!termDetails"></app-loading-spinner>
 
  <div *ngIf="termDetails">
    <div class="details-page-name-and-id">
      {{termDetails.termid}}
    </div>

    <hr style="clear: both" />

    <div id="term-summary" class="details-page-summary">
      <table>
        <tr>
          <td class="details-label">Name</td>
          <td class="term-name">{{termDetails.name}}</td>
        </tr>
        <tr>
          <td *ngIf="termDetails.definition" class="details-label">Definition</td>
          <td>{{termDetails.definition}}</td>
        </tr>
      </table>
    </div>

    <hr style="clear: both" />

    <div class="term-page-view-change">
      <a routerLink="/term_genes/{{termDetails.termid}}"
         routerLinkActive="active">View genes annotated with this term ...</a>
    </div>

    <div>
      <app-annotation-table [hideColumns]="['gene_count']"
                            [annotationTypeName]="'Annotations for ' + termDetails.termid + ' or its descendants: ' + annotations.length"
                            [annotationTable]="annotations"></app-annotation-table>
    </div>
  </div>
</div>
