<fieldset *ngIf="genes.length > 0" class="genes-table">
  <legend>
    <span>{{legend}}</span>
  </legend>

  <div *ngIf="showPagination">
    <span style="float: right;">
      <button class="btn btn-primary btn-sm" (click)="showAll()">Show all</button>
    </span>
    <pagination [totalItems]="genes.length"
                [(ngModel)]="currentPage"
                [maxSize]="6"
                [boundaryLinks]="true"
                [rotate]="false"
                [itemsPerPage]="itemsPerPage"
                (pageChanged)="onPageChange($event)"
                (numPages)="numPages = $event"></pagination>
  </div>

  <table>
    <thead>
      <tr>
        <th>Gene</th>
        <th>Product</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gene of thisPageGenes">
        <td>
          <app-gene-link [gene]="gene"></app-gene-link>
        </td>
        <td>{{gene.product}}</td>
      </tr>
    </tbody>
  </table>
</fieldset>
