<div>
    <app-loading-spinner *ngIf="!alleleDetails && !apiError"></app-loading-spinner>
    <app-api-error-display *ngIf="apiError" [error]="apiError"></app-api-error-display>
    <div id="allele-details" *ngIf="alleleDetails && !apiError">
      <app-social-contact></app-social-contact>
      <div class="details-page-name-and-id">
        <span class="details-page-name-and-id-prefix">Allele:</span>
        <span class="name-id-highlight" [innerHTML]="displayName"></span>
      </div>
      <div id="allele-summary" class="details-page-summary">
        <div class="details-label">Name</div>
        <div>{{alleleDetails.name}}</div>
        <div class="details-label">Description</div>
        <div>{{alleleDetails.description}}</div>
        <div class="details-label">Type</div>
        <div>{{alleleDetails.allele_type}}</div>
        <div *ngIf="synonymString" class="details-label">Synonyms</div>
        <div *ngIf="synonymString">{{synonymString}}</div>
      </div>

      <div class="allele-details-genotypes">
        <h5>
          Genotypes:
        </h5>
        <div *ngFor="let genotypeObj of genotypes">
          <app-genotype-link [genotype]="genotypeObj.genotypeShort"></app-genotype-link>
        </div>
      </div>
   </div>
</div>

