#allele-summary {
  display: inline-grid;
  grid-template-columns: min-content auto min-content auto;
}


#allele-summary div:nth-child(odd) {
  margin: 0.2em 0.5em 0.2em 0;
  min-width: 6em;
}

#allele-summary div:nth-child(even) {
  margin: 0.2em 3em 0.2em 0;
}

.allele-details-genotypes {
  margin-top: 2em;
}
