.genotype-details-page-summary {
  padding-bottom: 15px;
  border-bottom: 1px solid #bbb;
}

.genotype-name {
  font-size: 130%;
  padding-bottom: 1em;
}

.genotype-comment {
  font-size: 120%;
  padding-bottom: 1em;
}

.expressed-alleles {
  font-size: 120%;
}

.allele-summary {
  padding: 0.5em;
}
