<div id="term-single-gene-genotypes-view">
  <app-loading-spinner *ngIf="!termDetails"></app-loading-spinner>

  <div *ngIf="termDetails">
    <app-social-contact></app-social-contact>

    <app-term-page-summary [termDetails]="termDetails"></app-term-page-summary>

    <div class="term-actions">
      <span class="title">Actions: </span>
      <a routerLink="/query/save/from/term_subset/{{termDetails.termid}}/{{termDetails.name}}">
        Use these genes in query...
      </a>
    </div>

    <hr style="clear: both" />

    <div class="term-page-view-change">
      <a routerLink="/term/{{termDetails.termid}}"
         routerLinkActive="active">View all annotations for this term ...</a>
    </div>

    <div>
      <app-genes-table [legend]="'Genes from single-allele genotypes annotated with ' + termDetails.termid + ' or its descendants: ' + singleAlleleGenotypeGenes.length"
                       [genes]="singleAlleleGenotypeGenes"></app-genes-table>
    </div>
  </div>
</div>
