<div class="recent-news">
<div class="news-item">
<img class="newsfeed-thumbnail" src="/assets/newsfeed/PombeTalks32px.png"/>
<h4 id="pombetalks-july-21st"><strong>PombeTalks July 21st</strong></h4>
<p><em>2021-07-14</em></p>
<p>The next online PombeTalks will take place on Wednesday <strong>21st July</strong> 2021, at 10:00 <a href="https://greenwichmeantime.com/time-zone/europe/european-union/central-european-time/">Central European Time</a> / 17:00 <a href="https://greenwichmeantime.com/time-zone/gmt-plus-9/">Japan &amp; Korea</a>. Speakers:</p>
<ul>
<li><p><strong>Yoko Otsubo</strong>, Yamashita lab, National Institute for Basic Biology: <em>Novel links between TORC1 and traditional non-coding RNA, tRNA</em></p></li>
<li><p><strong>Jie Su</strong>, Nakagawa lab, Osaka University: <em>Rad8-dependent PCNA ubiquitination at lysine 107 causes gross chromosomal rearrangements</em></p></li>
</ul>
<p>Talks will be streamed live via <a href="https://zoom.us/">Zoom</a>. The link will be circulated via <a href="https://lists.cam.ac.uk/mailman/listinfo/ucam-pombelist">pombelist</a> and PombeSlack one day in advance, so make sure you’ve signed up. Also see PombeSlack for Q&amp;A after the talks, and for recordings of previous sessions.</p>
<p>PombeTalks will continue with its fortnightly schedule, and every third session will take place at the Asia-friendly time. Watch this space, pombelist, or PombeSlack for updates, and please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSdjnkJfadUwM2eKIBJBQXeLt3aOfzrQEb3D8lvNym1g93DIRQ/viewform">this form</a> if you’re interested in speaking.</p>
<p>Thanks to the PombeTalks team for organizing. See you online!</p>

</div>
<div class="news-item">
<img class="newsfeed-thumbnail" src="/assets/newsfeed/kegg3.png"/>
<h4 id="kegg-pathway-links"><strong>KEGG pathway links</strong></h4>
<p><em>2021-07-06</em></p>
<p>PomBase gene pages now have links to pathway entries in the Kyoto Encyclopedia of Genes and Genomes (KEGG) database, as well as links to gene lists for each linked pathway (example: <a href="https://www.pombase.org/term/KEGG_PW:spo01210">2-Oxocarboxylic acid metabolism</a>). The KEGG pathway links are the first entry in a new gene page section, “Molecular pathway”, dedicated to connecting genes in PomBase to depictions of biochemical and signaling pathways.</p>

</div>
<div class="news-item">
<img class="newsfeed-thumbnail" src="/assets/newsfeed/interpro_32px.png"/>
<h4 id="pombase-now-uses-interpro-version-86.0"><strong>PomBase now uses InterPro Version 86.0</strong></h4>
<p><em>2021-06-30</em></p>
<p>PomBase now uses InterPro Version 86.0, which integrates:</p>
<ul>
<li>299 new InterPro entries</li>
<li>An update to PROSITE patterns [2021_01] and PROSITE profiles [2021_01]</li>
<li>454 new methods from the PROSITE profiles (39), SMART (2), Pfam (7), SUPERFAMILY (3), CATH-Gene3D (80), PANTHER (295), CDD (27), SFLD (1) databases.</li>
</ul>
<p>InterPro cites 52235 publications in PubMed. See the <a href="https://www.ebi.ac.uk/interpro/release_notes/">InterPro release notes</a> for further information.</p>

</div>
<div class="news-item">
<img class="newsfeed-thumbnail" src="/assets/newsfeed/advanced_search.png"/>
<h4 id="violin-plots-for-gene-expression"><strong>Violin plots for gene expression</strong></h4>
<p><em>2021-06-15</em></p>
<p>The “Quantitative gene expression” section of PomBase gene pages now offers a display of <a href="https://en.wikipedia.org/wiki/Violin_plot">violin plots</a> to visualize where the gene appears in available expression datasets.</p>
<p>Violin plots are also available to visualize sets of up to 150 genes in the advanced search results.</p>
<p>At present data from <a href="https://www.pombase.org/reference/PMID:23101633">Marguerat S <em>et al.</em> (2012)</a> and <a href="https://www.pombase.org/reference/PMID:24763107">Carpy A <em>et al.</em> (2014)</a> are included.</p>

</div>
<div class="news-item">
<img class="newsfeed-thumbnail" src="/assets/newsfeed/pombelist.png"/>
<h4 id="new-diploid-genotype-phenotype-display"><strong>New diploid genotype &amp; phenotype display</strong></h4>
<p><em>2021-04-29</em></p>
<p>PomBase now includes pages for curated diploid genotypes, and displays phenotypes annotated to them on gene and publication pages. For more details see the documentation for <a href="documentation/gene-page-phenotypes">phenotype annotations</a> and <a href="documentation/genotype-page">genotype pages</a>.</p>

</div>

<div id="archive-link"><a routerLink="/news/">News archive ...</a></div>
</div>

