<div class="recent-news">
<div class="news-item">
<img loading="lazy" class="newsfeed-thumbnail" src="/assets/newsfeed/human disease.png"/>
<h4 id="improved-gene-disease-curation-over-1400-s.-pombe-genes"><strong>Improved gene-disease curation: over 1400 S. pombe genes</strong></h4>
<p><em>2021-08-06</em></p>
<p>PomBase disease gene curation associates disease descriptors with fission yeast orthologs of human disease-causing genes. We have added new gene–disease term connections, to bring the total to 1401 <em>S. pombe</em> genes. Disease associations now cover 27.3% of all fission yeast protein-coding genes, and almost 40% with human orthologs.</p>

</div>
<div class="news-item">
<img loading="lazy" class="newsfeed-thumbnail" src="/assets/newsfeed/Ofd2_structure_32px.png"/>
<h4 id="alphafold-links"><strong>AlphaFold links</strong></h4>
<p><em>2021-07-28</em></p>
<p>PomBase gene pages now have links to the AlphaFold Protein Structure Database, the collection of structures predicted by AI developed by DeepMind, hosted at EBI. Look in the “External references” section of your favorite gene page, or check out <a href="https://alphafold.ebi.ac.uk/entry/Q01663">this example (pap1)</a>, or read more at the <a href="https://alphafold.ebi.ac.uk/">EBI AlphaFold home</a>.</p>

</div>
<div class="news-item">
<img loading="lazy" class="newsfeed-thumbnail" src="/assets/newsfeed/kegg3.png"/>
<h4 id="kegg-pathway-links"><strong>KEGG pathway links</strong></h4>
<p><em>2021-07-06</em></p>
<p>PomBase gene pages now have links to pathway entries in the Kyoto Encyclopedia of Genes and Genomes (KEGG) database, as well as links to gene lists for each linked pathway (example: <a href="https://www.pombase.org/term/KEGG_PW:spo01210">2-Oxocarboxylic acid metabolism</a>). The KEGG pathway links are the first entry in a new gene page section, “Molecular pathway”, dedicated to connecting genes in PomBase to depictions of biochemical and signaling pathways.</p>

</div>
<div class="news-item">
<img loading="lazy" class="newsfeed-thumbnail" src="/assets/newsfeed/interpro_32px.png"/>
<h4 id="pombase-now-uses-interpro-version-86.0"><strong>PomBase now uses InterPro Version 86.0</strong></h4>
<p><em>2021-06-30</em></p>
<p>PomBase now uses InterPro Version 86.0, which integrates:</p>
<ul>
<li>299 new InterPro entries</li>
<li>An update to PROSITE patterns [2021_01] and PROSITE profiles [2021_01]</li>
<li>454 new methods from the PROSITE profiles (39), SMART (2), Pfam (7), SUPERFAMILY (3), CATH-Gene3D (80), PANTHER (295), CDD (27), SFLD (1) databases.</li>
</ul>
<p>InterPro cites 52235 publications in PubMed. See the <a href="https://www.ebi.ac.uk/interpro/release_notes/">InterPro release notes</a> for further information.</p>

</div>
<div class="news-item">
<img loading="lazy" class="newsfeed-thumbnail" src="/assets/newsfeed/advanced_search.png"/>
<h4 id="violin-plots-for-gene-expression"><strong>Violin plots for gene expression</strong></h4>
<p><em>2021-06-15</em></p>
<p>The “Quantitative gene expression” section of PomBase gene pages now offers a display of <a href="https://en.wikipedia.org/wiki/Violin_plot">violin plots</a> to visualize where the gene appears in available expression datasets.</p>
<p>Violin plots are also available to visualize sets of up to 150 genes in the advanced search results.</p>
<p>At present data from <a href="https://www.pombase.org/reference/PMID:23101633">Marguerat S <em>et al.</em> (2012)</a> and <a href="https://www.pombase.org/reference/PMID:24763107">Carpy A <em>et al.</em> (2014)</a> are included.</p>

</div>
<div class="news-item">
<img loading="lazy" class="newsfeed-thumbnail" src="/assets/newsfeed/pombelist.png"/>
<h4 id="new-diploid-genotype-phenotype-display"><strong>New diploid genotype &amp; phenotype display</strong></h4>
<p><em>2021-04-29</em></p>
<p>PomBase now includes pages for curated diploid genotypes, and displays phenotypes annotated to them on gene and publication pages. For more details see the documentation for <a href="documentation/gene-page-phenotypes">phenotype annotations</a> and <a href="documentation/genotype-page">genotype pages</a>.</p>

</div>

<div id="archive-link"><a routerLink="/news/">News archive ...</a></div>
</div>

