<div>
  <app-loading-spinner *ngIf="genes.length == 0"></app-loading-spinner>
<fieldset *ngIf="genes.length > 0" class="genes-table">
  <legend>
    <span>{{legend}}</span>
  </legend>

  <table>
    <thead>
      <tr>
        <th>Gene</th>
        <th>Product</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gene of genes | geneShortOrderBy">
        <td>
          <app-gene-link [gene]="gene"></app-gene-link>
        </td>
        <td>{{gene.product}}</td>
      </tr>
    </tbody>
  </table>
</fieldset>
</div>
