<div *ngIf="geneSlimTerms" class="go-slim-summary">
  <div *ngIf="geneSlimTerms.length > 0">
  <div>
    <a class="heading" routerLink="/browse-curation/fission-yeast-go-slim-terms">Biological process overview (GO slim)</a>
  </div>
  <div class="go-slim-link-container">
  <span class="go-slim-links" *ngFor="let element of geneSlimTerms">
    <a routerLink="/term_genes/{{element.termid}}">{{element.name}}</a>
  </span>
  </div>
  </div>
  <div class="heading" *ngIf="geneSlimTerms.length == 0">
    This gene is not in any <a routerLink="/browse-curation/fission-yeast-go-slim-terms"> biological process GO Slim category</a>
  </div>
</div>
