.extension-display {
  font-size: 95%;
}

.extension-rel-name {
  font-weight: bold;
}

.summary-gene-and-comma, .summary-transcript-and-comma {
  white-space: nowrap;
}

.ext-range-gene {
  white-space: nowrap;
}
