<div>
  <app-loading-spinner *ngIf="!slimSubset && !apiError"></app-loading-spinner>
  <app-api-error-display *ngIf="apiError" [error]="apiError"></app-api-error-display>

  <div *ngIf="slimSubset">
  <table class="slim-table">
    <thead>
      <th>Name</th>
      <th>Term</th>
      <th>Genes</th>
    </thead>
    <tbody>
      <tr *ngFor="let element of slimSubset.elements">
        <td>{{element.name}}</td>
        <td>
          <a routerLink="/term/{{element.termid}}" routerLinkActive="active">{{element.termid}}</a>
        </td>
        <td>
          <a routerLink="/term_genes/{{element.termid}}" routerLinkActive="active">{{element.gene_count}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
