<table class="genotype-allele-summary">
  <thead>
    <th>Gene</th>
    <th>Allele</th>
    <th>Type</th>
    <th>Expression</th>
  </thead>
  <tbody>
    <tr *ngFor="let expressedAllele of genotypeDetails.expressed_alleles">
      <td><app-gene-link class="app-link" [long]="false" [gene]="expressedAllele.allele.gene"></app-gene-link></td>
      <td>
        <span [innerHTML]="alleleDisplayName(expressedAllele.allele)"></span>
      </td>
      <td>{{expressedAllele.allele.allele_type}}</td>
      <td>{{expressedAllele.expression}}</td>
    </tr>
  </tbody>
</table>
