tr:nth-child(odd) {
  background-color: #f3f3fa;
}

tr ul {
  margin: 0;
}

td, th {
  padding: 0.5em;
  vertical-align: top;
}

details summary {
  white-space: nowrap;
}

table {
  margin: 0.5em 1em;
  max-width: 1000px;
}
