.slim-summary {
  padding: 0 5px 0 5px;
  border: 1px solid #bbb;
  border-radius: 2px;
  background-color: #FFFFEE;
  font-size: 90%;
  line-height: 2em;
  margin-bottom: 0.6em;
}

.slim-links span {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0 0 0 0.5em;
  border: 1px solid #bbb;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  background-color: #F9F9F9;
  white-space: nowrap;
}

.slim-summary .heading {
  font-weight: bold;
  padding: 2px;
}

.slim-link-container {
  padding: 0 0.3em 0.4em 0.3em;
}
