<div class="introduction">
<div class="row">

<div class="col-sm-6">
Welcome to the new PomBase website. Although it's still under
development, nightly data updates are working and several new features
are now available:

<ul>
  <li>Publication pages</li>
  <li>Genotype pages</li>
  <li>Improved gene pages with reduced redundancy in annotation summary views </li>
  <li>Improved ontology term pages showing annotated descendant terms and links to ancestor terms</li>
  <li>Phenotypic "grouping" filters on gene pages and phenotype ontology term pages</li>
</ul>

Over the next few months we plan to add:

<ul>
<li>Improved query interface</li>
<li>JBrowse genome browser</li>
<li>Protein feature viewer</li>
<li>Network viewer</li>
</ul>

<div>
Please tell us what you think of the new look and function of the
PomBase pages, and what you'd most like to see next.
</div>

<app-contact-email [linkName]="'Contact curators ...'"
                   [subject]="'Comment on the new PomBase'"></app-contact-email>

<div class="social">
  <a routerLink="/about/pombe-mailing-list" routerLinkActive="active"><img title="PomBase mailing list" src="assets/pombe_email_icon.png"/></a>
  <a href="https://twitter.com/PomBase"><img title="@PomBase on Twitter" src="assets/twitter_icon.png"/></a>
  <a href="https://www.facebook.com/pombase"><img title="@PomBase on Facebook" src="assets/facebook_icon.png"/></a>
  <a href="https://github.com/pombase"><img title="PomBase on GitHub" src="assets/github_icon.png"/></a>
  <a href="https://plus.google.com/+PombaseOrg"><img title="PomBase on Google+" src="assets/google_plus_icon.png"/></a>
  <a href="https://www.linkedin.com/company/pombase"><img title="PomBase on LinkedIn" src="assets/linkedin_icon.png"/></a>
</div>

</div>

<div class="col-sm-5 rotating-image">
  <img [attr.src]="'assets/' + rightImageName" />
</div>
</div>
</div>

<hr style="clear: both" />

<div>
  <div class="eg-list">
    Docs:
    <ul>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/documentation" routerLinkActive="active">Documentation</a></li>
      <li><a href="http://www.pombase.org/faq">Frequently asked questions</a></li>
      <li><a routerLink="/status" routerLinkActive="active">Genome status</a></li>
      <li><a routerLink="/community" routerLinkActive="active">Community docs</a></li>
      <li><a routerLink="/browse-curation" routerLinkActive="active">Browsing and searching</a></li>
      <li><a routerLink="/browse-curation/fission-yeast-go-slim-terms" routerLinkActive="active">GO Slim terms</a></li>
      <li><a href="https://curation.pombase.org/pombe/stats/annotation">Curation statistics</a></li>
    </ul>
  </div>
  <div class="eg-list">
    PomBase 2017 infographic
    <div>
      <a href="https://curation.pombase.org/media/pombase-2017-infographic.png">
        <img src="https://curation.pombase.org/media/pombase-2017-infographic-small.png" />
      </a>
    </div>
  </div>
  <div class="eg-list">
    Improved gene pages (examples):
    <ul>
      <li><a routerLink="/gene/SPBC11B10.09">cdc2</a></li>
      <li><a routerLink="/gene/SPAC2F7.03c">pom1</a></li>
      <li><a routerLink="/gene/SPCC18B5.03">wee1</a></li>
      <li><a routerLink="/gene/SPAC24B11.06c">sty1</a></li>
    </ul>
  </div>
  <div class="eg-list">
    Improved term pages - GO terms (examples):
    <ul>
      <li><a routerLink="/term/GO:0006260">DNA replication (GO slim process)</a></li>
      <li><a routerLink="/term/GO:0000070">mitotic sister chromatid segregation (GO slim process)</a></li>
      <li><a routerLink="/term/GO:0006399">tRNA metabolic process (GO slim process)</a></li>
      <li><a routerLink="/term/GO:0004674">protein serine/threonine kinase activity (GO molecular function)</a></li>
    </ul>
  </div>
  <div class="eg-list">
    Improved term pages - phenotypes (examples):
    <ul>
      <li><a routerLink="/term/FYPO:0000032">abnormal cytokinesis</a></li>
      <li><a routerLink="/term/FYPO:0000059">abnormal mitotic cell cycle</a></li>
      <li><a routerLink="/term/FYPO:0000134">branched, elongated, multiseptate cell</a></li>
    </ul>
  </div>
  <div class="eg-list">
    New publication pages (examples):
    <ul>
      <li><a routerLink="/reference/PMID:27005325">Pluskal T et al. (2016)</a></li>
      <li><a routerLink="/reference/PMID:24554432">Kokkoris K et al. (2014)</a></li>
      <li><a routerLink="/reference/PMID:25795664">Sánchez A et al. (2015)</a></li>
      <li><a routerLink="/reference/PMID:25688133">Willet AH et al. (2015)</a></li>
      <li><a routerLink="/reference/PMID:25987607">Yukawa M et al. (2015)</a></li>
    </ul>
  </div>
</div>

<div class="metadata">
  <div>Database created: {{metadata?.db_creation_datetime}}</div>
  <div>{{metadata?.export_prog_name}} v{{metadata?.export_prog_version}}</div>
</div>
