.front-container {
  padding: 0 1em 0 1em;
  margin: 0 auto;
  max-width: 1050px;
}

.metadata {
  float: right;
  padding: 0 0.5em 0 0.5em;
  color: grey;
}

.metadata .pombase-chado-json {
  display: none;
}

.front-page-list {
  display: inline-block;
  vertical-align: top;
  padding: 0.5em 1em 0.5em 1em;
}

.front-page-list-title {
  font-size: 110%;
  margin-bottom: 0.5em;
  display: inline-block;
  font-weight: bold;
}

.welcome {
  clear: both;
  width: 48%;
  display: block;
  float: left;
}

.welcome-title {
  font-size: 150%;
  clear: both;
  font-weight: bold;
}

.welcome-content {
  font-size: 110%;
}

.front-page-box {
/*  border: 1.5px solid #157; */
  background-color: #edffdf;
  display: inline-block;
  padding: 0.4em 0.8em 0.4em 0.8em;
  margin: 2em 0.4em 0 3em;
  border-radius: 0.4em;
}

.sect-content li {
}

.sect-content {
}

.rotating-image img {
  width: 95%;
  height: auto;
  margin-bottom: 1em;
}

.social {
  padding: 10px 0 10px 0;
  width: 50%;
}

.social div {
  width: 50%;
}

.social img {
  padding: 0 4px 0 4px;
}

#pombase-contacts {
  margin: 0.2em 0 0.4em 0;
  float: right;
}

#top-row {
  clear: both;
}

.recent-news {
}

.recent-news > div {
  font-size: 80%;
}

.quick-links {
  font-size: 120%;
  width: 48%;
  display: block;
  float: right;
}

.quick-links-group {
  display: block;
  margin: 0em 1em 0.5em 1em;
  white-space: nowrap;
}

.quick-links-group span {
  white-space: nowrap;
}

.front-callout {
  display: none;
  margin: 1em 0 0 0;
}

.archive-link-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.4em 0 0 0;
}

.archive-link-container a {
  font-size: 90%;
  color: #538abf;
  padding: 0.1em;
}
