<div class="introduction">
<div class="metadata">
  <div>Database created: {{metadata?.db_creation_datetime}}</div>
  <div>{{metadata?.export_prog_name}} v{{metadata?.export_prog_version}}</div>
</div>

<div>
Welcome to the new PomBase website. Although it's still under
development, nightly data updates are working and several new features
are now available:

<ul>
  <li>Publication pages</li>
  <li>Genotype pages</li>
  <li>Improved gene pages with reduced redundancy in annotation summary views </li>
  <li>Improved ontology term pages showing annotated descendant terms and links to ancestor terms</li>
</ul>

Over the next few months we plan to add:

<ul>
<li>Improved query interface</li>
<li>JBrowse genome browser</li>
<li>Protein feature viewer</li>
<li>Network viewer</li>
</ul>

Please tell us what you think of the new look and function of the
PomBase pages, and what you'd most like to see next.
<app-contact-email [linkName]="'Contact curators ...'"
                   [subject]="'Comment on the new PomBase'"></app-contact-email>
</div>
</div>

<hr style="clear: both" />

<div class="row">
  <div class="col-md-2">
    Example genes:
    <ul>
      <li><a routerLink="/gene/SPBC11B10.09">cdc2</a></li>
      <li><a routerLink="/gene/	SPAC2F7.03c">pom1</a></li>
      <li><a routerLink="/gene/SPCC18B5.03">wee1</a></li>
      <li><a routerLink="/gene/SPAC24B11.06c">sty1</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    Example GO terms:
    <ul>
      <li><a routerLink="/term/GO:0006260">DNA replication (GO slim process)</a></li>
      <li><a routerLink="/term/GO:0000070">mitotic sister chromatid segregation (GO slim process)</a></li>
      <li><a routerLink="/term/GO:0006399">tRNA metabolic process (GO slim process)</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    Example phenotype terms:
    <ul>
      <li><a routerLink="/term/FYPO:0000032">abnormal cytokinesis</a></li>
      <li><a routerLink="/term/FYPO:0000059">abnormal mitotic cell cycle</a></li>
      <li><a routerLink="/term/FYPO:0002050">branched elongated multinucleate aseptate vegetative cell</a></li>
    </ul>
  </div>
  <div class="col-md-2">
    Example publications:
    <ul>
      <li><a routerLink="/reference/PMID:1527180">Marks J et al. (1992)</a></li>
      <li><a routerLink="/reference/PMID:8039497">Fankhauser C et al. (1994)</a></li>
      <li><a routerLink="/reference/PMID:18257517">Wilson-Grady JT et al. (2008)</a></li>
    </ul>
  </div>
  <div class="col-md-2">
    Docs:
    <ul>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/status" routerLinkActive="active">Genome status</a></li>
      <li><a routerLink="/community" routerLinkActive="active">Community docs</a></li>
      <li><a routerLink="/browse-curation" routerLinkActive="active">Browsing and searching</a></li>
    </ul>
  </div>
</div>

