.front-container {
  margin: 0 auto;
  max-width: 1050px;
}

.metadata {
  float: right;
  padding: 0 0.5em 0 0.5em;
  color: grey;
}

.metadata .pombase-chado-json {
  display: none;
}

.front-page-list {
  display: inline-block;
  vertical-align: top;
  padding: 0.5em 1em 0.5em 1em;
}

.front-page-list-title {
  margin-bottom: 0.5em;
  display: inline-block;
  font-weight: bold;
}

.welcome {
  clear: both;
  display: block;
}

@media (max-width: 799px) {
  .welcome {
  }
}
@media (min-width: 800px) {
  .welcome {
    float: left;
    width: 48%;
  }
}

.welcome-title {
  font-weight: bold;
  padding: 0.7em 0 0.1em 0;
  clear: both;
}

.welcome-content {
  font-size: 110%;
}

.front-page-box {
/*  border: 1.5px solid #157; */
  background-color: #edffdf;
  display: inline-block;
  padding: 0.4em 0.8em 0.4em 0.8em;
  margin: 2em 0.4em 0 3em;
  border-radius: 0.4em;
}

.sect-content li {
}

.sect-content {
}

.rotating-image img {
  width: 95%;
  height: auto;
  margin-bottom: 1em;
}

#top-row {
  clear: both;
}

.recent-news {
}

.recent-news > div {
  font-size: 80%;
}

.quick-links {
  font-size: 120%;
  display: block;
}

@media (min-width: 800px) {
  .quick-links {
    float: right;
    width: 48%;
  }
}

@media (max-width: 799px) {
  .quick-links {
    padding-top: 1em;
  }
}

.quick-links-group {
  display: block;
  margin: 0em 1em 0.5em 1em;
}

@media (min-width: 1100px) {
  .quick-links-group {
    white-space: nowrap;
  }
}

.quick-links-group span {
  white-space: nowrap;
}

.front-callout {
  display: none;
  margin: 1em 0 0 0;
}

.archive-link-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.4em 0 0 0;
}

.archive-link-container a {
  font-size: 90%;
  color: #538abf;
  padding: 0.1em;
}

.front-news-feed {
  grid-column: 1 / span 2;
}

.front-twitter-feed {
  height: 60em;
  overflow-y: auto;
}

@media (min-width: 800px) {
  .front-container {
    padding: 0 1em;
  }
  .panel-container {
    margin: 2.5em;
  }
}

@media (max-width: 799px) {
  .front-container {
    padding: 0 0.3em;
  }
  .panel-container {
    margin: 1.5em 0.5em;
  }
}
