.introduction {
  padding: 1.2em 0.6em 0.6em 0.6em;
  font-size: 110%;
}

.metadata {
  float: right;
  padding: 0 0.5em 0 0.5em;
  color: #eee;
}

.eg-list {
  display: inline-block;
  vertical-align: top;
  padding: 1em 2em 1em 2em;
}
