.ref-group-header {
  font-weight: bold;
  font-size: 110%;
}

.ref-group-list {
  padding: 5px 10px 5px 10px;
}

.reference-page-title {
  font-weight: bold;
  font-size: 140%;
  display: inline-block;
}

@media (min-width: 600px) {
  .reference-page-title {
    margin: 0 6em 1em 0;
  }
}

@media (max-width: 600px) {
  .reference-page-title {
    margin: 0 1em 1em 0;
  }
}

.other-ref-page {
  display: inline-block;
  margin: 0 1em 1em 0;
}