<div id="term-genotype-view">
  <app-loading-spinner *ngIf="!termDetails"></app-loading-spinner>

  <div *ngIf="termDetails">
    <app-contact-email class="contact-email" [linkName]="'Contact curators ...'"
                       [subject]="'Comment or problem report'"></app-contact-email>


    <app-term-page-summary [termDetails]="termDetails"></app-term-page-summary>

    <hr style="clear: both" />

    <div class="term-page-view-change">
      <a routerLink="/term/{{termDetails.termid}}"
         routerLinkActive="active">View all annotations for this term ...</a>
    </div>

    <div>
      <app-genotypes-table [legend]="'Single-allele genotypes annotated with ' + termDetails.termid + ' or its descendants: ' + termDetails.single_allele_genotype_uniquenames.length"
                           [genotypes]="termDetails.single_allele_genotypes"></app-genotypes-table>
    </div>
  </div>
</div>
