<div id="term-genotype-view">
  <app-loading-spinner *ngIf="!termDetails"></app-loading-spinner>

  <div *ngIf="termDetails">
    <div class="details-page-name-and-id">
      Single-allele genotypes annotated with {{termDetails.termid}}
    </div>

    <div class="details-page-summary">
      {{termDetails.name}}
    </div>

    <hr style="clear: both" />

    <div class="term-page-view-change">
      <a routerLink="/term/{{termDetails.termid}}"
         routerLinkActive="active">View all annotations for this term ...</a>
    </div>

    <div>
      <app-genotypes-table [legend]="'Single-allele genotypes annotated with ' + termDetails.termid + ' or its descendants: ' + termDetails.single_allele_genotype_uniquenames.length"
                           [genotypes]="termDetails.single_allele_genotypes"></app-genotypes-table>
    </div>
  </div>
</div>
