.vis-main {
  margin: 0 1em 2em 1em;
  user-select: none;
}

.vis-column-select, .vis-results, .vis-results-and-selected {
  display: inline-block;
  vertical-align: top;
}

.vis-gene-details {
  display: inline;
}

@media (min-width: 1100px) {
  .vis-column-select {
    min-width: 17em;
    margin-top: 3em;
    display: inline-block;
  }
}
@media (max-width: 1100px) {
  .vis-column-select {
    margin-top: 0.5em;
    display: block;
  }
}
@media (max-width: 800px) {
  .vis-results {
    width: 100%;
    overflow: auto;
  }
  .vis-selected-genes {
    margin: 0.5em 0 0 0;
  }
}
@media (min-width: 900px) {
  .vis-selected-genes {
    margin: 120px 0 0 1em;
  }
}

.vis-selected-genes {
  user-select: text;
  display: inline-block;
}

.feature-size {
  user-select: none;
}

.gene-name-and-product {
  margin-bottom: 0.3em;
  max-width: 30em;
}

.gene-name {
  font-weight: bold;
}

.vis-gene:nth-child(10n):hover, .vis-gene:hover, rect.vis-gene-selected:hover {
  fill: #34b;
}

.vis-selected-genes button {
  margin-top: 1em;
}

.vis-selected-genes-heading {
  font-weight: bold;
}

.vis-selected-genes-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 2em;
}

rect.vis-column {
  stroke-width: 0;
}

rect.vis-column:hover {
  fill-opacity: 1;
  stroke-width: 2;
  stroke: #555;
}

.svg-download {
  padding: 0.5em 0;
}

.pop-up-help {
  margin-top: 0.4em;
  font-size: 90%;
  opacity: 0.8;
}

.delete-user-link img {
  height: 1em;
  vertical-align: text-top;
}

.loading {
  font-size: 150%;
  padding: 2em;
}

.extra-column-control {
  padding: 1em 0;
}

.vis-column-select-line {
  margin: 0.15em 0;
}

.column-display-name {
  max-width: 18em;
  display: inline-block;
  overflow-x: clip;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.active-checkbox {
  margin: 0.05em 0.2em;
}

.disabled-sort {
  color: #ccc;
}
