.title {
  font-weight: bold;
}

.nucleotide-controls {
  padding: 0.6em 1em;
}
.field-column {
  float: left;
  padding: 1em;
}

.select-actions {
  clear: both;
}

.nucleotide-controls .flanking-bases input {
  width: 6em;
}

.nucleotide-controls input {
  margin: 0.3em;
}

#include-exons {
  color: #999;
}
