.title {
  font-weight: bold;
}

.nucleotide-controls {
  padding: 0.6em 1em;
}

.field-column {
  display: inline-block;
  vertical-align: top;
  padding-top: 1em;
}

.field-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(15, auto);
  grid-auto-flow: column;
  margin: 1.5em;
  width: 100%;
}

.field-input {
  white-space: nowrap;
}

.seq-control {
  margin-top: 1em;
}

.seq-column {
  display: inline-block;
  padding: 1em;
  min-width: 15em;
}

.seq-column input {
  margin-top: 0.3em;
}

.nucleotide-controls .flanking-bases input {
  width: 6em;
}

.nucleotide-controls input {
  margin: 0.3em;
}

.select-all-action {
  grid-row: span 2;
  margin-top: 1.5em;
}

.gaf-container {
  margin-bottom: 3em;
}

.gaf-help {
  margin: 1em;
}

.gaf-title {
  font-size: 110%;
  margin: 0.5em 0 1.5em 0;
}

.gaf-container .field-input {
  text-transform: capitalize;
  margin: 0.2em 1em 0.2em 1em;
}
