<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Download options</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <tabset #downloadTabs>
      <tab heading="Tab delimited">
        <div class="flex-container">
        <div class="field-column">
        <div>Columns:</div>
        <div *ngFor="let fieldName of fieldNames">
          <input  id="name" type="checkbox" [(ngModel)]="selectedFields[fieldName]"
                  (ngModelChange)="fieldChange(fieldName)"/>
          <label for="name">{{fieldName}}</label>
        </div>
        </div>
        <div *ngIf="false && !deployConfigService.productionMode()" class="field-column">
        <div *ngFor="let fieldConf of fieldsForServer">
          <input id="name" type="checkbox" [(ngModel)]="selectedFields[fieldConf.name]"
                 (ngModelChange)="fieldChange(fieldConf)"/>
          <label for="name">{{fieldConf.display_name}}</label>
        </div>
        <div class="select-actions">
        <a (click)="selectAll()">Select all ...</a>
        </div>
        </div>
        </div>
      </tab>

      <tab heading="FASTA sequence">
      <div class="flex-container">
      <div class="seq-column">
        <div>
          <div>Type:</div>
          <input id="protein" type="radio" [(ngModel)]="seqType" value="protein"/>
          <label for="protein">Protein</label>
        </div>
        <div>
          <input id="nucleotide" type="radio" [(ngModel)]="seqType" value="nucleotide"/>
          <label for="nucleotide">Nucleotide</label>
          <div class="nucleotide-controls" *ngIf="seqType == 'nucleotide'">
            <div class="title">
              Include in downloaded sequences:
            </div>

            <div class="flanking-bases">
              <input id="upstream-bases" type="number" min="0" value="0"
                     [(ngModel)]="upstreamBases"/>
              <label for="upstream-bases">bases upstream</label>
            </div>
            <div id="include-5-prime">
              <input type="checkbox" [(ngModel)]="include5PrimeUtr"/>
              <label for="include-5-prime">5'UTR (protein-coding genes only)</label>
            </div>
            <div id="include-exons">
              <input type="checkbox" disabled [(ngModel)]="includeExons"/>
              <label for="include-exons">Exons</label>
            </div>
            <div id="include-introns">
              <input type="checkbox" [(ngModel)]="includeIntrons"/>
              <label for="include-introns">Introns</label>
            </div>
            <div id="include-3-prime">
              <input type="checkbox" [(ngModel)]="include3PrimeUtr"/>
              <label for="include-3-prime">3'UTR (protein-coding genes only)</label>
            </div>
            <div class="flanking-bases">
              <input id="downstream-bases" type="number" min="0" value="0"
                     [(ngModel)]="downstreamBases"/>
              <label for="downstream-bases">bases downstream</label>
            </div>
          </div>
        </div>
        </div>
        <div class="field-column">
           <div>Include in headers:</div>
           <div *ngFor="let fieldName of fieldNames">
             <input id="name" type="checkbox" [(ngModel)]="selectedFields[fieldName]"
                    [disabled]="fieldName === 'Systematic ID'"
                    (ngModelChange)="fieldChange(fieldName)"/>
             <label for="name">{{fieldName}}</label>
           </div>
        </div>
        </div>
      </tab>
    </tabset>
 </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="!isValid()"
            [attr.title]="isValid() ? 'Start download' : 'Select at least one column to download'"
            (click)="download()">Download</button>
  </div>
</div>
