.title {
  font-weight: bold;
}

.nucleotide-controls {
  padding: 0.6em 1em;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.field-column, .seq-column {
  padding: 1em;
}

.seq-column {
  min-width: 15em;
}

.select-actions {
  clear: both;
}

.nucleotide-controls .flanking-bases input {
  width: 6em;
}

.nucleotide-controls input {
  margin: 0.3em;
}

#include-exons {
  color: #999;
}
