<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Download options</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <tabset #downloadTabs>
      <tab heading="Tab delimited">
        <div class="field-container">

        <div class="field-input" *ngFor="let fieldName of fieldNames">
          <input  id="name-{{fieldName}}" type="checkbox" [(ngModel)]="selectedFields[fieldName]"
                  (ngModelChange)="fieldChange(fieldName)"/>
          <label for="name-{{fieldName}}">{{fieldConfigByName[fieldName].display_name}}</label>
        </div>

        <div class="select-all-action">
          <a (click)="selectAll()">Select all</a>
        </div>

        <div>
          <a (click)="resetSelection()">Reset selection</a>
        </div>

        </div>
      </tab>

      <tab heading="FASTA sequence" (select)="tabSelected($event)">
      <div>
      <div class="seq-column">
        <div>Type:</div>
        <div class="seq-control">
          <input id="protein" type="radio" [(ngModel)]="seqType" value="protein"/>
          <label for="protein">Protein</label>
        </div>
        <div>
          <input id="nucleotide" type="radio" [(ngModel)]="seqType" value="nucleotide"/>
          <label for="nucleotide">Nucleotide</label>
          <div class="nucleotide-controls" *ngIf="seqType == 'nucleotide'">
            <div class="title">
              Include in downloaded sequences:
            </div>

            <div class="flanking-bases">
              <input id="upstream-bases" type="number" min="0" value="0"
                     [(ngModel)]="upstreamBases"/>
              <label for="upstream-bases">bases upstream</label>
            </div>
            <div id="include-5-prime">
              <input type="checkbox" [(ngModel)]="include5PrimeUtr"/>
              <label for="include-5-prime">5'UTR (protein-coding genes only)</label>
            </div>
            <div id="include-exons">
              <input type="checkbox" disabled [(ngModel)]="includeExons"/>
              <label for="include-exons">Exons</label>
            </div>
            <div id="include-introns">
              <input type="checkbox" [(ngModel)]="includeIntrons"/>
              <label for="include-introns">Introns</label>
            </div>
            <div id="include-3-prime">
              <input type="checkbox" [(ngModel)]="include3PrimeUtr"/>
              <label for="include-3-prime">3'UTR (protein-coding genes only)</label>
            </div>
            <div class="flanking-bases">
              <input id="downstream-bases" type="number" min="0" value="0"
                     [(ngModel)]="downstreamBases"/>
              <label for="downstream-bases">bases downstream</label>
            </div>
          </div>
        </div>
        </div>
        <div class="field-column">
           <div>Include in headers:</div>
           <div class="field-container">
           <div class="field-input" *ngFor="let fieldName of fieldNames">
             <input id="name-{{fieldName}}" type="checkbox" [(ngModel)]="selectedFields[fieldName]"
                    [disabled]="fieldName === 'Systematic ID'"
                    (ngModelChange)="fieldChange(fieldName)"/>
             <label for="name-{{fieldName}}">{{fieldConfigByName[fieldName].display_name}}</label>
           </div>

           <div class="select-all-action">
             <a (click)="selectAll()">Select all</a>
           </div>

           <div>
             <a (click)="resetSelection()">Reset selection</a>
           </div>

           </div>
        </div>
        </div>
      </tab>
    </tabset>
 </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="!isValid()"
            [attr.title]="isValid() ? 'Start download' : 'Select at least one column to download'"
            (click)="download()">Download</button>
  </div>
</div>
