<div id="header-navbar">
  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      Search <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/query" routerLinkActive="active" class="dropdown-item">
          Advanced
        </a>
      </li>
      <li role="menuitem">
        <a href="/jbrowse/" class="dropdown-item">
          Genome browser
        </a>
      </li>
      <li role="menuitem">
        <a routerLink="/query/start_from/gene_list" routerLinkActive="active" class="dropdown-item">
          Gene list
        </a>
      </li>
      <li role="menuitem">
        <a routerLink="/motif_search" class="dropdown-item">
          Peptide motifs
        </a>
      </li>
      <li role="menuitem">
        <a href="https://fungi.ensembl.org/Schizosaccharomyces_pombe/Tools/Blast?db=core" class="dropdown-item">
          BLAST at Ensembl
        </a>
      </li>
    </ul>
  </span>

  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      Submit <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/submit-data/gene-names" class="dropdown-item">Gene names</a></li>
      <li role="menuitem">
        <a routerLink="/submit-data" class="dropdown-item">Datasets</a></li>
      <li role="menuitem">
        <a href="https://curation.pombase.org/pombe/" class="dropdown-item">Curate a paper</a></li>
    </ul>
  </span>

<!--
  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      Download <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/" routerLinkActive="active"
        class="dropdown-item">[To do]</a></li>
    </ul>
  </span>
-->
  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      Genome status <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/browse-curation/fission-yeast-go-slim-terms" class="dropdown-item">GO slim overview</a>
      </li>
      <li role="menuitem">
        <a routerLink="/browse-curation/disease-slim" class="dropdown-item">Disease association overview</a>
      </li>
      <li role="menuitem">
        <a href="https://curation.pombase.org/pombe/stats/annotation" class="dropdown-item">Curation statistics</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/sequencing-status" routerLinkActive="active" class="dropdown-item">Genome sequence status</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/sequencing-updates" routerLinkActive="active" class="dropdown-item">Genome updates</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/statistics" routerLinkActive="active" class="dropdown-item">Genome feature overview</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/gene-coordinate-changes" routerLinkActive="active" class="dropdown-item">Gene coordinate changes</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/new-and-removed-genes" routerLinkActive="active" class="dropdown-item">New and removed genes</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/gene-characterisation" routerLinkActive="active" class="dropdown-item">Gene characterization status</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/priority-unstudied-genes" routerLinkActive="active" class="dropdown-item">Priority unstudied genes</a>
      </li>
      <li role="menuitem">
        <a routerLink="/reference_list/community" routerLinkActive="active" class="dropdown-item">Community curated publications</a>
      </li>
      <li role="menuitem">
        <a routerLink="/reference_list/admin" routerLinkActive="active" class="dropdown-item">{{siteName}} curated publications</a>
      </li>
    </ul>
  </span>

  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      Downloads <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/datasets" class="dropdown-item">Datasets</a>
      </li>
      <li role="menuitem">
        <a routerLink="/documents" class="dropdown-item">Documents</a>
      </li>
      <li role="menuitem">
        <a routerLink="/downloads/chado-database-dumps"
        class="dropdown-item">Chado database dumps</a>
      </li>
    </ul>
  </span>

  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      Community <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a href="https://lists.cam.ac.uk/mailman/listinfo/ucam-pombelist" class="dropdown-item">Mailing list</a>
      </li>
      <li role="menuitem">
        <a routerLink="/community/fission-yeast-community-curation-project" routerLinkActive="active" class="dropdown-item">Community curation project</a>
      </li>
      <li role="menuitem">
        <a routerLink="/news" class="dropdown-item">News archive</a>
      </li>
      <li role="menuitem">
        <a routerLink="/community" routerLinkActive="active" class="dropdown-item">Fission yeast community</a>
      </li>
      <li role="menuitem">
        <a routerLink="/community/internet-resources" routerLinkActive="active" class="dropdown-item">External resources</a>
      </li>
    </ul>
  </span>

  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      About <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/about" routerLinkActive="active" class="dropdown-item">About PomBase</a>
      </li>
      <li role="menuitem">
        <a routerLink="/about/published-by-pombase" routerLinkActive="active" class="dropdown-item">PomBase publications</a>
      </li>
      <li role="menuitem">
        <a routerLink="/about/citing-pombase" routerLinkActive="active" class="dropdown-item">Citing PomBase</a>
      </li>
      <li role="menuitem">
        <a routerLink="/about/resource-metrics" routerLinkActive="active" class="dropdown-item">Resource metrics</a>
      </li>
    </ul>
  </span>

  <span class="dropdown btn-group" dropdown placement="bottom right">
    <button dropdownToggle class="btn dropdown-toggle">
      Help <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
      <li role="menuitem">
        <a routerLink="/documentation" routerLinkActive="active" class="dropdown-item">Documentation</a>
      </li>
      <li role="menuitem">
        <a routerLink="/faq" class="dropdown-item">Frequently Asked Questions (FAQ)</a>
      </li>
      <li role="menuitem">
        <a routerLink="/about" routerLinkActive="active" class="dropdown-item">Contact curators</a>
      </li>
    </ul>
  </span>
</div>
