.dropdown-toggle {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: rgba(100, 110, 145, 0);
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}

button.dropdown-item {
  font-size: 80%;
}

#header-navbar {
  position: absolute;
  bottom: 0px;
  background-color: rgba(100, 110, 145, 0.7);
  padding: 0 0.8em 0 0.8em;
}

@media (min-width: 600px) {
  #header-navbar {
    right: 0em;
  }
  .dropdown-menu li {
    font-size: 1em;
  }
}
@media (max-width: 599px) {
  #header-navbar {
    left: 0em;
  }
  .dropdown-menu li {
    font-size: 2vw;
  }
}

.dropdown-menu > li > a {
  padding: 2px 15px;
}

.dropdown-menu {
  min-width: 100px;
  margin: 0;
}

@media (max-width: 1000px) {
  #header-navbar {
    font-size: 0.9em;
  }

  #header-navbar .dropdown-toggle {
    padding: 0.25em;
    margin: 0;
  }
}

.dropdown:hover .dropdown-menu: {
/*   display: block;*/
}
