<div id="header-navbar">
  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      Search <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/query" class="dropdown-item">
          Advanced
        </a>
      </li>
      <li role="menuitem">
        <a href="/jbrowse/" class="dropdown-item">
          Genome browser
        </a>
      </li>
      <li role="menuitem">
        <a routerLink="/query/start_from/gene_list" class="dropdown-item">
          Gene list
        </a>
      </li>
      <li role="menuitem">
        <a routerLink="/identifier-mapper" class="dropdown-item">
          Identifier Mapper
        </a>
      </li>
      <li role="menuitem">
        <a routerLink="/motif_search" class="dropdown-item">
          Peptide motifs
        </a>
      </li>
      <li role="menuitem">
        <a href="{{ensemblBlastURL}}?db=core" class="dropdown-item">
          BLAST at Ensembl
        </a>
      </li>
    </ul>
  </span>

  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      Submit <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/submit-data/gene-names" class="dropdown-item">Gene names</a></li>
      <li role="menuitem">
        <a routerLink="/submit-data" class="dropdown-item">Datasets</a></li>
      <li role="menuitem">
        <a href="{{cantoURL}}" class="dropdown-item">Curate a paper</a></li>
    </ul>
  </span>

<!--
  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      Download <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/"
        class="dropdown-item">[To do]</a></li>
    </ul>
  </span>
-->
  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      Genome status <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/browse-curation/fission-yeast-mf-go-slim-terms" class="dropdown-item">GO molecular function overview</a>
      </li>
      <li role="menuitem">
        <a routerLink="/browse-curation/fission-yeast-bp-go-slim-terms" class="dropdown-item">GO biological process overview</a>
      </li>
      <li role="menuitem">
        <a routerLink="/browse-curation/fission-yeast-cc-go-slim-terms" class="dropdown-item">GO cellular component overview</a>
      </li>
      <li *ngIf="hasDiseaseAnnotation" role="menuitem">
        <a routerLink="/browse-curation/disease-slim" class="dropdown-item">Disease association overview</a>
      </li>
      <li role="menuitem">
        <a href="{{cantoCurationStatisticsLink}}" class="dropdown-item">Curation statistics</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/sequencing-status" class="dropdown-item">Genome sequence status</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/sequencing-updates" class="dropdown-item">Genome updates</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/statistics" class="dropdown-item">Genome feature overview</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/gene-coordinate-changes" class="dropdown-item">Gene coordinate changes</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/new-and-removed-genes" class="dropdown-item">New and removed genes</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/gene-characterisation" class="dropdown-item">Gene characterization status</a>
      </li>
      <li role="menuitem">
        <a routerLink="/status/priority-unstudied-genes" class="dropdown-item">Priority unstudied genes</a>
      </li>
      <li role="menuitem">
        <a routerLink="/reference_list/community" class="dropdown-item">Community curated publications</a>
      </li>
      <li *ngIf="hasAdminCuration" role="menuitem">
        <a routerLink="/reference_list/admin" class="dropdown-item">{{siteName}} curated publications</a>
      </li>
    </ul>
  </span>

  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      Downloads <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/datasets" class="dropdown-item">Datasets</a>
      </li>
      <li role="menuitem">
        <a routerLink="/documents" class="dropdown-item">Documents</a>
      </li>
      <li role="menuitem">
        <a routerLink="/downloads/chado-database-dumps"
        class="dropdown-item">Chado database dumps</a>
      </li>
    </ul>
  </span>

  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      Community <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a href="https://lists.cam.ac.uk/mailman/listinfo/ucam-pombelist" class="dropdown-item">Mailing list</a>
      </li>
      <li role="menuitem">
        <a routerLink="/community/fission-yeast-community-curation-project" class="dropdown-item">Community curation project</a>
      </li>
      <li role="menuitem">
        <a routerLink="/news" class="dropdown-item">News archive</a>
      </li>
      <li role="menuitem">
        <a routerLink="/community" class="dropdown-item">Fission yeast community</a>
      </li>
      <li role="menuitem">
        <a routerLink="/community/internet-resources" class="dropdown-item">External resources</a>
      </li>
    </ul>
  </span>

  <span class="dropdown btn-group" dropdown>
    <button dropdownToggle class="btn dropdown-toggle">
      About <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/about" class="dropdown-item">About {{siteName}}</a>
      </li>
      <li role="menuitem">
        <a routerLink="/about/published-by-pombase" class="dropdown-item">{{siteName}} publications</a>
      </li>
      <li role="menuitem">
        <a routerLink="/about/citing-pombase" class="dropdown-item">Citing {{siteName}}</a>
      </li>
      <li role="menuitem">
        <a routerLink="/about/resource-metrics" class="dropdown-item">Resource metrics</a>
      </li>
    </ul>
  </span>

  <span class="dropdown btn-group" dropdown placement="bottom right">
    <button dropdownToggle class="btn dropdown-toggle">
      Help <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
      <li role="menuitem">
        <a routerLink="/documentation" class="dropdown-item">Documentation</a>
      </li>
      <li role="menuitem">
        <a routerLink="/faq" class="dropdown-item">Frequently Asked Questions (FAQ)</a>
      </li>
      <li role="menuitem">
        <a routerLink="/about" class="dropdown-item">Contact curators</a>
      </li>
    </ul>
  </span>
</div>
