.dropdown-toggle {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: rgba(100, 110, 145, 0);
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}

button.dropdown-item {
  font-size: 75%;
}

#header-navbar {
  background-color: rgba(100, 110, 145, 0.7);
  padding: 0 0.8em 0 0.8em;
}

@media (min-width: 1000px) {
  #header-navbar {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 5px;
  }
  .dropdown-menu li {
    font-size: 1em;
  }
}

.dropdown-menu > li > a {
  padding: 2px 15px;
}

.dropdown-menu {
  min-width: 100px;
  margin: 0;
}

@media (max-width: 1000px) {
  #header-navbar .dropdown-toggle {
    padding: 0.25em;
    margin: 0;
  }
}


@media (max-width: 1200px) and (min-width: 1000px) {
  #header-navbar .dropdown-toggle {
    font-size: 1.1em;
    padding: 0.4em;
  }
}
