<fieldset *ngIf="annotationTable.length > 0" class="annotation-table">
  <legend>
    {{annotationTypeDisplayName}}
  </legend>

  <table>
    <thead>
      <tr>
        <th>Gene</th>
        <th>Product</th>
        <th>Evidence</th>
        <th>Reference</th>
      </tr>
    </thead>
    <tbody *ngFor="let annotation of annotationTable">
      <tr>
        <td><a routerLink="/gene/{{annotation.interactor.uniquename}}"
        routerLinkActive="active">{{annotation.interactor.name ? annotation.interactor.name + "(" + annotation.interactor.uniquename + ")" : annotation.interactor.uniquename }}</a></td>
        <td>{{annotation.interactor.product}}</td>
        <td>{{annotation.evidence}}</td>
        <td><span *ngIf="annotation.publication">{{annotation.publication.uniquename}}
            <span class="citation">{{annotation.publication.citation}}</span></span></td>
      </tr>
    </tbody>
  </table>
</fieldset>
