<ng-template #termNameCompleteTemplate let-model="item" let-index="index">
  <span>{{model.matchName}} ({{model.termid}})
    <span *ngIf="model.isSynonymMatch" class="synonym-match">synonym</span>
  </span>
</ng-template>
<input #termNameCompleteBox
       placeholder="{{placeholder}}"
       [(ngModel)]="selectedTerm"
       [typeahead]="dataSource"
       [typeaheadWaitMs]="50"
       [typeaheadMinLength]="2"
       [typeaheadItemTemplate]="termNameCompleteTemplate"
       [typeaheadOptionField]="'name'"
       (typeaheadOnSelect)="typeaheadOnSelect($event)"
       class="form-control search-box" style="display: inline;">
