<span>
  <app-gene-link class="app-link" *ngIf="gene" [long]="false" [gene]="gene">
  </app-gene-link>

  <a *ngIf="term"
     routerLink="/term/{{term.termid}}" routerLinkActive="active">{{term.name}}</a>

  <span *ngIf="identifier">
    <a title="{{withOrFrom.identifier}}" class="with-from-id" *ngIf="link" href="{{link}}">{{displayIdOf(withOrFrom.identifier)}}</a>
    <span title="{{withOrFrom.identifier}}" class="with-from-id" *ngIf="!link">{{displayIdOf(withOrFrom.identifier)}}</span>
  </span>
</span>
