.search-box {
  width: 30%;
  padding: 5px;
  font-size: 110%;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  display: inline;
}
.search-info {
  padding: 5px;
  color: #e63535;
  background-color: #fff;
  background-image: none;
  border-radius: .25rem;
  font-weight: bold;
  margin: 0.5em;
}

@media (max-width: 600px) {
  .small-screen-search-info {
    display: inline;
  }
  .big-screen-search-info {
    display: none;
  }
  .search-box {
    width: 55%;
  }
}
@media (min-width: 600px) {
  .small-screen-search-info {
    display: none;
  }
  .big-screen-search-info {
    display: inline;
    margin-right: 3em;
  }
}

.synonym-match {
/*  font-weight: 200; */
}

.search-box-contents {
  margin-left: 0.5em;
}

.match-extra {
  display: block;
  font-weight: 200;
  padding-left: 0.5em;
  font-size: 95%;
}

.search-help {
  padding: 0;
  margin: 0;
}

.search-help img {
  height: 1.7em;
}

.help-popover {
  color: black;
  font-size: 90%;
}

.help-popover ul {
  padding-left: 10px;
}
