<div class="genotype-link">
  <strong>{{genotype.name}}</strong>
  <span style="color: grey;">{{genotype.uniquename}}</span>
  <i>{{genotype.background}}</i>
  <table *ngIf="showDetails">
    <thead>
      <th>Gene</th>
      <th>Allele</th>
      <th>Type</th>
      <th>Expression</th>
    </thead>
    <tbody>
      <tr *ngFor="let expressedAllele of displayAlleles">
        <td><app-gene-link [gene]="expressedAllele.gene"></app-gene-link></td>
        <td>
          <div>{{expressedAllele.name}}(<span [innerHTML]="expressedAllele.description"></span>)</div>
          <div style="color: grey;">{{expressedAllele.uniquename}}</div>
        </td>
        <td>{{expressedAllele.allele_type}}</td>
        <td>{{expressedAllele.expression}}</td>
      </tr>
    </tbody>
  </table>
</div>
