.gene-list-lookup textarea {
  width: 100%;
}

.buttons {
  padding: 1.5em 0 0.5em 0;
}

.clear-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clear-button-container a {
  display: block;
  padding: 0.7em 0.3em 0.5em 0;
  white-space: nowrap;
  color: #175285;
}

.unknown-identifiers {
  color: red;
  padding: 0.7em 0;
}

.unknown-identifiers-help {
  padding-bottom: 1em;
  margin: 0 0.5em;
  color: black;
}

.unknown-identifiers-help a {
  color: #175285;
}

.read-from-file {
  padding: 0.7em 0 0.5em 0;
}

.read-from-file input {
  padding-left: 0.3em;
}

.list-name {
  margin-top: 0.5em;
}
