.embedded-protein-viewer {
  width: 1300px;
  height: 330px;
  border: 0;
}

.header {
  margin-left: 210px;
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.no-features {
  font-size: 110%;
  padding: 1.3em;
}

.help-icon {
  padding-right: 0.5em;
}
