<div id="term-details">
  <div *ngIf="termDetails">
    <div class="details-page-name-and-id">
      {{termDetails.termid}}
    </div>

    <hr style="clear: both" />

    <div id="term-summary" class="details-page-summary">
      <table>
        <tr>
          <td class="details-label">Name</td>
          <td class="term-name">{{termDetails.name}}</td>
        </tr>
        <tr>
          <td class="details-label">Definition</td>
          <td>{{termDetails.definition}}</td>
        </tr>
      </table>
    </div>

    <hr style="clear: both" />

    <div class="term-page-view-change">
      <a routerLink="/term/{{termDetails.termid}}"
         routerLinkActive="active">View all annotations for this term ...</a>
    </div>

    <div>
      <app-genes-table [legend]="'Genes annotated with ' + termDetails.termid + ' or its descendants: ' + termDetails.genes.length"
                       [genes]="termDetails.genes"></app-genes-table>
    </div>
  </div>
</div>
