<div *ngIf="structureLoading()" class="loading-message">
  Structure view loading ...
</div>

<div class="pdb-structure-view">
  <div class="pdb-iframe-container">
    <iframe (load)="finishedLoading()" [src]="sanitizedURL" scrolling="no" #pdbiframe class="embedded-pdb">
    </iframe>
  </div>

  <div *ngIf="!structureLoading()" class="pdb-text">
    <div class="pdb-main-text">
      Structures from PDB for {{geneDetails.displayName}}:
    </div>

    <div class="pdb-table-container">
      <table>
        <thead>
          <tr>
            <th>PDB ID</th>
            <th>Method</th>
            <th>Res (Å)</th>
            <th>Chain</th>
            <th>Position</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pdbEntry of geneDetails.pdb_entries"
              [popover]="entryPopover" [delay]="500"
              [popoverContext]="popoverContext(pdbEntry)" [adaptivePosition]="false"
              container="body" placement="bottom" triggers="mouseenter:mouseleave"
              [ngClass]="{'selected-entry': currentEntry && currentEntry.pdb_id == pdbEntry.pdb_id }"
              (click)="selectEntry(pdbEntry)">
            <td>
              {{pdbEntry.pdb_id}}
            </td>
            <td>
              {{pdbEntry.experimental_method}}
            </td>
            <td>
              {{displayResolution(pdbEntry)}}
            </td>
            <td>
              {{pdbEntry.chain}}
            </td>
            <td>
              {{pdbEntry.position}}
            </td>
            <td>
              <a [attr.href]="appConfig.pdbe_entry_url + '/' + pdbEntry.pdb_id"
                 [title]="'Visit the PDBe page for ' + pdbEntry.pdb_id">PDBe</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #entryPopover let-title="title" let-authors="authors" let-pdbId="pdbId">
  <div class="entry-popover-title">{{title}}</div>
  <div class="entry-popover-authors">{{authors}}</div>
  <div>(Click to view this structure)</div>

  <div class="entry-popover-image">
    <img src="{{popoverImageUrl(pdbId)}}"/>
  </div>
</ng-template>