<fieldset class="annotation-table">
  <legend>
    Protein features

    <app-help-link [route]="'/documentation/gene-page-protein-features'"
                   [title]="'Click to view documentation for the Protein features section'">
    </app-help-link>
  </legend>

<div class="annotation-table-container">
  <div *ngIf="ensemblImageUrl">
    <div class="protein-feature-title">
      Graphical view
    </div>
    <div class="ensembl-peptide-view">
    <div class="ensembl-image">
      <a href="{{ensemblBrowserUrl}}">
        <img src="{{ensemblImageUrl}}" />
        <div class="ensembl-link-label">
          View in Ensembl browser ...
        </div>
      </a>
    </div>
    </div>
  </div>

  <app-interpro-matches *ngIf="geneDetails.interpro_matches.length > 0"
                        [geneDisplayName]="geneDetails.name || geneDetails.uniquename"
                        [uniprotIdentifier]="geneDetails.uniprot_identifier"
                        [matches]="geneDetails.interpro_matches">
  </app-interpro-matches>

  <div *ngIf="geneDetails.uniprot_identifier" class="pfam-structure">
    Domain organization at <a href="http://pfam.xfam.org/protein/{{geneDetails.uniprot_identifier}}">Pfam ...</a>
  </div>

  <div class="tm-domains">
    <div *ngIf="geneDetails.tm_domain_coords.length == 0" class="protein-feature-title">
      No predicted trans-membrane domains
    </div>
    <div *ngIf="geneDetails.tm_domain_coords.length > 0">
      <div class="protein-feature-title">Coordinates of predicted transmembrane domains: </div>
      <span *ngFor="let coordPair of geneDetails.tm_domain_coords; let lastPair = last">
        {{coordPair[0]}}..{{coordPair[1]}}<span *ngIf="!lastPair">,</span>
      </span>
    </div>
  </div>

  <div *ngIf="proteinFeaturesTable && proteinFeaturesTable.length > 0" class="pombase-annotation">
    <div class="protein-feature-title">
      Families and domain annotated by PomBase
    </div>
    <app-annotation-sub-table
      [annotationTypeName]="'PomBase family or domain'"
      [annotationTable]="proteinFeaturesTable"
      [hideColumns]="['gene', 'desc-rel']">
    </app-annotation-sub-table>
  </div>

  <div *ngIf="soAnnotationTable && soAnnotationTable.length > 0" class="pombase-annotation">
    <div class="protein-feature-title">
      Protein sequence features
    </div>
    <app-annotation-sub-table
      [annotationTypeName]="'sequence'"
      [annotationTable]="soAnnotationTable"
      [hideColumns]="['gene', 'desc-rel']">
    </app-annotation-sub-table>
  </div>

  <div *ngIf="proteinDetails">
    <div class="protein-feature-title">
      Protein properties
    </div>
    <div class="properties-table">
    <app-protein-properties [proteinDetails]="proteinDetails">
    </app-protein-properties>
    </div>
  </div>
</div>
</fieldset>
