.query-history .title {
  font-weight: bold;
}

.query-history .buttons {
  margin: 1em 0;
}

.op-buttons {
  padding-right: 2em;
}

.op-buttons .btn {
  margin: 0.1em 0.3em;
}

.fake-img {
  width: 1px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.history-table th, .history-table td {
  padding: 0.2em 0.3em 0.2em 0.3em;
  border: 1px solid #bbb;
  vertical-align: top;
}
.history-table th {
  text-align: left;
  background-color: #f0f0f0;
  user-select: none;
}

td.result-count {
  text-align: right;
  white-space: nowrap;
}

.history-table {
  margin: 1em;
  max-width: 1200px;
}

.history-table td.row-actions {
  border: 0px solid white;
  color: white;
}

.row-actions a {
  color: white;
}

.row-actions a:hover {
  color: black;
}

.results-out-of-date {
  color: red;
}

.new-hist-item {
  animation-duration: 20s;
  animation-name: highlightRow;
}

@media (max-width: 600px) {
  button.btn img, button.btn .fake-img {
    height: 4vw;
  }
}

.select-all-none {
  padding: 0.5em 0 0 1em;
}

.export-icon, .import-icon {
  height: 1em;
  margin-right: 0.4em;
  display: inline-block;
}

.query-hist-name {
  font-weight: bold;
  font-size: 110%;
  margin-right: 1.5em;
}

.show-details-button {
  white-space: nowrap;
}

a.show-details-button {
  opacity: 0.6;
}

a.show-details-button:hover {
  opacity: 1;
}

.edit-icon {
  float: left;
}

.query-hist-details, .query-hist-name-and-button {
  margin-left: 1.6em;
}

.save-cancel-name-edit {
  white-space: nowrap;
}

.import-export-buttons {
  margin-left: 2em;
}
