#container {
  display: flex;
  flex-wrap: wrap;
}

#container > div {
  width: 38em;
}

#container > div.wide-graph {
  width: 76em;
}

h3 {
  padding-bottom: 0.5em;
}

h4 {
  padding: 1em 1em 0 0;
}

.plot-image {
  width: 35em;
}

.wide-graph .plot-image {
  width: 70em;
}

.stats-ribbon, .other-stats-body {
  font-size: 120%;
}

.help-icon {
  height: 0.95em;
  padding-left: 0.5em;
}

.annotation-type-popover {
  font-size: 110%;
}

.annotation-type-popover div:first-child {
  margin-bottom: 0.5em;
}