<h3>Curation statistics</h3>

<div id="container">
  <div>
    <h4>Summary</h4>
    <div class="section-body stats-ribbon">
      <app-stats-summary></app-stats-summary>
    </div>
  </div>

<div>
  <div *ngIf="!cumulativeByYearPlotLoaded">
    Loading ...
  </div>
  <h4 *ngIf="cumulativeByYearPlotLoaded">
    Curated and curatable papers (cumulative):
  </h4>
  <img (load)="cumulativeByYearPlotLoaded=true" class="plot-image"
       alt="Cumulative plot of curated papers versus curatable papers"
       src="/api/v1/dataset/latest/stats/cumulative_curated_by_year"/>
</div>

<div>
  <div *ngIf="!communityResponseRates">
    Loading ...
  </div>
  <h4 *ngIf="cumulativeByYearPlotLoaded">
    Community curation response rate:
  </h4>
  <img (load)="communityResponseRates=true" class="plot-image"
    alt="Cumulative community curation response rate"
    src="/api/v1/dataset/latest/stats/community_response_rates" />
</div>

<div>
  <div *ngIf="!curatedByYearPlotLoaded">
    Loading ...
  </div>
  <h4 *ngIf="curatedByYearPlotLoaded">
    Papers curated per year:
  </h4>
  <img (load)="curatedByYearPlotLoaded=true" class="plot-image"
    alt="Curated papers"
    src="/api/v1/dataset/latest/stats/curated_by_year" />
</div>

<div>
  <div *ngIf="!curatableByYearPlotLoaded">
    Loading ...
  </div>
  <h4 *ngIf="curatableByYearPlotLoaded">
    Curatable papers by year published:
  </h4>
  <img (load)="curatableByYearPlotLoaded=true" class="plot-image" alt="Curatable papers"
    src="/api/v1/dataset/latest/stats/curatable_by_year" />
</div>

<div>

  <h4>
    Average annotated genes per publications by year range (low throughput experiments only):
  </h4>
  <img class="plot-image" alt="Annotated genes per publications by year range"
    src="/api/v1/dataset/latest/stats/ltp_genes_per_pub_per_year_range" />
</div>
<div>

  <h4>
    Average annotations per publication by year range (low throughput experiments only):
  </h4>
  <img class="plot-image" alt="Low throughput Annotations per publication by year range"
    src="/api/v1/dataset/latest/stats/ltp_annotations_per_pub_per_year_range" />
</div>
<div>

  <h4>
    Average annotations per publication by year range (high throughput experiments only):
  </h4>
  <img class="plot-image" alt="Annotated genes per publications by year range"
    src="/api/v1/dataset/latest/stats/htp_annotations_per_pub_per_year_range" />
</div>
</div>
