<h3>Literature and curation metrics</h3>

<div id="container">
  <div class="text-summary">
    <h4>Summary</h4>
    <div class="section-body stats-ribbon">
      <app-stats-summary></app-stats-summary>
    </div>
    <h4>Other statistics</h4>
    <div class="other-stats-body">
      <ul>
        <li>
          <a routerLink="/status/gene-characterisation">Gene characterisation status</a>
        </li>
      </ul>
    </div>
  </div>

<div class="wide-graph annotations-by-type">
  <div *ngIf="!cumulativeAnnotationByYearPlotLoaded">
    Loading ...
  </div>
  <h4 *ngIf="cumulativeAnnotationByYearPlotLoaded">
    Cumulative annotation type count by year

    <span [popover]="annotationTypePopover" triggers="mouseenter:mouseleave" placement="bottom" container="body">
       <img class="help-icon" src="/assets/info_icon.svg">
       <ng-content></ng-content>
   </span>
  </h4>
  <div class="graph-content">
  <div>
    <img (load)="cumulativeAnnotationByYearPlotLoaded=true" class="plot-image"
       alt="Cumulative annotation type count by year"
       src="/api/v1/dataset/latest/stats/cumulative_annotation_type_counts_by_year"/>
  </div>
  <div class="stats-table" *ngIf="organismStats">
    Total annotations: {{organismStats.annotations}}
    <ul>
      <li *ngFor="let groupTotal of annotationGroupTotals">
        {{groupTotal[0]}}: {{groupTotal[1]}}
      </li>
    </ul>
  </div>
  </div>
</div>

<div>
  <div *ngIf="!cumulativeByYearPlotLoaded">
    Loading ...
  </div>
  <h4 *ngIf="cumulativeByYearPlotLoaded">
    Curated and curatable papers (cumulative):
  </h4>
  <img (load)="cumulativeByYearPlotLoaded=true" class="plot-image"
       alt="Cumulative plot of curated papers versus curatable papers"
       src="/api/v1/dataset/latest/stats/cumulative_curated_by_year"/>
</div>

<div>
  <div *ngIf="!communityResponseRates">
    Loading ...
  </div>
  <h4 *ngIf="cumulativeByYearPlotLoaded">
    Community curation response rate:
  </h4>
  <img (load)="communityResponseRates=true" class="plot-image"
    alt="Cumulative community curation response rate"
    src="/api/v1/dataset/latest/stats/community_response_rates" />
</div>

<div>
  <div *ngIf="!curatedByYearPlotLoaded">
    Loading ...
  </div>
  <h4 *ngIf="curatedByYearPlotLoaded">
    Papers curated per year:
  </h4>
  <img (load)="curatedByYearPlotLoaded=true" class="plot-image"
    alt="Curated papers"
    src="/api/v1/dataset/latest/stats/curated_by_year" />
</div>

<div>
  <div *ngIf="!curatableByYearPlotLoaded">
    Loading ...
  </div>
  <h4 *ngIf="curatableByYearPlotLoaded">
    Curatable papers by year published:
  </h4>
  <img (load)="curatableByYearPlotLoaded=true" class="plot-image" alt="Curatable papers"
    src="/api/v1/dataset/latest/stats/curatable_by_year" />
</div>

<div>

  <h4>
    Average annotated genes per publications by year range (low throughput experiments only):
  </h4>
  <img class="plot-image" alt="Annotated genes per publications by year range"
    src="/api/v1/dataset/latest/stats/ltp_genes_per_pub_per_year_range" />
</div>
<div>

  <h4>
    Average annotations per publication by year range (low throughput experiments only):
  </h4>
  <img class="plot-image" alt="Low throughput Annotations per publication by year range"
    src="/api/v1/dataset/latest/stats/ltp_annotations_per_pub_per_year_range" />
</div>
<div>

  <h4>
    Average annotations per publication by year range (high throughput experiments only):
  </h4>
  <img class="plot-image" alt="Annotated genes per publications by year range"
    src="/api/v1/dataset/latest/stats/htp_annotations_per_pub_per_year_range" />
</div>
</div>

<ng-template #annotationTypePopover>
  <div class="annotation-type-popover">
    <div>This graph shows cumulative totals of manually curated annotations over time.</div>

    <div>
    Totals include annotations made by PomBase curators and fission yeast community but exclude annotations imported from
    other sources, and GO annotations based on computational methods (IEA evidence).
    All annotation types are described in the PomBase documentation.
    </div>
  </div>
</ng-template>
