<app-term-name-complete [cvName]="termNodeConfig.ontologyName"
                        [placeholder]="placeholder"
                        (termMatched)="termMatched($event)"></app-term-name-complete>

<div class="term-definition" *ngIf="selectedTerm?.definition">{{selectedTerm.definition}}</div>

<div *ngIf="isPhenotypeNode">
  <div class="single-or-multi-allele">
    Include genes from:
    <input id="single-allele" type="checkbox" [(ngModel)]="singleAllele"
           title="Include genes from single-allele genotypes"
           (ngModelChange)="singleMultiChange()"/>
    <label for="single-allele">Single-allele genotypes</label>
    <input id="multi-allele" type="checkbox" [(ngModel)]="multiAllele"
           title="Include genes from multi-allele genotypes"
           (ngModelChange)="singleMultiChange()"/>
    <label for="multi-allele">multi-allele</label>
  </div>

  <div *ngIf="!multiAllele" class="expression">
    Expression level:
    <input id="expression-any" type="radio" [(ngModel)]="expression" name="expression" value="any"/>
    <label for="expression-any">Any</label>
    <input id="expression-null" type="radio" [(ngModel)]="expression" name="expression" value="null"/>
    <label for="expression-null">Null</label>
    <input id="expression-wt-over" type="radio" [(ngModel)]="expression" name="expression" value="wt-overexpressed"/>
    <label for="expression-wt-over">Wild type + overexpression</label>
  </div>
</div>

<div class="buttons">
  <button [disabled]="!isValid()" class="btn btn-primary" (click)="submit()">Submit</button>
</div>
