<div class="query-node">
  <div class="node-buttons">
    <div [ngClass]="{'node-selected-button': !activeConf}"
         (click)="clearQuery()" class="node-button">
      New query
    </div>
    <div [ngClass]="{'node-selected-button': activeConf && conf.id == activeConf.id}"
         (click)="setNodeType(conf.id)" class="node-button" *ngFor="let conf of nodeTypes">
      {{upperCaseIntial(conf.displayName)}}
    </div>
  </div>
  <div class="node-components">
    <div *ngIf="!activeConf">
      (Choose a starting point from left-hand menu)
    </div>
    <div *ngIf="activeConf">

      <div class="node-top-description">
        {{activeConf.topDescription}}:
      </div>

      <div *ngIf="activeConf.nodeType == 'ontology'">
        <app-query-term-node [termNodeConfig]="activeConf"
                             [placeholder]="activeConf.placeholder ? activeConf.placeholder :'Start typing a ' + activeConf.displayName + ' term name or ID ...'"
                             (newTermNode)="newTermNode($event)"></app-query-term-node>
      </div>

      <div *ngIf="activeConf.id == 'gene_list'">
        <app-gene-list-lookup (genesFound)="genesFound($event)"></app-gene-list-lookup>
      </div>

      <div *ngIf="activeConf.nodeType == 'small-ontology'">
        <select [(ngModel)]="selectedTerm"
                (ngModelChange)="smallOntologyChange($event)">
          <option [ngValue]="null">Choose ...</option>
          <option *ngFor = "let term of activeConf.terms" [ngValue]="term">
            {{term.name}}
          </option>
        </select>
      </div>

      <div *ngIf="activeConf.nodeType == 'subset-select'">
        <select [(ngModel)]="selectedSubset"
                (ngModelChange)="subsetChange($event)">
          <option [ngValue]="null">Choose ...</option>
          <option *ngFor = "let subset of activeConf.subsets" [ngValue]="subset">
            {{removePrefix(subset.displayName)}}
          </option>
        </select>
      </div>

      <div *ngIf="activeConf.nodeType == 'canned-queries'">
        <div *ngFor="let cannedQueryDetail of cannedQueryDetails">
          <a (click)="selectPredefinedQuery(cannedQueryDetail.queryId)">{{cannedQueryDetail.name}}</a>
        </div>
      </div>

      <div *ngIf="activeConf.nodeType == 'subset-input'">
        <input type="text" [(ngModel)]="subsetName" size="30"
               [placeholder]="activeConf.placeholder || ''" />
        <button type="button" class="btn btn-primary"
                [disabled]="!subsetName || subsetName.trim().length == 0"
                (click)="subsetInputSearch($event)">Search</button>
      </div>

      <div *ngIf="activeConf.nodeType == 'float-range'"
           class="range float-range">
        <input type="number" [(ngModel)]="rangeStart" min="0" step="0.01"
               placeholder="min ..."/>
        <input type="number" [(ngModel)]="rangeEnd" min="0" step="0.01"
               placeholder="max ..."/>
        <button type="button" class="btn btn-primary"
                [attr.title]="validRange() ? 'Click to search' : 'min must be less than or equal to max'" 
                [disabled]="!validRange()" (click)="floatRangeSearch($event)">Search</button>
      </div>

      <div *ngIf="activeConf.nodeType == 'int-range'"
           class="range coord-range">
        <input type="number" [(ngModel)]="rangeStart" min="1" step="1"
               placeholder="min ..."/>
        <input type="number" [(ngModel)]="rangeEnd" min="1" step="1"
               placeholder="max ..."/>
        <button type="button" class="btn btn-primary"
                [attr.title]="validRange() ? 'Click to search' : 'min must be less than or equal to max'" 
                [disabled]="!validRange()" (click)="intRangeSearch($event)">Search</button>
      </div>

      <div *ngIf="activeConf.id == 'genome_range'">
        <div class="node-section">
          <span *ngIf="!chromosomeSummaries">[loading ...]</span>
          <span *ngIf="chromosomeSummaries">
            <select [(ngModel)]="chromosomeName">
              <option [ngValue]="null">Choose a chromosome</option>
              <option *ngFor = "let chromosomeSummary of chromosomeSummaries"
                      [ngValue]="chromosomeSummary.name">
                {{chromosomeSummary.name}}
              </option>
            </select>
          </span>
        </div>
        <div class="node-section">
          Restrict to region:
          <input type="number" [(ngModel)]="rangeStart" min="1" step="1"
                 placeholder="start base (optional) ..."/>
          <input type="number" [(ngModel)]="rangeEnd" min="1" step="1"
                 placeholder="end base (optional) ..."/>
          <div style="color: red" *ngIf="(rangeStart || rangeEnd) &&!validRange()">
            Start position must be less the end position
          </div>
        </div>
        <button type="button" class="btn btn-primary"
                [attr.title]="genomeRangeButtonTitle()"
                [disabled]="(rangeStart || rangeEnd) && !validRange() || !chromosomeName" (click)="genomeRangeSearch($event)">Search</button>
      </div>
    </div>
  </div>
</div>
