<div class="query-node">
  <div class="node-buttons">
    <div [ngClass]="{'node-selected-button': !activeConf}"
         (click)="clearQuery()" class="node-button">
      New query
    </div>
    <div [ngClass]="{'node-selected-button': activeConf && conf.id == activeConf.id}"
         (click)="clickNode(conf.id)" class="node-button" *ngFor="let conf of nodeTypes">
      {{upperCaseIntial(conf.displayName)}}
    </div>
  </div>
  <div class="node-components">
    <div *ngIf="!activeConf">
      (Choose a starting point from left-hand menu)
    </div>
    <div *ngIf="activeConf">

      <div *ngIf="activeConf.nodeType == 'ontology'">
        <app-term-name-complete [cvName]="activeConf.ontologyName"
                                [placeholder]="'Start typing a ' + activeConf.displayName + ' term name or ID ...'"
                                (termMatched)="termMatched($event)"></app-term-name-complete>

        <div class="term-definition" *ngIf="selectedTerm?.definition">{{selectedTerm.definition}}</div>
      </div>

      <div *ngIf="activeConf.id == 'gene_list'">
        <app-gene-list-lookup (genesFound)="genesFound($event)"></app-gene-list-lookup>
      </div>

      <div *ngIf="activeConf.nodeType == 'small-ontology'">
        <select [(ngModel)]="selectedTerm"
                (ngModelChange)="smallOntologyChange($event)">
          <option [ngValue]="null">Choose ...</option>
          <option *ngFor = "let term of activeConf.terms" [ngValue]="term">
            {{term.name}}
          </option>
        </select>
      </div>

      <div *ngIf="activeConf.nodeType == 'subset-select'">
        <select [(ngModel)]="selectedSubset"
                (ngModelChange)="subsetChange($event)">
          <option [ngValue]="null">Choose ...</option>
          <option *ngFor = "let subset of activeConf.subsets" [ngValue]="subset">
            {{removePrefix(subset.displayName)}}
          </option>
        </select>
      </div>

      <div *ngIf="activeConf.nodeType == 'subset-input'">
        <input type="text" [(ngModel)]="subsetName" />
        <button [disabled]="!subsetName || subsetName.trim().length == 0"
                (click)="subsetInputSearch($event)">Search</button>
      </div>

      <div *ngIf="activeConf.nodeType == 'float-range'"
           class="range float-range">
        <input type="number" [(ngModel)]="rangeStart" min="0" step="0.01"
               placeholder="min ..."/>
        <input type="number" [(ngModel)]="rangeEnd" min="0" step="0.01"
               placeholder="max ..."/>
        <button [disabled]="!validRange()" (click)="floatRangeSearch($event)">Search</button>
      </div>

      <div *ngIf="activeConf.nodeType == 'int-range'"
           class="range coord-range">
        <input type="number" [(ngModel)]="rangeStart" min="1" step="1"
               placeholder="min ..."/>
        <input type="number" [(ngModel)]="rangeEnd" min="1" step="1"
               placeholder="max ..."/>
        <button [disabled]="!validRange()" (click)="intRangeSearch($event)">Search</button>
      </div>

    </div>
  </div>
</div>
