.query-node {
  margin: 1em;
  display: flex;
}

.node-section, button {
  margin: 6px 0;
}

.node-buttons {
  background-color: #e8e8f8;
  width: 12em;
  left: 0;
  top: 0;
  display: inline-block;
  vertical-align: top;
}

.node-button {
  color: #00a;
  height: 1.5em;
  cursor: pointer;
  white-space: nowrap;
  padding: 0.1em 0.3em 0.1em 0.2em;
  font-size: 90%;
  border-right: 1px solid #bbc;
}

.node-selected-button {
  background-color: #ddf;
  border-left: 1px solid #bbc;
  border-top: 1px solid #bbc;
  border-bottom: 1px solid #bbc;
  border-right: 1px solid #ddf;
}

.node-button:hover {
  text-decoration: underline;
}

.node-components {
  background-color: #ddf;
  width: 100%;
  min-height: 16em;
  padding: 0.6em;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #bbc;
  border-top: 1px solid #bbc;
  border-bottom: 1px solid #bbc;
}

.range input {
  width: 8em;
}

.node-top-description {
  font-weight: bold;
  margin: 0 0 0.6em 0;
}
