<div class="query-node">
  <div class="node-buttons">
    <div [ngClass]="{'node-selected-button': !activeNodeConf}"
         (click)="clearQuery()" class="node-button">
      New query
    </div>
    <div [ngClass]="{'node-selected-button': activeNodeConf && conf.id == activeNodeConf.id}"
         (click)="clickNode(conf.id)" class="node-button" *ngFor="let conf of nodeTypes">
      {{upperCaseIntial(conf.displayName)}}
    </div>
  </div>
  <div class="node-components">
    <div *ngIf="!activeNodeConf">
      (Choose a starting point)
    </div>
    <div *ngIf="activeNodeConf">

      <div *ngIf="activeNodeConf.nodeType == 'ontology'">
        <app-term-name-complete [cvName]="activeNodeConf.ontologyName"
                                [placeholder]="'Start typing a ' + activeNodeConf.displayName + ' term name or ID ...'"
                                (termMatched)="termMatched($event)"></app-term-name-complete>
      </div>

      <div *ngIf="activeNodeConf.id == 'genelist'">
        <app-gene-list-lookup (genesFound)="genesFound($event)"></app-gene-list-lookup>
      </div>

      <div *ngIf="activeNodeConf.nodeType == 'small-ontology'">
        <select [(ngModel)]="selectedSmallOntologyTerm"
                (ngModelChange)="smallOntologyChange($event)">
          <option [ngValue]="null">Choose ...</option>
          <option *ngFor = "let term of smallOntologyTerms" [ngValue]="term">
            {{term.name}}
          </option>
        </select>
      </div>

    </div>
  </div>
</div>
