<span class="extension-display">
  <span class="extension-part" *ngFor="let extPart of extension">
    <span class="extension-rel-name">{{extPart.rel_type_name}}</span>
    <span *ngIf="extPart.ext_range['term']">
      <a routerLink="/term/{{extPart.ext_range.term.termid}}" routerLinkActive="active">{{extPart.ext_range.term.name}}</a>
    </span>
    <span *ngIf="extPart.ext_range['gene']">
      <app-gene-link *ngIf="extPart.ext_range.gene"
                     [long]="false" [gene]="extPart.ext_range.gene"></app-gene-link></span>
    <span *ngIf="extPart.ext_range['misc']">
      <strong>{{extPart.ext_range.misc}}<span *ngIf="extPart.rel_type_name == 'has_penetrance' || extPart.rel_type_name == 'has_expressivity'">%</span></strong>
    </span>
  </span>
</span>
