<span class="extension-display">
  <span class="extension-part" *ngFor="let extPart of displayExtension">
    <span class="extension-rel-name">{{extPart.relTypeName}}</span>
    <span *ngFor="let range of extPart.extRange; let i = index">

      <span *ngIf="range.term">
        <a routerLink="/term/{{range.term.termid}}" routerLinkActive="active">{{range.term.name}}</a><span *ngIf="i < extPart.extRange.length - 1">,</span>
      </span>

      <span *ngIf="range.gene">
        <app-gene-link  [long]="false" [gene]="range.gene"></app-gene-link><span *ngIf="i < extPart.extRange.length - 1">,</span>
      </span>

      <span *ngIf="range.misc">
        <strong>{{range.misc}}<span *ngIf="extPart.relTypeName == 'has_penetrance' || extPart.relTypeName == 'has_expressivity'">%</span></strong><span *ngIf="i < extPart.extRange.length - 1">,</span>
      </span>
    </span>
  </span>
</span>
