<div id="app-component">
<div id="header-row">
<a id="header-anchor"></a>
<div id="header-content">
<div id="logo-and-slogan">
<div id="logo">
  <a routerLink="/" routerLinkActive="active" title="Home">
    <img src="assets/pombase-logo.png" alt="pombase.org" />
  </a>
</div>
</div>
<div id="header-search-box">
  <app-search-box></app-search-box>
</div>
</div>

<app-main-nav-bar></app-main-nav-bar>

</div>

<div id="content">

<router-outlet></router-outlet>

</div>

<div id="footer">
  PomBase is funded by
  the <a href="http://www.wellcome.ac.uk/">Wellcome Trust</a>,
  run by a consortium comprising
  the <a href="http://www.cam.ac.uk/">University of Cambridge</a>,
  <a href="http://www.ucl.ac.uk/">University College London</a>,
  and hosted by the <a href="http://www.babraham.ac.uk">Babraham Institute</a>.
</div>
</div>
<!-- <cookie-law>This site uses cookies</cookie-law> -->
