#header {
  position: relative;
  background-color: #bbc3de;
  background-position: right;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

#header-content, #content {
  padding: 10px;
  padding-left: 20px;
}

#logo {
  white-space: nowrap;
  padding: 0.8em 0.8em 0.8em 1.5em;
}

@media (max-width: 1000px) {
  #header {
    background-size: cover;
  }
  #header-main {
    background-color: #fff6;
    background-size: cover;
  }
}

@media (max-width: 800px) {
  #header-main {
    height: 160px;
    background-color: #fff9;
    background-size: cover;
  }

  #header-search-box {
    font-size: 80%;
    padding: 0.5em 0 0.5em 2em;
  }

  #header-content, #content {
    padding: 0.3em;
    padding-left: 0.7em;
  }
}

#app-component {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content {
  flex: 1 0 auto;
}

@media (min-width: 800px) {
  #header-main {
    display: flex;
    flex-direction: row;
    height: 115px;
  }

  #logo-and-slogan {
    flex-grow: 1;
  }

  #header-search-box {
    flex-shrink: 1;
    padding: 1em 5em 0 0;
  }

  #content {
    font-size: 110%;
  }
}

#footer {
  text-align: center;
  clear: both;
  flex-shrink: 0;
}
.footer-line {
  display: inline-block;
}

#footer-logos {
  text-align: center;
  clear: both;
  flex-shrink: 0;
}
#footer-logos img {
  margin: 1em;
}

@media (min-width: 600px) {
  #footer {
    padding: 30px 180px 30px 180px;
  }
}

@media (max-width: 600px) {
  #footer {
    padding: 1em;
  }
}
