<div class="query-history" *ngIf="historyEntries.length > 0">
  <span class="title">Combine queries:</span>

  <div class="content">
    <span class="op-buttons">
    <span *ngIf="getSelectedEntries().length < 2">
      <button class="btn btn-primary" disabled title="Select two or more queries to union">Union / or <img src="assets/disabled_operator_or.png"/></button>
      <button class="btn btn-primary" disabled title="Select two or more queries to intersect">Intersect / and <img src="assets/disabled_operator_and.png"/></button>
    </span>
    <span *ngIf="getSelectedEntries().length >= 2">
      <button class="btn btn-primary" (click)="action('or')">Union / or <img src="assets/operator_or.png"/></button>
      <button class="btn btn-primary" (click)="action('and')">Intersect / and <img src="assets/operator_and.png"/></button>
    </span>
    <span *ngIf="getSelectedEntries().length != 2">
      <button class="btn btn-primary" disabled title="Select two query for subtract">Subtract / not <img src="assets/disabled_operator_not.png"/></button>
    </span>
    <span *ngIf="getSelectedEntries().length == 2">
      <button class="btn btn-primary" (click)="action('not')">Subtract / not <img src="assets/operator_not.png"/></button>
    </span>
    </span>

    <span>
      <button [disabled]="getSelectedEntries().length == 0" class="btn btn-primary delete-queries"
              title="Select query or queries to delete"
              (click)="deleteQueries()">Delete <span class="fake-img"></span></button>
    </span>
  <table class="history-table">
    <thead>
      <tr>
        <th></th>
        <th><span (dblclick)="setAllCounts()">Results</span></th>
        <th>Query history</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let histEntry of historyEntries">
      <td>
        <input [(ngModel)]="histEntry.checked" type="checkbox"/>
      </td>
      <td class="result-count">
        <a (click)="queryClick(histEntry)" *ngIf="histEntry.getResultCount() !== null">
          {{histEntry.getResultCount()}}
        </a>
        <a (click)="queryClick(histEntry)" *ngIf="histEntry.getResultCount() === null">
          [Results]
        </a>
      </td>
      <td>
        {{histEntry.getQuery().toString()}}
      </td>
      <td class="row-actions">
        <a *ngIf="histEntry.getResultCount() !== null" (click)="showQueryDetails(histEntry)">...</a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
