.query-history .title {
  font-weight: bold;
}

.query-history .buttons {
  margin: 1em 0;
}

.op-buttons {
  padding-right: 2em;
}

.fake-img {
  width: 1px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.history-table td {
  vertical-align: top;
}
