<ng-template #evidencePopover>
  <div>Evidence: {{title}}</div>
  <div class="link-hint" *ngIf="link">(click to view evidence code description)</div>
</ng-template>
<span>
  <span *ngIf="link">
    <a [attr.href]="link"
       [popover]="evidencePopover"
       triggers="mouseenter:mouseleave"
       placement="bottom" container="body">
      {{displayName}}
    </a>
  </span>
  <span *ngIf="!link"
        [popover]="evidencePopover"
        triggers="mouseenter:mouseleave"
        placement="bottom" container="body">
    {{displayName}}
  </span>
</span>
