.docs-content {
  width: 90%;
  clear: both;
  margin: 0 0 0 2em;
}

.docs-content td {
  padding: 4px;
  min-width: 5em;
}

.docs-content thead th {
  border-bottom: 3px solid #ccc;
}

.docs-content th, .docs-content td {
  padding-right: 0.7em;
}

.docs-content td .no-break {
  white-space: nowrap;
}

.docs-content .header th {
  padding: 2px 5px 2px 5px;
}

.altmetric-embed {
  display: inline-block;
  vertical-align: top;
}

.pub-citation {
  display: inline-block;
  padding-left: 1.1em;
  width: 87%;
}

.clear-float {
  clear: both;
}

.doc-search {
  padding: 1em 0 1em 1em;
}

.doc-search-highlight, .doc-search:has(input:focus) {
  background-color: #bcf;
}

@media (min-width: 1200px) {
  .doc-search {
    float: right;
    width: 36em;
  }
}

.doc-search-title {
  padding-bottom: 0.5em;
  font-size: 110%;
}
