#gene-details {
  position: absolute;
  right: 0;
  left: 175px;
  width: auto;
}
#gene-details-menu {
  width: 150px;
  left: 10px;
}

.menu-pos-fixed {
  position: fixed;
  top: 10px;
}
.menu-pos-absolute {
  position: absolute;
  top: 130px;
}

#gene-summary {
}

#gene-details .chromosome-region-view {
  width: 800px;
  margin: 0 auto;
}
