#gene-details {
  position: absolute;
  right: 0;
  left: 175px;
  width: auto;
}
#gene-details-menu {
  position: fixed;
  width: 150px;
  top: 150px;
  left: 10px;
}

#gene-summary {
}

#gene-details .chromosome-region-view {
  width: 800px;
  margin: 0 auto;
}
