#gene-summary {
}

#gene-details .chromosome-region-view {
  margin: 0 auto;
}

@media (max-width: 799px) {
  #gene-details .chromosome-region-view {
    width: 100%;
  }
}

@media (min-width: 800px) {
  #gene-details .chromosome-region-view {
    width: 800px;
  }
}

.gene-details-name-id {
  text-align: center;
}

.name-id {
  font-weight: bold;
}

.details-page-summary td {
  padding-right: 30px;
}

#gene-summary table {
  margin: 0 auto;
}

.ensembl-link-label {
  font-size: 90%;
  text-align: center;
}

.genomic-location {
  margin: 0 !important;
}

.genomic-location td {
  padding: 2px;
}
