<div>
  <app-loading-spinner *ngIf="!geneDetails"></app-loading-spinner>
  <div id="gene-details-menu"
       [ngClass]="{'menu-pos-fixed': menuPositionFixed, 'menu-pos-absolute': !menuPositionFixed}">
    <app-gene-page-menu *ngIf="geneDetails"
                        [geneDetails]="geneDetails"
                        [visibleSections]="visibleSections"></app-gene-page-menu>
  </div>

  <div id="gene-details" *ngIf="geneDetails">
    <div class="details-page-name-and-id">
    <span *ngIf="!appConfig.isConfigOrganism(geneDetails.organism.genus, geneDetails.organism.species)">
      {{geneDetails.organism.genus}} {{geneDetails.organism.species}}
    </span>
    <span *ngIf="geneDetails.name">
      {{geneDetails.name}} ({{geneDetails.uniquename}})
    </span>
    <span *ngIf="!geneDetails.name">
      {{geneDetails.uniquename}}
    </span>
    </div>

    <hr style="clear: both" />

    <div id="gene-summary" class="details-page-summary">
    <table>
      <tbody>
        <tr>
          <td class="details-label">Gene standard name</td>
          <td>{{geneDetails.name}}</td>
          <td class="details-label">Characterisation status</td>
          <td>{{geneDetails.characterisation_status}}</td>
        </tr>
        <tr>
          <td class="details-label">Systematic ID</td>
          <td>{{geneDetails.uniquename}}</td>
          <td class="details-label">Feature Type</td>
          <td>{{displayFeatureType}}</td>
        </tr>
        <tr>
          <td class="details-label">Synonyms</td>
          <td>{{synonymsDisplay}}</td>
          <td class="details-label">Product size</td>
          <td>...aa, ...kDa</td>
        </tr>
        <tr>
          <td class="details-label">Product</td>
          <td colspan="3">{{geneDetails.product}}</td>
        </tr>
        <tr>
          <td class="details-label">Genomic location</td>
          <td colspan="3">{{displayLocation}}</td>
        </tr>
        <tr *ngIf="geneDetails.name_descriptions.length > 0">
          <td class="details-label">Name description</td>
          <td colspan="3">
            <span *ngFor="let nameDesc of geneDetails.name_descriptions; let i = index">
              {{nameDesc}}<span *ngIf="i < geneDetails.name_descriptions.length - 1">,<br/></span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    </div>

    <hr style="clear: both" />
    <div class="chromosome-region-view"
         *ngIf="appConfig.isConfigOrganism(geneDetails.organism.genus, geneDetails.organism.species)">
      <img src="http://www.pombase.org/sites/pombase.org/files/ensembl/img_cache/{{shortChromosomeName}}/{{geneDetails.uniquename}}_gene.png" />
    </div>


    <app-gene-neighbourhood [focusGeneUniquename]="geneDetails.uniquename"
                            [focusGeneName]="geneDetails.name"
                            [neighbourhood]="geneDetails.gene_neighbourhood"></app-gene-neighbourhood>

    <hr style="clear: both" />

    <div *ngFor="let annotationTypeName of annotationTypeNames">

      <div *ngIf="geneDetails.cv_annotations[annotationTypeName]">
        <app-qual-gene-ex-table id="{{annotationTypeName}}" *ngIf="annotationTypeName == 'qualitative_gene_expression'"
                                 [annotationTable]="geneDetails.cv_annotations[annotationTypeName]"></app-qual-gene-ex-table>

        <app-quant-gene-ex-table id="{{annotationTypeName}}" *ngIf="annotationTypeName == 'quantitative_gene_expression'"
                                 [annotationTable]="geneDetails.cv_annotations[annotationTypeName]"></app-quant-gene-ex-table>

        <app-annotation-table id="{{annotationTypeName}}"
                              *ngIf="annotationTypeName != 'qualitative_gene_expression' && annotationTypeName != 'quantitative_gene_expression'"
                              [annotationTypeName]="annotationTypeName"
                              [hideColumns]="['gene', 'desc-rel']"
                              [annotationTable]="geneDetails.cv_annotations[annotationTypeName]"
                              [summaries]="geneDetails.cv_summaries[annotationTypeName]"></app-annotation-table>
      </div>

      <app-interaction-annotation-table *ngIf="annotationTypeName == 'physical_interactions'"
                                        id="{{annotationTypeName}}"
                                      [annotationTypeName]="annotationTypeName"
                                      [currentGene]="geneDetails"
                                      [annotationTable]="geneDetails.physical_interactions"></app-interaction-annotation-table>
      <app-interaction-annotation-table *ngIf="annotationTypeName == 'genetic_interactions'"
                                        id="{{annotationTypeName}}"
                                      [annotationTypeName]="annotationTypeName"
                                      [currentGene]="geneDetails"
                                      [annotationTable]="geneDetails.genetic_interactions"></app-interaction-annotation-table>

      <app-ortholog-annotation-table *ngIf="annotationTypeName == 'orthologs'"
                                     id="{{annotationTypeName}}"
                                     [annotationTable]="geneDetails.ortholog_annotations"></app-ortholog-annotation-table>
      <app-paralog-annotation-table *ngIf="annotationTypeName == 'paralogs'"
                                    id="{{annotationTypeName}}"
                                    [annotationTable]="geneDetails.paralog_annotations"></app-paralog-annotation-table>
      <app-target-of-annotation-table *ngIf="annotationTypeName == 'target_of'"
                                      id="{{annotationTypeName}}"
                                      [annotationTable]="geneDetails.target_of_annotations"></app-target-of-annotation-table>
    </div>

    <app-gene-references-table id="literature"
                               [references]="geneDetails.references"></app-gene-references-table>
  </div>
</div>
