<div class="annotation-summary-table">
  <table>
    <thead>
      <tr>
        <th>Term name</th>
        <th class="count-column">Count</th>
      </tr>
    </thead>
    <tbody *ngFor="let termAnnotation of annotationTable;trackBy:trackByTermId">
      <tr class="term-annotation-top">
        <td>
          <span class="rel-and-termid">
            <span *ngIf="termAnnotation.is_not" class="not-annotation">NOT</span>
            <span *ngIf="termAnnotation.rel_names?.length > 0">
              <span class="rel-icon">&#8593;</span><span class="rel-name">{{termAnnotation.rel_names}}</span>
            </span>
            <a routerLink="/term_genes/{{termAnnotation.term.termid}}"
               routerLinkActive="active">{{termAnnotation.term.name}}</a>
          </span>
        </td>
        <td class="count-column">
          <a *ngIf="termAnnotation.term.genotype_count == 0"
             routerLink="/term_genes/{{termAnnotation.term.termid}}" routerLinkActive="active"
             title="{{termAnnotation.term.gene_count}} genes are annotationed with {{termAnnotation.term.termid}}">{{termAnnotation.term.gene_count}}</a>
          <a *ngIf="termAnnotation.term.genotype_count > 0"
             routerLink="/term_gene/{{termAnnotation.term.termid}}" routerLinkActive="active"
             title="{{termAnnotation.term.genotype_count}} genotypes are annotationed with {{termAnnotation.term.termid}}">{{termAnnotation.term.genotype_count}}</a>
        </td>
      </tr>
      <tr *ngIf="extensionSummariesByTerm[termAnnotation.term.termid]">
        <td colspan="2">
          <app-extension-display class="extension"
             *ngFor="let extSumm of extensionSummariesByTerm[termAnnotation.term.termid]"
             [extension]="extSumm"></app-extension-display>
        </td>
      </tr>
    </tbody>
  </table>
</div>
