<fieldset *ngIf="annotationTable.length > 0" class="annotation-table">
  <legend>
    <span *ngIf="annotationTypeName">{{annotationTypeDisplayName}}</span>
    <span *ngIf="!annotationTypeName">Annotations</span>
  </legend>

  <div style="font-weight: bold; padding: 5px 0 5px 0; font-size: 120%;" *ngIf="truncatedTable.length != annotationTable.length">
    Note: showing only {{maxRows}} of {{annotationTable.length}} annotations.
  </div>

  <table>
    <thead>
      <tr>
        <th>Gene</th>
        <th>Term name</th>
        <th>Term ID</th>
        <th>Evidence</th>
        <th>Reference</th>
      </tr>
    </thead>
    <tbody *ngFor="let annotation of truncatedTable">
      <tr>
        <td>
          <app-gene-link [gene]="annotation.gene"></app-gene-link>
        </td>
        <td>{{annotation.term.name}}</td>
        <td>{{annotation.term.name}}</td>
        <td><a routerLink="/term/{{annotation.term.termid}}" routerLinkActive="active">{{annotation.term.termid}}</a></td>
        <td>{{annotation.evidence}}</td>
        <td>
          <span *ngIf="annotation.reference">
            <app-reference-short [reference]="annotation.reference"></app-reference-short>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
