<ng-template #viaibilityHelpPopover>
  <div class="help-popover">
Details of individual viability phenotypes and conditions are in the "population phenotype" section below
  </div>
</ng-template>

<div [className]="getViabilityClass()">
  <div class="deletion-viability-status">
    <strong>Gene Deletion Viability:</strong> {{getDisplayViability()}}
    <a [popover]="viaibilityHelpPopover" class="help-link" triggers="mouseenter:mouseleave" placement="bottom" container="body">
      <img src="/assets/info_icon.svg">
    </a>
  </div>
</div>
