.deletion-viability-status {
  margin: 0 0 1em 0;
  display: inline-block;
}

.deletion-viability-status span {
  display: inline-block;
  padding: 0.5em 0.4em 0.4em 0.5em;
  border: 1px solid #bbb;
  border-radius: 3px;
}

.inviable {
  background-color: #FFEEEE;
}

.viable {
  background-color: #EEFFEE;
}

.depends {
  background-color: #FFFFCE;
}

.unknown {
  background-color: #EEEEEE;
}
