.vis-main {
  margin: 2em 0 2em 1em;
}

.vis-column-select, .vis-results, .vis-gene-details {
  float: left;
}

.vis-column-select {
  min-width: 20em;
}

.feature-size {
  user-select: none;
}

.gene-name {
  font-weight: bold;
}
