.vis-main {
  margin: 2em 0 2em 1em;
  user-select: none;
}

.vis-column-select, .vis-results {
  float: left;
}

.vis-gene-details, vis-column-details {
  display: inline;
}

.vis-selected-genes {
  float: right;
  margin: 2em 2em 0.5em 0;
}

.vis-selected-genes button {
  margin-top: 1em;
}

.vis-column-select {
  min-width: 17em;
}

.feature-size {
  user-select: none;
}

.gene-name-and-product {
  margin-bottom: 0.3em;
}

.gene-name {
  font-weight: bold;
}

.vis-gene {
  fill: #f0f0f0;
}

.vis-gene:nth-child(10n+1) {
  fill: #e0e0e0;
}

.vis-gene-selected {
  fill: #a0a0e0;
}

.vis-gene-selected:nth-child(10n+1) {
  fill: #9090d0;
}

.vis-gene:hover, .vis-gene-selected:hover {
  fill: #34b;
}

.vis-selected-genes {
  user-select: text;
}

.vis-selected-genes-heading {
  font-weight: bold;
}

.vis-selected-genes-list {
  margin: 0.5em 0 0.5em 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 3em;
}

.vis-selected-genes-gene {
}

rect.vis-column {
  fill-opacity: 0.7;
  stroke-width: 0;
}


rect.vis-column:hover {
  fill-opacity: 1;
  stroke-width: 2;
  stroke: #555;
}
