.title {
  font-weight: bold;
}

.nucleotide-controls {
  padding-left: 1em;
}
.field-column {
  float: left;
  padding: 1em;
}

.select-actions {
  clear: both;
}

.nucleotide-controls .flanking-bases input {
  width: 6em;
}

#include-exons {
  color: #999;
}
