<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Download options</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <tabset #downloadTabs>
      <tab heading="Tab delimited">
        <div class="field-column">
        <div *ngFor="let fieldName of summaryFieldNames">
          <input  id="name" type="checkbox" [(ngModel)]="selectedFields[fieldName]"
                  (ngModelChange)="fieldChange(fieldName)"/>
          <label for="name">{{fieldName}}</label>
        </div>
        </div>
        <div *ngIf="!deployConfigService.productionMode()" class="field-column">
        <div *ngFor="let fieldConf of fieldsForServer">
          <input id="name" type="checkbox" [(ngModel)]="selectedFields[fieldConf.name]"
                 (ngModelChange)="fieldChange(fieldConf)"/>
          <label for="name">{{fieldConf.display_name}}</label>
        </div>
        </div>
        <div class="select-actions">
        <a (click)="selectAll()">Select all ...</a> 
        </div>
      </tab>

      <tab heading="Sequence">
        <div>
          <input id="protein" type="radio" [(ngModel)]="seqType" value="protein"/>
          <label for="protein">Protein</label>
        </div>
        <div>
          <input id="nucleotide" type="radio" [(ngModel)]="seqType" value="nucleotide"/>
          <label for="nucleotide">Nucleotide</label>
          <div *ngIf="seqType == 'nucleotide'" class="nucleotide-options">
            <div class="title">
              CDS sequence and:
            </div>

            <div>
              <input id="include-5-prime" type="checkbox" [(ngModel)]="include5PrimeUtr"/>
              <label for="include-5-prime">Include 5'UTR</label>
            </div>
            <div>
              <input id="include-introns" type="checkbox" [(ngModel)]="includeIntrons"/>
              <label for="include-introns">Include introns</label>
            </div>
            <div>
              <input id="include-3-prime" type="checkbox" [(ngModel)]="include3PrimeUtr"/>
              <label for="include-3-prime">Include 3'UTR</label>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
 </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" [disabled]="!isValid()"
            [attr.title]="isValid() ? 'Start download' : 'Select at least one column to download'"
            (click)="download()">Download</button>
  </div>
</div>
