<div>
  <div *ngIf="subTableName">
    {{subTableName}}
  </div>

  <div class="table-control">
    <input [attr.id]="'details-toggle-' + annotationTypeName"
           type="checkbox"
           name="details-toggle" ngDefaultControl
           [(ngModel)]="showDetails"
           btnCheckbox />
    <label [attr.for]="'details-toggle-' + annotationTypeName">
      <span class="label-content">Show details</span>
    </label>
  </div>

  <div *ngIf="!showDetails">
    <app-annotation-table-full
       *ngIf="showGeneInSummary"
       [annotationTypeName]="annotationTypeName"
       [hideColumns]="summaryHideColumns"
       [geneInFirstColumn]="geneInFirstColumn"
       [annotationTable]="annotationTable"></app-annotation-table-full>

    <app-annotation-table-summary
       *ngIf="!showGeneInSummary"
       [annotationTable]="annotationTable"></app-annotation-table-summary>
  </div>

  <app-annotation-table-full
     *ngIf="showDetails"
     [annotationTypeName]="annotationTypeName"
     [hideColumns]="hideColumns"
     [geneInFirstColumn]="geneInFirstColumn"
     [annotationTable]="annotationTable"></app-annotation-table-full>

</div>
