.docs-content {
  width: 78%;
  float: left;
  margin: 0 0 0 2em;
}

.docs-content table {
/*  width: 100%; */
}

.docs-content td {
  padding: 4px;
  min-width: 5em;
}

.docs-content thead th {
  border-bottom: 3px solid #ccc;
}

.docs-content th, .docs-content td {
  padding-right: 0.7em;
}

.docs-content td .no-break {
  white-space: nowrap;
}

.docs-content .header th {
  padding: 2px 5px 2px 5px;
}
