<div *ngIf="panelId == 0">
<p>Contractile ring structure at nanoscale resolution. Image from <a href="https://elifesciences.org/articles/28865">eLife 2017;6:e28865</a>, used under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> license terms.</p>

</div>
<div *ngIf="panelId == 1">
<p>Molecular model of fission yeast centrosome assembly determined by superresolution imaging. Originally published in <a href="http://jcb.rupress.org/content/216/8/2409">JCB</a>.</p>

</div>
<div *ngIf="panelId == 2">
<p>Structural Basis for Shelterin Bridge Assembly. Originally published in <a href="http://www.cell.com/molecular-cell/fulltext/S1097-2765%2817%2930809-2">Mol. Cell</a>.</p>

</div>
<div *ngIf="panelId == 3">
<p>Study shows second ssDNA capture by the SMC complex during establishment of sister chromatid cohesion. Originally published in <a href='http://www.cell.com/cell/fulltext/S0092-8674(17)31501-5'>Cell</a>.</p>

</div>
<div *ngIf="panelId == 4">
<p><app-recent-community-pubs></app-recent-community-pubs></p>

</div>
<div *ngIf="panelId == 5">
<p><app-recent-community-pubs></app-recent-community-pubs></p>

</div>
<div *ngIf="panelId == 6">
<p>Browse PomBase's inventory of conserved proteins with no known biological role</p>

</div>
<div *ngIf="panelId == 7">
<p>The fission yeast <a routerLink="/browse-curation/fission-yeast-go-slim-terms">GO slim</a> provides a summary of genes annotated to broad biological processes</p>

</div>
<div *ngIf="panelId == 8">
<p>Use the <a routerLink="/query">Advanced Search</a> to construct complex queries (GO, phenotypes, taxonomic distribution, domain, chromosomal location).</p>

</div>
<div *ngIf="panelId == 9">
<p>PomBase has integrated over 200,000 manually curated gene-specific annotations. See our <a routerLink="/about/resource-metrics">Resource Metrics</a> page for more literature curation progress reports.</p>

</div>
<div *ngIf="panelId == 10">
<p>PomBase uses manually curated Gene Ontology annotation to generate biological process-specific networks, such as the cytokinesis network excerpted above. Currently available networks are linked to the <a routerLink="/browse-curation/fission-yeast-go-slim-terms">GO slim</a> page.</p>

</div>
<div *ngIf="panelId == 11">
<p>PomBase provides extensive documentation and answers many questions in the <a routerLink="/faq">FAQ</a>. For any information you can't find there, please <app-contact-email [linkName]="'contact the helpdesk'" [subject]="'PomBase question'"></app-contact-email>.</p>

</div>
<div *ngIf="panelId == 12">
<p>PomBase has pioneered a community curation system that enables researchers to contribute publication-based annotations directly to database curators. To participate, search for the PubMed ID of your paper <a href="https://curation.pombase.org/pombe">in Canto</a> or <app-contact-email [linkName]="'contact the helpdesk'" [subject]="'PomBase question'"></app-contact-email>.</p>

</div>
<div *ngIf="panelId == 13">
<p>The <a href="https://curation.pombase.org/cgi-bin/sanger_motif_search">Protein Motif Search Tool</a> finds any user-defined amino acid sequence. The search supports exact match queries, wildcards, gaps, and ambiguity codes.</p>

</div>
<div *ngIf="panelId == 14">
<p>4020 of the 5070 fission yeast protein-coding genes now have assigned standard names. We encourage all authors and reviewers to ensure that gene names are registered prior to publication. Visit our <a routerLink="/gene-names">gene registry page</a> and the <a routerLink="/gene-names/gene-naming-guidelines"><em>S. pombe</em> gene naming guidelines</a> for more information.</p>

</div>
<div *ngIf="panelId == 15">
<p>Of the 3526 <em>S. pombe</em> with identified human orthologs, over 500 have been implicated in disease. These are manually annotated with terms from a small in-house vocabulary, and can be searched as described in the <a routerLink="/faq/how-can-i-find-s.-pombe-genes-associated-human-disease">disease gene FAQ</a>.</p>

</div>
<div *ngIf="panelId == 16">
<p>A user guide to getting the most from PomBase, curation philosophy and data organization. <a href="https://link.springer.com/protocol/10.1007/978-1-4939-7737-6_4">Free download</a> thanks to the <a href="https://wellcome.ac.uk/">Wellcome Trust</a>.</p>



<p><a href="https://link.springer.com/protocol/10.1007/978-1-4939-7737-6_4">View chapter ...</a></p>

</div>
