<div *ngIf="panelId == 0">
Contractile ring structure at nanoscale resolution. Image from <a href="https://elifesciences.org/articles/28865">eLife 2017;6:e28865</a>, used under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> license terms.
</div>
<div *ngIf="panelId == 1">
<app-recent-community-pubs></app-recent-community-pubs>
</div>
<div *ngIf="panelId == 2">
Browse PomBase's inventory of conserved proteins with no known biological role
</div>
<div *ngIf="panelId == 3">
The fission yeast <a routerLink="/browse-curation/fission-yeast-go-slim-terms">GO slim</a> provides a summary of genes annotated to broad biological processes
</div>
<div *ngIf="panelId == 4">
Use the <a routerLink="/query">Advanced Search</a> to construct complex queries (GO, phenotypes, taxonomic distribution, domain, chromosomal location).
</div>
