<div *ngIf="getIFrameURL()">
  <div class="return-to-gene-page">
    <div>GO-CAM model {{gocamId}}</div>

    <div *ngIf="sourcePageType == 'gene'">
      <a routerLink="/gene/{{sourceId}}">Return to the {{sourceName || sourceId}} gene page</a>
    </div>
    <div *ngIf="sourcePageType == 'term'">
      <a routerLink="/term/{{sourceId}}">Return to the term page for {{sourceName}} ({{sourceId}})</a>
    </div>
  </div>

  <iframe [src]="getIFrameURL()" class="full-go-cam-view" #gocamiframe>
  </iframe>
</div>

