.iframe-container {
  width: 95%;
  height: 900px;
  display: flex;
  flex-flow: row nowrap;
}

.genes-and-terms {
  padding-top: 0.4em;
  min-width: 11em;
  flex: 0;
}

.go-cam-iframe {
  flex: 1;
}

.full-go-cam-view {
  width: 100%;
  height: 100%;
}

.header-section {
  padding: 0.5em 0.5em 1em 0;
}

.return-to-gene-page {
  font-size: 120%;
/*  padding: 0.5em 4em 0.5em 0.5em;*/
  display: inline-block;
}

.return-to-gene-page, .attribution {
  margin: 0.2em 3em 0.3em 0em;
}

.attribution {
  padding-top: 0.2em;
  font-size: 115%;
  display: inline-block;
  vertical-align: top;
}

.title {
  font-size: 120%;
  padding-bottom: 0.2em;
}

.help-link, .amigo-link {
  padding-left: 3em;
}

.help-link img {
  height: 1em;
}

.model-title-or-id {
  font-weight: bold;
}

.highlighted-activities-desc span {
  font-weight: bold;
}
