.full-go-cam-view {
  width: 95%;
  height: 880px;
}

.return-to-gene-page {
  font-size: 120%;
  padding: 0.5em;
}

.return-to-gene-page div {
  margin: 0.5em 0.1em;
}

.help-link {
  padding-left: 3em;
}

.help-link img {
  height: 1em;
}