@media (min-width: 1000px) {
  .interaction-directional-label, .interaction-reference, .interaction-evidence {
    white-space: nowrap;
  }
}

.interaction-source {
  padding: 0 0 0.6em 0;
  display: inline-block;
}

.biogrid-link {
  padding-left: 5em;
  display: inline-block;
  float: right;
}

.query-link {
  display: block;
  padding-bottom: 0.5em;
}

.interaction-source span {
  font-weight: bold;
}
