@media (min-width: 1000px) {
  .interaction-directional-label, .interaction-reference, .interaction-evidence {
    white-space: nowrap;
  }
}

.interaction-source {
  padding: 0 0 0.6em 0;
}

.interaction-source span {
  font-weight: bold;
}
