<fieldset *ngIf="displayTable?.length > 0" class="annotation-table">
  <legend>
    {{annotationTypeDisplayName}}
  </legend>

  <div class="annotation-table-container">
  <table>
    <thead>
      <tr>
        <th *ngIf="!currentGene">Gene</th>
        <th *ngIf="!currentGene">Product</th>
        <th></th>
        <th>Interacting gene</th>
        <th>Interacting product</th>
        <th>Evidence</th>
        <th *ngIf="!hideColumn['reference']">Reference</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let annotation of displayTable">
        <td *ngIf="!currentGene">
          <app-gene-link class="app-link" [long]="false" [gene]="annotation.gene"></app-gene-link>
        </td>
        <td *ngIf="!currentGene">{{annotation.gene.product}}</td>
        <td class="interaction-directional-label">{{annotation.displayLabel}}</td>
        <td>
          <app-gene-link class="app-link" [long]="false" [gene]="annotation.interactor"></app-gene-link>
        </td>
        <td>{{annotation.interactor.product}}</td>
        <td class="interaction-evidence">{{annotation.evidence}}</td>
        <td class="interaction-reference" *ngIf="!hideColumn['reference']">
          <span *ngIf="annotation.reference">
            <app-reference-short [reference]="annotation.reference"></app-reference-short>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</fieldset>
