<fieldset *ngIf="annotationTable.length > 0" class="annotation-table">
  <legend>
    {{annotationTypeDisplayName}}
  </legend>

  <table>
    <thead>
      <tr>
        <th>Gene</th>
        <th>Product</th>
        <th>Evidence</th>
        <th>Reference</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let annotation of annotationTable">
        <td><app-gene-link [long]="false" [gene]="annotation.interactor"></app-gene-link></td>
        <td>{{annotation.interactor.product}}</td>
        <td>{{annotation.evidence}}</td>
        <td>
          <span *ngIf="annotation.reference">
            <app-reference-short [reference]="annotation.reference"></app-reference-short>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
