<div class="recent-news">
<h5 id="pombase-releases-jbrowse-2018-04-16"><strong>PomBase releases JBrowse <em>2018-04-16</em> </strong></h5>
<p>PomBase has now implemented <a href="https://www.pombase.org/jbrowse/?loc=II%3A564641..602220&amp;tracks=DNA%2CPomBase%20forward%20strand%20features%2CPomBase%20%20reverse%20strand%20features&amp;highlight=">JBrowse</a>, from the <a href="http://gmod.org/wiki/Main_Page">GMOD</a> project, as its genome browser. The new browser offers a number of improvements over the old:</p>
<ul>
<li>Quick, responsive scrolling and zooming</li>
<li>Simple track selection interface</li>
<li>Intuitive controls</li>
<li>Simplified data submission pipeline behind the scenes</li>
<li>More informative track metadata</li>
</ul>

<h5 id="in-memory-of-andré-goffeau-2018-04-05"><strong>In memory of André Goffeau <em>2018-04-05</em> </strong></h5>
<p>Sadly, PomBase staff and the fission yeast community note the death of André Goffeau on April 2, 2018. In addition to initiating and coordinating the sequencing of the budding yeast genome, Prof. Goffeau will be remembered for his contributions to the fission yeast genome project and for his knowledge, leadership, and friendship.</p>

<h5 id="congratulations-to-gsa-award-winners-2017-11-24"><strong>Congratulations to GSA award winners <em>2017-11-24</em> </strong></h5>
<p>The <a href="http://www.genetics-gsa.org">Genetics Society of America</a> (GSA) has announced two award winners familiar to the model organism database world:</p>
<ul>
<li>Ira Herskowitz Award: Mike Cherry, Stanford University</li>
<li>Lifetime Achievement Award: Steve Oliver, University of Cambridge</li>
</ul>
<p>The awards will be presented at the next <a href="http://conferences.genetics-gsa.org/yeast/2018/index">Yeast Genetics Meeting</a>, at Stanford University in August 2018. Congratulations and thanks to Mike and Steve!</p>


<div id="archive-link"><a routerLink="/news/">News archive</a></div>
</div>

