<div class="recent-news">
<h5 id="in-memory-of-andré-goffeau-2018-04-05"><strong>In memory of André Goffeau <em>2018-04-05</em> </strong></h5>
<p>Sadly, PomBase staff and the fission yeast community note the death of André Goffeau on April 2, 2018. In addition to initiating and coordinating the sequencing of the budding yeast genome, Prof. Goffeau will be remembered for his contributions to the fission yeast genome project and for his knowledge, leadership, and friendship.</p>

<h5 id="congratulations-to-gsa-award-winners-2017-11-24"><strong>Congratulations to GSA award winners <em>2017-11-24</em> </strong></h5>
<p>The <a href="http://www.genetics-gsa.org">Genetics Society of America</a> (GSA) has announced two award winners familiar to the model organism database world:</p>
<ul>
<li>Ira Herskowitz Award: Mike Cherry, Stanford University</li>
<li>Lifetime Achievement Award: Steve Oliver, University of Cambridge</li>
</ul>
<p>The awards will be presented at the next <a href="http://conferences.genetics-gsa.org/yeast/2018/index">Yeast Genetics Meeting</a>, at Stanford University in August 2018. Congratulations and thanks to Mike and Steve!</p>

<h5 id="new-improved-pombase-goes-live-2017-10-24"><strong>New, improved PomBase goes live <em>2017-10-24</em> </strong></h5>
<p>The new PomBase web site, which has been under development during 2017, has been released. The new site features:</p>
<ul>
<li>Nightly data updates</li>
<li>New publication pages</li>
<li>New genotype pages</li>
<li>Improved ontology term pages</li>
<li>Improved summary views for annotation displays</li>
<li>Phenotype annotation display filtering</li>
<li>Faster querying in the advanced search</li>
<li>Front page research and community curation highlights</li>
<li>Streamlined back-end data storage and retrieval</li>
</ul>
<p>We thank the members of the fission yeast research community who have followed its progress via the preview site, and welcome feedback from all users.</p>


<div id="archive-link"><a routerLink="/news/">News archive</a></div>
</div>

