h1,h2,h3,h4 {
  padding: 0.2em 0 0.2em 0;
}

table thead td.end-pos {
  text-align: right;
  padding-left: 1em;
}

#motif-search-heading-section {
  max-width: 1000px;
}

.input-and-doc-link {
  display: inline-block;
}

.motif-docs-link {
  padding-left: 0.7em;
}

.results {
  margin-top: 0.5em;
  clear: both;
}

.results tbody {
  border-top: 0.1em solid grey;
}

.results td {
  padding: 0.2em 0;
}

.results td.peptide-id {
  vertical-align: top;
}

.results td.product, .results th.product {
  padding-left: 0.5em;
  padding-right: 1em;
}

.results td.product {
  vertical-align: top;
}

.results td.start-pos, .results th.start-pos {
  padding-left: 0.5em;
  padding-right: 1em;
}

.results td.before-peptides {
  text-align: right;
  font-family: monospace;
}

.results td.matching-peptides {
  color: red;
  font-family: monospace;
}

.results td.after-peptides {
  font-family: monospace;
}

.results td.end-pos {
  text-align: right;
}

.results .other-genes {
  font-size: 110%;
  font-weight: bold;
}

.match-count {
  margin-right: 2em;
}

.match-count .count {
  font-weight: bold;
}

.no-match {
  margin-top: 1em;
}

.input-area {
  padding: 1em;
  font-size: 105%;
}

.send-genes {
  margin-bottom: 1em;
}

.input-reset {
  margin-left: 0.4em;
}

.result-header {
  margin-bottom: 1em;
}

.pep {
  font-weight: bold;
}

.aa-header {
  margin-top: 1em;
}

.help-when-not-typing {
  margin: 1em;
  margin-top: 2em;
}

.help-while-typing {
  font-size: 75%;
  display: inline-block;
  vertical-align: top;
  padding-left: 4em;
  padding-top: 0.8em;
}
