<div *ngIf="geneSummaries">
  <h1>Search for a motif <span *ngIf="organismCommonName">in all {{organismCommonName}} protein sequences</span></h1>
  <div class="input-area">
    <input type="text" [(ngModel)]="motif" placeholder="Enter a motif ..." (ngModelChange)="motifChange($event)"/>
    <a class="input-reset" (click)="resetSearch()">clear</a>
  </div>
  <div class="motif-docs">
    <app-help-link [route]="'/documentation/motif-search'" [title]="'Documentation ...'">
      Documentation ...
    </app-help-link>
  </div>
  <div *ngIf="searchState == SearchState.ShowHelp">
    <h3>Search examples</h3>
    <div style="width: 50em">
    <table width="100%" border="0">
      <tbody>
        <tr>
    <td class="pep">CADR</td>
    <td>will find</td>
    <td>any protein containing <span class="pep">CADR</span></td>
  </tr>
  <tr>
    <td class="pep">CA[DE]R</td>
    <td>will find</td>
    <td>any protein containing <span class="pep">CADR</span> or <span class="pep">CAER</span></td>
  </tr>
  <tr>
    <td class="pep">CA[DE]+LQ</td>
    <td>will find</td>
    <td><span class="pep">CA</span>(any sequence of <span class="pep">D</span> and <span class="pep">E</span>)<span class="pep">LQ</span></td>
  </tr>
  <tr>
    <td class="pep">CA...R</td>
    <td> will find</td>
    <td><span class="pep">CA</span>(any three amino acids)<span class="pep">R</span></td>
  </tr>
  <tr>
    <td class="pep">CA.+R </td>
    <td>will find </td>
    <td><span class="pep">CA</span>(one or more amino acids)<span class="pep">R</span></td>
  </tr>
  <tr>
    <td class="pep">SPR.|SP.R</td>
    <td>will find </td>
    <td><span class="pep">SPRX</span> or <span class="pep">SPXR</span></td>
  </tr>
  <tr>
    <td class="pep">^ME </td>
    <td>will find </td>
    <td>proteins beginning with <span class="pep">ME</span></td>
  </tr>
  <tr>
    <td class="pep">LAA$</td>
    <td>will find </td>
    <td>proteins terminating <span class="pep">LAA</span></td>
  </tr>
  <tr>
    <td class="pep">^.{{ '{1,20}MCA' }}</td>
    <td>will find </td>
    <td>proteins with <span class="pep">MCA</span> in the first 20 amino acids</td>
  </tr>
      </tbody>
    </table>
    </div>
    <h4 class="aa-header">
      Amino acid group codes
    </h4>
    <div class="aa-example" style="width: 50em">
      <table>
        <tr>
          <td style="padding-right: 0.5em">
            Examples:
          </td>
          <td>
            <span class="pep">CA6AC</span> will find
            <span class="pep">CALAC</span> and <span class="pep">CAFAC</span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><span class="pep">CA0+LQ</span> will find
            <span class="pep">CA</span>(any sequence of <span class="pep">D</span> or <span class="pep">E</span>)<span class="pep">LQ</span>
          </td>
        </tr>
      </table>
    </div>
    <div style="width: 30em">
    <table width="100%" border="0">
      <tbody><tr>
    <th align="left">AA group</th>
    <th align="left">Code</th>
    <th align="left">Amino acids</th>
        </tr>
        <tr>
    <td>acidic </td>
    <td>0 </td>
    <td class="pep">DE</td>
        </tr>
        <tr>
    <td>alcohol </td>
    <td>1 </td>
    <td class="pep">ST</td>
        </tr>
        <tr>
    <td>aliphatic </td>
    <td>2 </td>
    <td class="pep">AGILV</td>
        </tr>
        <tr>
    <td>aromatic </td>
    <td>3 </td>
    <td class="pep">FHWY</td>
        </tr>
        <tr>
    <td>basic </td>
    <td>4 </td>
    <td class="pep">KRH</td>
        </tr>
        <tr>
    <td>charged </td>
    <td>5 </td>
    <td class="pep">DEHKR</td>
        </tr>
        <tr>
    <td>hydrophobic </td>
    <td>6 </td>
    <td class="pep">AVILMFYW</td>
        </tr>
        <tr>
    <td>hydrophilic </td>
    <td>7 </td>
    <td class="pep">KRHDENQ</td>
        </tr>
        <tr>
    <td>polar </td>
    <td>8 </td>
    <td class="pep">CDEHKNQRST</td>
        </tr>
        <tr>
    <td>small </td>
    <td>9 </td>
    <td class="pep">ACDGNPSTV</td>
        </tr>
        <tr>
    <td>tiny </td>
    <td>B </td>
    <td class="pep">AGS</td>
        </tr>
        <tr>
    <td>turnlike </td>
    <td>Z </td>
    <td class="pep">ACDEGHKNQRST</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <div>
    <div class="no-match" *ngIf="searchState == SearchState.NoResults">
      <h4>No matching peptides</h4>
    </div>

    <div class="searching-message" *ngIf="searchState == SearchState.Searching">
			<h4>Searching ...</h4>
    </div>

    <div class="results" *ngIf="searchState == SearchState.SomeResults">
      <div class="result-header">
      <span class="match-count">
        <span class="count">{{peptideResults.length}}</span> matching genes
      </span>
      <span class="send-genes">
        <a (click)="sendToQueryBuilder()">Send gene list to advanced search</a>
      </span>
      </div>
    <table>
      <thead>
        <tr>
          <td>Gene</td>
          <td class="product">Product</td>
          <td class="start-pos">Start</td>
          <td colspan="3"></td>
          <td class="end-pos">End</td>
        </tr>
      </thead>
      <tbody *ngFor="let peptideResult of peptideResultsWithDetails">
        <tr class="match-line" *ngFor="let peptideMatch of peptideResult.matches ; let i = index">
          <td class="peptide-id" *ngIf="i==0" [attr.rowspan]="peptideResult.matches.length">
            <app-gene-link [gene]="geneSummaries[peptideResult.gene_id]" [long]="false"></app-gene-link>
          </td>
          <td class="product" *ngIf="i==0" [attr.rowspan]="peptideResult.matches.length">{{geneSummaries[peptideResult.gene_id].product || ''}}</td>
          <td class="start-pos">{{peptideMatch.start}}</td>
          <td class="before-peptides">{{peptideMatch.before}}</td>
          <td class="matching-peptides">{{peptideMatch.match}}</td>
          <td class="after-peptides">{{peptideMatch.after}}</td>
          <td class="end-pos">{{peptideMatch.end}}</td>
        </tr>
        <tr *ngIf="peptideResult.match_count > peptideResult.matches.length">
          <td></td><td></td><td colspan="5">Showing first {{peptideResult.matches.length}} matches.  <a (click)="morePeptideMatches(peptideResult.gene_id)">Show all ...</a></td>
        </tr>
        <tr *ngIf="peptideResult.match_count == peptideResult.matches.length && peptideResult.match_count > 20">
          <td></td><td></td><td colspan="5">Showing all {{peptideResult.matches.length}} matches</td>
        </tr>
      </tbody>
    </table>
    <div class="other-genes" *ngIf="geneMatchesWithNoDetails != 0">
      <span *ngIf="geneMatchesWithNoDetails == 1">One other matching gene not shown</span>
      <span *ngIf="geneMatchesWithNoDetails > 1">{{geneMatchesWithNoDetails}} other matching genes not shown</span>
      - <span class="send-genes"><a (click)="sendToQueryBuilder()">Send gene list to advanced search</a></span> to see all genes
    </div>
  </div>
</div>
