.front-panel {
  background-color: white;
}

.panel-contents {
  padding: 0.4em;
  width: 300px;
}

.title {
  font-weight: bold;
  font-size: 110%;
}

.community .head-img {
  height: 140px;
}

.community .panel-contents {
  background-color: #fffa;
  padding: 0 0.4em 0.4em 0.4em;
}

.date-added {
  color: #666;
  font-size: 90%;
}
