<div class="front-panel">
  <img *ngIf="headImage" class="head-img" width="300" height="185" src="{{headImage}}" />
  <video *ngIf="headVideo" width="300" autoplay>
    <source src="{{headVideo}}" type="video/mp4">
  </video>

  <div class="panel-contents">
    <div class="title">
      <span *ngIf="panelDescription">{{panelDescription}}: </span>
      <span *ngIf="!conf.title_link">{{conf.title}}</span>
      <a *ngIf="conf.title_link" href="{{conf.title_link}}">{{conf.title}}</a>
    </div>
    <app-front-panel-content [panelId]="conf.internalId"></app-front-panel-content>
    <a *ngIf="conf.internalLink" routerLink="{{conf.internalLink}}">
      {{conf.link_label}}
    </a>
    <a *ngIf="conf.externalLink" href="{{conf.externalLink}}">
      {{conf.link_label}}
    </a>
  </div>
</div>
