<div class="front-panel">
  <img class="head-img" width="300" height="185" src="{{headImage}}" />
  <div class="panel-contents">
    <div class="title"><span *ngIf="panelDescription">{{panelDescription}}: </span>{{conf.title}}</div>
    <app-front-panel-content [panelId]="conf.internalId"></app-front-panel-content>
    <a *ngIf="conf.internalLink" routerLink="{{conf.internalLink}}">
      {{conf.link_label}}
    </a>
    <a *ngIf="conf.externalLink" href="{{conf.externalLink}}">
      {{conf.link_label}}
    </a>
  </div>
</div>
