.front-panel {
  background-color: white;
}

.panel-contents {
  padding: 0.4em;
  width: 300px;
}

.sub-heading {
  font-weight: bold;
}

.panel-desc {
  position: absolute;
  background-color: rgba(250,250,250,0.9);
  font-weight: bold;
  font-size: 110%;
  margin: 0.4em;
}
