<div>
  <app-loading-spinner *ngIf="!genotypeDetails && !apiError"></app-loading-spinner>
  <app-api-error-display *ngIf="apiError" [error]="apiError"></app-api-error-display>
  <div id="genotype-details" *ngIf="genotypeDetails && !apiError">
    <app-contact-email class="contact-email" [linkName]="'Contact curators ...'"
                       [subject]="'Comment or problem report'"></app-contact-email>
    <div class="details-page-name-and-id">
      <div class="name" *ngIf="genotypeDetails.name">
        <span [innerHTML]="genotypeDetails.name"></span>
      </div>

      <span [innerHTML]="displayName"></span>
    </div>

    <div id="genotype-summary" class="details-page-summary genotype-details-page-summary">
      <span *ngIf="genotypeDetails.background">
        <span class="details-label">Background</span>
        {{genotypeDetails.background}}
      </span>
      <div>
        <app-genotype-allele-summary [genotype]="genotypeDetails">
        </app-genotype-allele-summary>
      </div>

    </div>

    <div *ngFor="let annotationTypeName of annotationTypeNames">
      <div *ngIf="genotypeDetails.cv_annotations[annotationTypeName]">
        <app-annotation-table [annotationTypeName]="annotationTypeName"
                              [scope]="'genotype'"
                              [tableDisplayName]="'Annotations for this genotype'"
                              [hideColumns]="['genotype', 'desc-rel']"
                              [annotationTable]="genotypeDetails.cv_annotations[annotationTypeName]"></app-annotation-table>
      </div>
    </div>
  </div>
</div>
