<div>
  <app-loading-spinner *ngIf="!genotypeDetails"></app-loading-spinner>
  <div id="genotype-details" *ngIf="genotypeDetails">
    <div class="details-page-name-and-id">
      <div class="name" *ngIf="genotypeDetails.name">
        <span [innerHTML]="genotypeDetails.name"></span>
      </div>

      <span [innerHTML]="displayName"></span>
    </div>


    <hr style="clear: both" />

    <div *ngIf="genotypeDetails.background"
         id="genotype-summary" class="details-page-summary genotype-details-page-summary">
      <span *ngIf="genotypeDetails.background">
        <span class="details-label">Background</span>
        {{genotypeDetails.background}}
      </span>
    </div>

    <div>
      <app-genotype-allele-summary [genotypeDetails]="genotypeDetails">
      </app-genotype-allele-summary>
    </div>

    <div *ngFor="let annotationTypeName of annotationTypeNames">

      <div *ngIf="genotypeDetails.cv_annotations[annotationTypeName]">
        <app-annotation-table [annotationTypeName]="annotationTypeName"
                              [hideColumns]="['genotype', 'desc-rel']"
                              [annotationTable]="genotypeDetails.cv_annotations[annotationTypeName]"></app-annotation-table>
      </div>
    </div>
  </div>
</div>
