<fieldset *ngIf="annotationTable.length > 0" class="annotation-table">
  <legend>
    <span *ngIf="annotationTypeName">{{annotationTypeDisplayName}}</span>
    <span *ngIf="!annotationTypeName">Annotations</span>
  </legend>

  <div style="font-weight: bold; padding: 5px 0 5px 0; font-size: 120%;">
    <div *ngIf="truncatedTable.length != annotationTable.length">
      Note: showing only {{maxRows}} of {{annotationTable.length}} annotations.
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th *ngIf="!hideColumn['descRelName']">Descendant relation</th>
        <th *ngIf="!hideColumn['descDist']">Distance</th>
        <th *ngIf="!hideColumn['gene']">Gene</th>
        <th *ngIf="!hideColumn['term']">Term ID</th>
        <th *ngIf="!hideColumn['term']">Term name</th>
        <th *ngIf="!hideColumn['term']">Other genes</th>
        <th *ngIf="showGenotypes">Genotype</th>
        <th *ngIf="!hideColumn['evidence']">Evidence</th>
        <th *ngIf="!hideColumn['reference']">Reference</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let annotation of truncatedTable">
        <td *ngIf="!hideColumn['descRelName']">{{annotation.descRelName}}</td>
        <td *ngIf="!hideColumn['descDist']">{{annotation.descDist}}</td>
        <td *ngIf="!hideColumn['gene']">
          <app-gene-link *ngIf="annotation.gene" [gene]="annotation.gene"></app-gene-link>
        </td>
        <td *ngIf="!hideColumn['term']">
          <a *ngIf="annotation.term" routerLink="/term/{{annotation.term.termid}}" routerLinkActive="active">{{annotation.term.termid}}</a>
        </td>
        <td *ngIf="!hideColumn['term']">
          <div>
            <span *ngIf="annotation.is_not" class="not-annotation">NOT</span>
            <a *ngIf="annotation.term" routerLink="/term/{{annotation.term.termid}}" routerLinkActive="active">{{annotation.term.name}}</a>
          </div>
          <div *ngIf="!hideColumn['extension']">
            <app-extension-display *ngIf="annotation.extension"
                                   [extension]="annotation.extension"></app-extension-display>
          </div>
        </td>
        <td *ngIf="!hideColumn['term']">
          <a *ngIf="annotation.term" routerLink="/term_genes/{{annotation.term.termid}}" routerLinkActive="active">{{annotation.term.gene_count}}</a>
        </td>
        <td *ngIf="showGenotypes">
          <app-genotype-link *ngIf="annotation.genotype" [genotype]="annotation.genotype"></app-genotype-link>
        </td>
        <td *ngIf="!hideColumn['evidence']">{{annotation.evidence}}</td>
        <td *ngIf="!hideColumn['reference']">
          <app-reference-short *ngIf="annotation.reference"
                               [reference]="annotation.reference"></app-reference-short>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
