<div>
  <app-loading-spinner *ngIf="!termDetails && !apiError"></app-loading-spinner>
  <app-api-error-display *ngIf="apiError" [error]="apiError"></app-api-error-display>

  <div id="term-details" class="details-page" *ngIf="termDetails">
    <app-social-contact></app-social-contact>

    <div id="term-details-menu">
      <app-details-page-menu *ngIf="termDetails"
                             [title]="termDetails.termid"
                             [visibleSections]="visibleSections"></app-details-page-menu>
    </div>

    <app-term-page-summary [termDetails]="termDetails"></app-term-page-summary>

    <div class="no-annotations" *ngIf="!hasAnnotations()">
      No annotations for {{termDetails.termid}}
    </div>
    <div *ngIf="hasAnnotations()">

    <div *ngIf="annotationFeatureType == 'gene' && annotatedGeneCount > 0" class="term-page-view-change">
      <a routerLink="/term_genes/{{termDetails.termid}}"
         routerLinkActive="active">View {{annotatedGeneCount}} gene{{annotatedGeneCount>1?'s':''}} annotated with this term ...</a>
    </div>
    </div>

    <div *ngIf="annotationFeatureType == 'genotype' && singleLocusGenotypeCount > 0" class="term-page-view-change">
      <div>
        <a routerLink="/term_single_locus_genotype_genes/{{termDetails.termid}}"
           routerLinkActive="active">View {{singleLocusGenotypeGeneCount}} gene{{singleLocusGenotypeGeneCount>0?'s':''}} from single locus genotypes associated with this term ...</a>
      </div>
      <div>
        <a routerLink="/term_genotypes/{{termDetails.termid}}">View {{singleLocusGenotypeCount}} single locus genotype{{singleLocusGenotypeCount>0?'s':''}} associated with this term ...</a>
      </div>
    </div>

    <div>
    <div *ngFor="let annotationTypeName of annotationTypeNames">

      <div *ngIf="termDetails.cv_annotations[annotationTypeName]">
        <app-annotation-table id="{{annotationTypeName}}"
                              *ngIf="annotationTypeName != 'quantitative_gene_expression'"
                              [scope]="'term'"
                              [tableDisplayName]="makeTableDisplayName(annotationTypeName)"
                              [annotationTypeName]="annotationTypeName"
                              [featureInFirstColumn]="true"
                              [hideColumns]="['genotype_background']"
                              [annotationTable]="termDetails.cv_annotations[annotationTypeName]"></app-annotation-table>


      </div>
    </div>
  </div>
</div>
