<div id="term-details">
  <div *ngIf="termDetails">
    <div class="details-page-name-and-id">
      {{termDetails.termid}}
    </div>

    <hr style="clear: both" />

    <div id="term-summary" class="details-page-summary">
      <table>
        <tr>
          <td class="details-label">Name</td>
          <td class="term-name">{{termDetails.name}}</td>
        </tr>
        <tr>
          <td class="details-label">Definition</td>
          <td>{{termDetails.definition}}</td>
        </tr>
      </table>
    </div>

    <hr style="clear: both" />

    <div>
      <app-annotation-table [hideColumns]="['term']"
                            [annotationTypeName]="'Annotations'"
                            [annotationTable]="termDetails.annotations"></app-annotation-table>
    </div>
  </div>
</div>
