.term-parent-rel {
  padding-right: 4px;
}

.external-links div {
  padding: 0.5em 0 0.5em 0;
}

.no-annotations {
  margin: 10px 0;
  font-size: 120%;
}

.details-page-summary table {
  width: 90%;
}

.details-page-summary {
  border-bottom: 1px solid #bbb;
}
