.jbrowse-picker {
  margin: 1em 0;
}

.jbrowse-header {
  margin: 0.6em 0;
  font-size: 150%;
}

.view-link {
  margin-left: 1em;
}

.select-tracks-help {
  font-size: 120%;
  margin-bottom: 0.6em;
}

button.load-in-jbrowse {
  margin: 0 3em;
}

th {
  color: #eef;
  background-color: #768ad3;
  padding: 0.5em;
  border: 2px solid white;
}

td {
  padding: 0.2em 0.5em;
  vertical-align: middle;
}

td:first-child {
  padding: 0.5em;
}

tr:nth-child(odd) {
  background-color: #f8f8ff;
}

tr:hover {
  background-color: #eef;
}