<div id="jbrowse_tracks" *ngIf="hasTracks()">
  <div class="jbrowse-header">
Genome browser tracks from this publication:
  </div>
<fieldset class="jbrowse-picker annotation-table">
  <legend>
    <span *ngIf="tracks.length == 1">A dataset from this publication is available in the genome browser</span>
    <span *ngIf="tracks.length != 1">{{tracks.length}} datasets from this publication are available in the genome browser</span>

  </legend>

  <div *ngIf="tracksVisible">
    <div class="select-tracks-help">
      <div>
        <div>
          Choose tracks to view
        </div>
        <div>
          Select: <a (click)="selectAll()">all</a> | <a (click)="selectNone()">none</a>
        </div>
      </div>

      <button class="btn btn-primary load-in-jbrowse"
              [attr.title]="selectedCount() == 0 ? 'Select some tracks from the list below' : 'View the selected tracks in JBrowse'"
              [disabled]="loadButtonDisabled()"
              (click)="loadInJBrowse()">Load in JBrowse</button>
    </div>

    <table *ngIf="tracksVisible">
      <thead>
        <tr>
          <th>

          </th>
          <th *ngFor="let col of colConfig">
            {{col.display_name}}
          </th>
        </tr>
      </thead>
      <tr *ngFor="let track of tracks">
        <td>
          <input id="track.label" type="checkbox"
                 [attr.title]="selectCheckboxesDisabled() ? 'JBrowse track limit reached' : 'Check box to select this track for JBrowse'"
                 [disabled]="selectCheckboxesDisabled() && !selectedTracks[track.label]"
                 [(ngModel)]="selectedTracks[track.label]"
                 (ngModelChange)="trackSelected(track.label)"
                 title="Select / unselect track"/>
        </td>

        <td *ngFor="let col of colConfig">
          <a class="download-link" *ngIf="col.download_link" href="{{track[col.name]}}">Download ...</a>
          <span *ngIf="!col.download_link">{{track[col.name] || ''}}</span>
        </td>
      </tr>
    </table>
  </div>
</fieldset>
</div>
