.jbrowse-picker {
  margin: 1em 0;
}

.jbrowse-header {
  margin: 0.6em 0;
  font-size: 150%;
}

.view-link {
  margin-left: 1em;
}

.select-tracks-help {
  font-size: 120%;
  margin-bottom: 0.6em;
}

.select-tracks-help > div:first-child {
  display: inline-block;
}

.select-tracks-help div {
  margin: 0.1em 0;
}

button.load-in-jbrowse {
  vertical-align: top;
  margin: 0.6em 3em;
}

th {
  color: black;
  background-color: #c8d0ea;
  padding: 0.5em;
  border: 2px solid white;
  white-space: normal;
}

td {
  padding: 0.2em 0.5em;
  vertical-align: middle;
}

td:first-child {
  padding: 0.5em;
}

tr:nth-child(odd) {
  background-color: #f3f3fa;
}

tr:hover {
  background-color: #eef;
}

.download-link {
  white-space: nowrap;
}

.jbrowse-picker th a {
  color: #333;
  font-weight: normal;
}

.jbrowse-picker th span.order-column,
.jbrowse-picker th a {
  margin-left: -26px;
}

.jbrowse-picker th img {
  width: 24px;
}

.jbrowse-picker th > div {
  margin-left: 24px;
}

.jbrowse-picker th span.order-column {
  color: black;
  font-weight: bold;
}
