.gene-neighbourhood {
  padding: 10px 0 10px 0;
  white-space: nowrap;
  display: block;
}

@media (min-width: 1200px) {
  .gene-neighbourhood {
    width: calc(16em + 800px);
    overflow-x: visible;
  }
}
@media (max-width: 1199px) {
  .gene-neighbourhood {
    white-space: normal;
  }
}


.gene-neighbourhood-inner {
  text-align: center;
}

.gene-neighbourhood-focus-gene {
  font-weight: bold;
}

@media (max-width: 1199px) {
  .gene-neighbourhood-focus-gene {
    font-size: 120%;
    display: block;
  }
}

.gene-neighbourhood-genes {
  padding: 0 5px 0 5px;
}
