.go-slim-table {
}

td, th {
  padding: 2px 8px 2px 8px;
}

#non-slim-genes {
  padding: 1em 0 1em 0;
}

#non-slim-total, #slim-gene-totals-header {
  font-weight: bold;
}

#slim-gene-totals {
  margin: 2em 0 0.5em 0;
}
