<div>
  <app-loading-spinner *ngIf="!goSlimSubset && !apiError"></app-loading-spinner>
  <app-api-error-display *ngIf="apiError" [error]="apiError"></app-api-error-display>

  <div *ngIf="goSlimSubset">
  <table class="go-slim-table">
    <thead>
      <th>Name</th>
      <th>Term</th>
      <th>Genes</th>
      <th>Physical network interaction</th>
    </thead>
    <tbody>
      <tr *ngFor="let element of goSlimSubset.elements">
        <td>{{element.name}}</td>
        <td>
          <a routerLink="/term/{{element.termid}}" routerLinkActive="active">{{element.termid}}</a>
        </td>
        <td>
          <a routerLink="/term_genes/{{element.termid}}" routerLinkActive="active">{{element.gene_count}}</a>
        </td>
        <td>
          <app-external-link [identifier]="element.termid"
                             [linkText]="'esyN'"
                             [linkConfigKey]="'esyn'"
                             [iconImage]="'esyn_icon.png'">
          </app-external-link>
        </td>
      </tr>
    </tbody>
  </table>

  <div id="slim-gene-totals">
    <div id="slim-gene-totals-header">
      Total slimmed gene products (protein and ncRNA): {{goSlimSubset.total_gene_count}}
    </div>

    Note that the counts in the "Genes" column are not additive,
    because many gene products are annotated to more than one term in
    the GO slim.
  </div>
  
  </div>

  <div *ngIf="nonSlimWithBP" id="non-slim-genes">
    <div id="non-slim-total">Protein coding genes not covered by the slim
    ({{nonSlimWithBP.elements.length + nonSlimWithoutBP.elements.length}} in total):</div>
    <div>
      Gene products with biological process annotation, but not in any of the
      categories above:
      <a routerLink="/gene_subset/non_go_slim_with_bp_annotation"
         routerLinkActive="active">{{nonSlimWithBP.elements.length}}</a>
    </div>
    <div>Gene products with no biological process annotation:
      <a routerLink="/gene_subset/non_go_slim_without_bp_annotation"
         routerLinkActive="active">{{nonSlimWithoutBP.elements.length}}</a>
    </div>
  </div>
</div>
