<div>
  <app-loading-spinner *ngIf="!goSlimSubset && !apiError"></app-loading-spinner>
  <app-api-error-display *ngIf="apiError" [error]="apiError"></app-api-error-display>

  <table *ngIf="goSlimSubset" class="go-slim-table">
    <thead>
      <th>Name</th>
      <th>Term</th>
      <th>Genes</th>
      <th>Physical network interaction</th>
    </thead>
    <tbody>
      <tr *ngFor="let element of goSlimSubset.elements">
        <td>{{element.name}}</td>
        <td>
          <a routerLink="/term/{{element.termid}}" routerLinkActive="active">{{element.termid}}</a>
        </td>
        <td>
          <a routerLink="/term_genes6/{{element.termid}}" routerLinkActive="active">{{element.gene_count}}</a>
        </td>
        <td>
          <app-external-link [identifierForLink]="element.termid"
                             [linkName]="'esyN'"
                             [linkConfigKey]="'esyn'"
                             [iconImage]="'esyn_icon.png'">
          </app-external-link>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="nonSlimWithBP" id="non-slim-genes">
    <div id="non-slim-total">Genes not covered by the slim
    ({{nonSlimWithBP.elements.length + nonSlimWithoutBP.elements.length}} in total):</div>
    <div>
      Genes with a process annotation, but not in any of the
      categories above:
      <a routerLink="/gene_subset/non_go_slim_with_bp_annotation"
         routerLinkActive="active">{{nonSlimWithBP.elements.length}}</a>
    </div>
    <div>Genes with no biological process annotation:
      <a routerLink="/gene_subset/non_go_slim_without_bp_annotation"
         routerLinkActive="active">{{nonSlimWithoutBP.elements.length}}</a>
    </div>
  </div>
</div>
