<div>
  <div id="gene-details" *ngIf="geneDetails">
    <div class="details-page-name-and-id">
    <div *ngIf="geneDetails.name">
      {{geneDetails.name}} ({{geneDetails.uniquename}})
    </div>
    <div *ngIf="!geneDetails.name">
      {{geneDetails.uniquename}}
    </div>
    </div>

    <hr style="clear: both" />

    <div id="gene-summary" class="details-page-summary">
    <table>
      <tbody>
        <tr>
          <td class="details-label">Gene standard name</td>
          <td>{{geneDetails.name}}</td>
          <td class="details-label">Characterisation status</td>
          <td>{{geneDetails.characterisation_status}}</td>
        </tr>
        <tr>
          <td class="details-label">Systematic ID</td>
          <td>{{geneDetails.uniquename}}</td>
          <td class="details-label">Feature Type</td>
          <td>{{geneDetails.feature_type}}</td>
        </tr>
        <tr>
          <td class="details-label">Synonyms</td>
          <td>{{synonymsDisplay}}</td>
          <td class="details-label">Name description</td>
          <td>...</td>
        </tr>
        <tr>
          <td class="details-label">Product</td>
          <td>{{geneDetails.product}}</td>
          <td class="details-label">Product size</td>
          <td>...aa, ...kDa</td>
        </tr>
        <tr>
          <td class="details-label">Genomic location</td>
          <td colspan="1">{{displayLocation}}</td>
        </tr>
      </tbody>
    </table>
    </div>

    <hr style="clear: both" />

    <div>

    <app-gene-annotation-table *ngFor="let annotationTypeName of annotationTypeNames"
                               [annotationTypeName]="annotationTypeName"
                               [annotationTable]="geneDetails.annotations[annotationTypeName]"></app-gene-annotation-table>
    </div>
  </div>
</div>
