.gene-name {
  font-weight: bold;
}

.no-gene-name {
  color: #666;
}

.gene-details-name-id {
  font-size: 110%;
}

.details-page-summary td {
  padding-right: 30px;
}

#gene-summary {
  display: inline-grid;
}

@supports (display: grid) {
  @media (min-width: 1200px) {
    #gene-summary {
      grid-template-columns: min-content auto min-content auto;
    }
  }
  @media (max-width: 1200px) and (min-width: 600px) {
    #gene-summary {
      grid-template-columns: auto auto;
    }
  }
  @media (max-width: 600px) {
    #gene-summary {
      grid-template-columns: auto;
      width: 99%;
    }
  }
}

#gene-summary div:nth-child(odd) {
  margin: 0.2em 1.5em 0.2em 0;
  min-width: 10em;
}

#gene-summary div:nth-child(even) {
  margin: 0.2em 3em 0.2em 0;
  max-width: 40em;
}

#gene-summary div:nth-child(4n) {
  white-space: nowrap;
}

.genomic-location {
  margin: 0 !important;
}

.genomic-location td {
  padding: 2px;
}

@media (min-width: 600px) {
  .genomic-location td {
    white-space: nowrap;
  }
  .gene-page-widgets {
    margin-bottom: 1em;
  }
}

.details-and-transcripts-note {
  margin-bottom: 0.2em;
}

.gene-transcripts-note {
  font-size: 130%;
}

.details-page-external-links {
  font-size: 120%;
}

.track-picker-message {
  font-size: 120%;
  padding-bottom: 1em;
}

.location-warning {
  color: darkred;
  font-size: 110%;
}
