<div>
  <app-loading-spinner *ngIf="!geneDetails && !apiError"></app-loading-spinner>
  <app-api-error-display *ngIf="apiError" [error]="apiError"></app-api-error-display>
  <div id="gene-details" class="details-page" *ngIf="geneDetails && !apiError">
    <app-social-contact [subject]="'Comment or problem report for ' + displayNameLong()"></app-social-contact>
    <div class="details-page-name-and-id">
    <div class="gene-details-name-id">
    <span class="gene-name" *ngIf="!isConfiguredOrganism">
      <span class="name-id">{{organism.common_name}}</span>
    </span>
    <span *ngIf="geneDetails.name">
      <span class="name-id"><span class="name-id-highlight">{{geneDetails.name}}</span> / {{geneDetails.uniquename}} details</span>
    </span>
    <span class="gene-name" *ngIf="!geneDetails.name">
      <span class="name-id">{{geneDetails.uniquename}}</span>
    </span>
    </div>
    </div>

    <div id="gene-summary" class="details-page-summary">
          <div class="details-label">Gene standard name</div>
          <div><span class="gene-name">{{geneDetails.name || ''}}</span></div>
          <div *ngIf="isConfiguredOrganism" class="details-label">Characterisation status</div>
          <div *ngIf="isConfiguredOrganism">{{geneDetails.characterisation_status}}</div>
          <div class="details-label">Product</div>
          <div>{{geneDetails.product}}</div>
          <div class="details-label">Feature type</div>
          <div>{{displayFeatureType}}</div>
          <div class="details-label">Systematic ID</div>
          <div>{{geneDetails.uniquename}}</div>
          <div *ngIf="productSize.length != 0" class="details-label">Product size</div>
          <div *ngIf="productSize.length != 0">{{productSize}}</div>
          <div class="details-label" *ngIf="!isConfiguredOrganism">Organism</div>
          <div *ngIf="!isConfiguredOrganism">{{organismLongName}}</div>
          <div *ngIf="displayLocation" class="details-label">Genomic location</div>
          <div *ngIf="displayLocation">
            <table class="genomic-location">
              <tr>
                <td [attr.rowspan]="displayLocation.length - 1">
                  {{displayLocation[0]}},
                </td>
                <td>{{displayLocation[1]}}
                  <span *ngIf="geneDetails.feature_publications.length == 1">
                    <app-reference-short
                      [reference]="geneDetails.feature_publications[0]"
                      [linkText]="'Source ...'"></app-reference-short>
                  </span>
                  <span *ngIf="geneDetails.feature_publications.length > 1">
                    <app-reference-short
                      *ngFor="let pub of geneDetails.feature_publications; let i = index"
                      [reference]="pub"
                      [linkText]="'[Source ' + (i+1) + ']'"></app-reference-short>
                  </span>
                </td>
              </tr>
              <tr *ngIf="displayLocation.length > 2">
                <td>{{displayLocation[2]}}</td>
              </tr>
            </table>
          </div>
          <div *ngIf="synonymsDisplay.length > 0" class="details-label">Synonyms</div>
          <div *ngIf="synonymsDisplay.length > 0">{{synonymsDisplay}}</div>
          <div class="details-label"><span *ngIf="geneDetails.name_descriptions.length > 0">Name description</span></div>
          <div>
            <span *ngFor="let nameDesc of geneDetails.name_descriptions; let i = index">
              {{nameDesc}}<span *ngIf="i < geneDetails.name_descriptions.length - 1">,<br/></span>
            </span>
          </div>
    </div>

    <div id="gene-details-menu">
      <app-details-page-menu *ngIf="geneDetails"
                             [title]="(geneDetails.name || geneDetails.uniquename) + ' summary'"
                             [extraSections]="extraMenuSections"
                             [visibleSections]="visibleSections"></app-details-page-menu>
    </div>

    <div class="chromosome-region-view" *ngIf="isConfiguredOrganism">
      <div class="jbrowse-container" *ngIf="getJBrowseIFrameURL()">
        <iframe [src]="getJBrowseIFrameURL()" scrolling="no" class="embedded-jbrowse">
        </iframe>
      </div>
    </div>

    <app-gene-neighbourhood [focusGeneUniquename]="geneDetails.uniquename"
                            [focusGeneName]="geneDetails.name"
                            [neighbourhood]="geneDetails.gene_neighbourhood"></app-gene-neighbourhood>

    <div *ngFor="let annotationTypeName of annotationTypeNames">

      <div *ngIf="geneDetails.cv_annotations[annotationTypeName]">
        <app-qual-gene-ex-table id="{{annotationTypeName}}" *ngIf="annotationTypeName == 'qualitative_gene_expression'"
                                 [scope]="'gene'"
                                 [hideColumns]="['gene']"
                                 [annotationTable]="geneDetails.cv_annotations[annotationTypeName]"></app-qual-gene-ex-table>

        <app-quant-gene-ex-table id="{{annotationTypeName}}" *ngIf="annotationTypeName == 'quantitative_gene_expression'"
                                 [scope]="'gene'"
                                 [hideColumns]="['gene']"
                                 [annotationTable]="geneDetails.cv_annotations[annotationTypeName]"></app-quant-gene-ex-table>

        <app-annotation-table id="{{annotationTypeName}}"
                              *ngIf="annotationTypeName != 'qualitative_gene_expression' && annotationTypeName != 'quantitative_gene_expression'"
                              [scope]="'gene'"
                              [annotationTypeName]="annotationTypeName"
                              [geneDetails]="geneDetails"
                              [hideColumns]="['gene', 'desc-rel', 'genotype_background']"
                              [annotationTable]="geneDetails.cv_annotations[annotationTypeName]"></app-annotation-table>
      </div>

      <app-misc-annotation-table id="{{annotationTypeName}}"
                                 *ngIf="annotationTypeName == 'miscellaneous' && hasMiscAnnotations()"
                                 [annotationTypeNames]="miscAnnotationTypeNames"
                                 [geneDetails]="geneDetails"></app-misc-annotation-table>

      <app-transcript-view id="{{annotationTypeName}}"
                           *ngIf="annotationTypeName == 'transcript_view' && geneDetails?.transcripts.length > 0"
                           [geneDetails]="geneDetails"></app-transcript-view>

      <app-protein-features id="{{annotationTypeName}}"
                            *ngIf="annotationTypeName == 'protein_features' && showProteinFeatures"
                            [geneDetails]="geneDetails"></app-protein-features>


      <app-interaction-annotation-table *ngIf="annotationTypeName == 'physical_interactions'"
                                        id="{{annotationTypeName}}"
                                      [annotationTypeName]="annotationTypeName"
                                      [currentGene]="geneDetails"
                                      [annotationTable]="geneDetails.physical_interactions"></app-interaction-annotation-table>
      <app-interaction-annotation-table *ngIf="annotationTypeName == 'genetic_interactions'"
                                        id="{{annotationTypeName}}"
                                      [annotationTypeName]="annotationTypeName"
                                      [currentGene]="geneDetails"
                                      [annotationTable]="geneDetails.genetic_interactions"></app-interaction-annotation-table>

      <app-ortholog-annotation-table *ngIf="annotationTypeName == 'orthologs'"
                                     id="{{annotationTypeName}}"
                                     [currentGene]="geneDetails"
                                     [annotationTable]="geneDetails.ortholog_annotations"></app-ortholog-annotation-table>
      <app-paralog-annotation-table *ngIf="annotationTypeName == 'paralogs'"
                                    id="{{annotationTypeName}}"
                                    [annotationTable]="geneDetails.paralog_annotations"></app-paralog-annotation-table>
      <app-target-of-annotation-table *ngIf="annotationTypeName == 'target_of'"
                                      id="{{annotationTypeName}}"
                                      [annotationTable]="geneDetails.target_of_annotations"></app-target-of-annotation-table>
    </div>

    <app-transcript-sequence-select *ngIf="isConfiguredOrganism" id="transcript-sequence"
                                    [geneDetails]="geneDetails"></app-transcript-sequence-select>

    <app-gene-external-references *ngIf="isConfiguredOrganism" id="external-refs"
                                  [geneDetails]="geneDetails"></app-gene-external-references>

    <app-gene-references-table id="literature"
                               [geneDetails]="geneDetails"
                               [references]="geneDetails.references"></app-gene-references-table>
  </div>
</div>
