#gene-summary {
  border: 0;
  border-top: 0;
  font-size: 120%;
}

table#gene-summary {
  width: 100%;
}

#gene-summary .label {
  font-weight: bold;
}

#gene-details .gene-name-and-id {
  font-size: 150%;
}
