<div id="reference-details">
  <app-loading-spinner *ngIf="!refDetails"></app-loading-spinner>
<div *ngIf="refDetails">
  <div class="details-page-name-and-id">
    <span class="reference-title" *ngIf="refDetails.title">
      {{refDetails.title}}
    </span>
  </div>

  <hr style="clear: both" />

  <div id="reference-summary" class="details-page-summary">
    <table>
      <tbody>
        <tr>
          <td class="details-label">ID</td>
          <td>{{refDetails.uniquename}}</td>
        </tr>
        <tr *ngIf="refDetails.uniquename.startsWith('PMID:')">
          <td class="details-label">Citation</td>
          <td>{{refDetails.citation}}</td>
          <td class="details-label">Publication date</td>
          <td>{{refDetails.pubmed_publication_date}}
        </tr>
        <tr *ngIf="refDetails.uniquename.startsWith('PMID:')">
          <td class="details-label">Authors</td>
          <td>{{refDetails.authors}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr style="clear: both" />

  <div>
    <app-annotation-table *ngFor="let annotationTypeName of annotationTypeNames"
                          [annotationTypeName]="annotationTypeName"
                          [hideColumns]="['reference', 'desc-rel']"
                          [annotationTable]="refDetails.annotations[annotationTypeName]"></app-annotation-table>
  </div>
  <div>
    <app-interaction-annotation-table *ngFor="let annotationTypeName of interactionAnnotationTypeNames"
                                      [annotationTypeName]="annotationTypeName"
                                      [annotationTable]="refDetails.interaction_annotations[annotationTypeName]"></app-interaction-annotation-table>
  </div>
  <div>
    <app-ortholog-annotation-table [annotationTable]="refDetails.ortholog_annotations"></app-ortholog-annotation-table>
  </div>
  <div>
    <app-paralog-annotation-table [annotationTable]="refDetails.paralog_annotations"></app-paralog-annotation-table>
  </div>

</div>
</div>
