<div>
  <app-loading-spinner *ngIf="!refDetails && !apiError"></app-loading-spinner>
  <app-api-error-display *ngIf="apiError" [error]="apiError"></app-api-error-display>

<div id="reference-details" class="details-page" *ngIf="refDetails && !apiError">
  <app-social-contact></app-social-contact>

  <div class="details-page-name-and-id">
    <span class="reference-title name-id-highlight" *ngIf="refDetails.title">
      {{refDetails.title}}
    </span>
  </div>

  <div id="reference-summary" class="details-page-summary">
    <ng-container *ngIf="isPubMedRef">

      <div class="details-label">Authors</div>
      <div>{{refDetails.authors}}</div>

      <ng-container *ngIf="!multiOrgMode && refAnnotationStatus != 'not-curated'">
        <div class="curation-status details-label">
          <a href="http://curation.pombase.org/pombe/"><img src="/assets/canto_icon.png"/></a>
        </div>

        <div class="curation-status curation-status-text">
          <div class="ref-curated-by" *ngIf="cantoCommunityCuratorName">
            Community curation provided by {{cantoCommunityCuratorName}}
          </div>
          <div class="ref-curated-by" *ngIf="!cantoCommunityCuratorName">
            Curated by {{siteName}} staff
          </div>
          <div *ngIf="refDetails.approved_date">
            Added to {{siteName}} on <span class="approved-date">{{refDetails.approved_date}}</span>
          </div>
        </div>
      </ng-container>

      <div class="details-label">Citation</div>
      <div>{{refDetails.citation}}</div>
    </ng-container>

    <div class="details-label">ID</div>
    <div>{{refDetails.uniquename}}</div>

    <ng-container r*ngIf="isPubMedRef">
      <div class="details-label">Links</div>
      <div>
        <a class="pub-link" href="http://europepmc.org/abstract/MED/{{pubMedId}}">Europe PMC</a>
          |
        <a *ngIf="refAnnotationStatus != 'has-annotations'"
           class="pub-link" href="http://www.ncbi.nlm.nih.gov/pubmed?term={{pubMedId}}">PubMed</a>
        <a *ngIf="refAnnotationStatus == 'has-annotations'"
           class="pub-link" href="https://www.ncbi.nlm.nih.gov/pubmed?holding=pombase&term={{pubMedId}}">PubMed</a>
      </div>
    </ng-container>

    <ng-container *ngIf="refDetails.abstract">
      <div class="details-label">Abstract</div>
      <div class="abstract">
        <div *ngIf="graphicalAbstractImagePath" id="graphical-abstract" >
          <img src="{{graphicalAbstractImagePath}}"/>
        </div>
        <video *ngIf="videoPath" width="300" autoplay id="graphical-abstract">
          <source src="{{videoPath}}" type="video/mp4">
        </video>
        {{refDetails.abstract}}
      </div>
    </ng-container>
  </div>

  <div id="reference-details-menu">
    <app-details-page-menu [title]="refDetails.uniquename"
                           [visibleSections]="visibleSections"></app-details-page-menu>
  </div>

  <app-jbrowse-track-picker [refUniquename]="refDetails.uniquename">
  </app-jbrowse-track-picker>

  <div *ngIf="refAnnotationStatus != null" class="annotations-section-header">
    <div *ngIf="refAnnotationStatus == 'has-annotations'">
      <div *ngIf="refDetails.uniquename.startsWith('PMID:')">
        Annotations from this publication:
      </div>
      <div *ngIf="!refDetails.uniquename.startsWith('PMID:')">
        Annotations from this reference:
      </div>
    </div>
    <div *ngIf="refAnnotationStatus != 'has-annotations'">This publication has no
      annotations in {{siteName}} because
      <span *ngIf="refAnnotationStatus == 'not-curated'">
        it hasn't been curated yet.
        (Please
<app-contact-email [linkName]="'contact us'"
                   [subject]="'Request to contribute annotations for ' + refDetails.uniquename"></app-contact-email>
if you would like to contribute annotations for this paper.)
      </span>
      <span *ngIf="refAnnotationStatus == 'no-annotation'">
        <span *ngIf="cantoTriageStatus == 'Review or comment'">
        it is a review.
        </span>
        <span *ngIf="cantoTriageStatus == 'Method or reagent'">
        it is a methods paper.
        </span>
        <span *ngIf="cantoTriageStatus != 'Review or comment' && cantoTriageStatus != 'Method or reagent'">
        the data it contains either cannot be associated with
        individual genes, or cannot be represented by currently
        available annotation types.
        </span>
      </span>
    </div>
  </div>

  <div>
    <span *ngFor="let annotationTypeName of annotationTypeNames">
      <app-qual-gene-ex-table id="{{annotationTypeName}}" *ngIf="annotationTypeName == 'qualitative_gene_expression'"
                              [hideColumns]="['reference']"
                              [annotationTable]="refDetails.cv_annotations[annotationTypeName]"></app-qual-gene-ex-table>

      <app-quant-gene-ex-table id="{{annotationTypeName}}" *ngIf="annotationTypeName == 'quantitative_gene_expression'"
                               [hideColumns]="['reference']"
                               [annotationTable]="refDetails.cv_annotations[annotationTypeName]"></app-quant-gene-ex-table>

      <app-annotation-table  id="{{annotationTypeName}}"
                             *ngIf="annotationTypeName != 'qualitative_gene_expression' && annotationTypeName != 'quantitative_gene_expression'"
                            [scope]="'reference'"
                            [annotationTypeName]="annotationTypeName"
                            [hideColumns]="['reference', 'desc-rel', 'genotype_background']"
                            [featureInFirstColumn]="true"
                            [annotationTable]="refDetails.cv_annotations[annotationTypeName]"></app-annotation-table>
    </span>
  </div>
  <div>
    <app-interaction-annotation-table [annotationTypeName]="'physical_interactions'"
                                      [hideColumns]="['reference']"
                                      [annotationTable]="refDetails.physical_interactions"></app-interaction-annotation-table>
  </div>
  <div>
    <app-interaction-annotation-table [annotationTypeName]="'genetic_interactions'"
                                      [hideColumns]="['reference']"
                                      [annotationTable]="refDetails.genetic_interactions"></app-interaction-annotation-table>
  </div>
  <div *ngIf="refDetails.ortholog_annotations.length != 0">
    <app-ortholog-annotation-table [hideColumns]="['reference']"
                                   [annotationTable]="refDetails.ortholog_annotations"></app-ortholog-annotation-table>
  </div>
  <div>
    <app-paralog-annotation-table [annotationTable]="refDetails.paralog_annotations"></app-paralog-annotation-table>
  </div>

</div>
</div>
