.reference-details .abstract {
  font-size: 95%;
}

.annotations-section-header, .external-links {
  margin: 0.6em 0;
  font-size: 150%;
}

.approved-date {
  white-space: nowrap;
}

#reference-summary div:nth-child(odd) {
  margin: 0.2em 0.5em 0.2em 0;
  min-width: 6em;
}

#reference-summary div:nth-child(even) {
  margin: 0.2em 3em 0.2em 0;
}

.small-graphical-abstract, .big-graphical-abstract {
  margin: 0 0 0.5em 1em !important;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 18px rgba(120,120,120,.80);
}
.small-graphical-abstract {
  width: 300px;
}
.big-graphical-abstract {
  max-width: 75vw;
}

@supports (display: grid) {
  @media (min-width: 1200px) {
    #reference-summary {
      display: grid;
      grid-template-columns: min-content auto min-content auto;
    }

    .curation-status {
      grid-row: 1/5;
    }

    .curation-status.details-label {
      grid-column: 3;
    }

    .curation-status-text {
      grid-column: 4;
    }

    .abstract {
      grid-column: 2/5;
    }

    .small-graphical-abstract {
      float: right;
    }

    .curation-status.details-label {
      display: block;
      text-align: right;
    }
  }

  @media (max-width: 1200px) and (min-width: 600px) {
    #reference-summary {
      display: grid;
      grid-template-columns: auto auto;
    }
  }

  @media (max-width: 600px) {
    #reference-summary {
      grid-template-columns: auto;
      width: 99%;
    }

    .curation-status.details-label {
      display: none;
    }
  }
}

.details-page-summary {
  border-bottom: 1px solid #bbb;
}
