.reference-details .abstract {
  font-size: 95%;
}

.annotations-section-header {
  font-size: 150%;
}

.ref-curated-by {
  min-width: 20em;
}

.ref-jbrowse-link {
  font-size: 140%;
  margin: 1em 0;
}

.ref-jbrowse-link a {
  margin-left: 1em;
}

.approved-date {
  white-space: nowrap;
}

@media (max-width: 1199px) {
  .canto-padding-image {
    display: none;
  }
}
