<div *ngIf="panelId == 0">
<p>Contractile ring structure at nanoscale resolution. Image from <a href="https://elifesciences.org/articles/28865">eLife 2017;6:e28865</a>, used under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> license terms.</p>

</div>
<div *ngIf="panelId == 1">
<p>Molecular model of fission yeast centrosome assembly determined by superresolution imaging. Originally published in <a href="http://jcb.rupress.org/content/216/8/2409">JCB</a>.</p>

</div>
<div *ngIf="panelId == 2">
<p>Structural Basis for Shelterin Bridge Assembly. Originally published in <a href="http://www.cell.com/molecular-cell/fulltext/S1097-2765%2817%2930809-2">Mol. Cell</a>.</p>

</div>
<div *ngIf="panelId == 3">
<p>Study shows second ssDNA capture by the SMC complex during establishment of sister chromatid cohesion. Originally published in <a href='http://www.cell.com/cell/fulltext/S0092-8674(17)31501-5'>Cell</a>.</p>

</div>
<div *ngIf="panelId == 4">
<p>Model illustrating collaborative inward force generation by kinesin-14s. Originally published in the <a href='http://jcs.biologists.org/content/131/1/jcs210740.long'>Journal of Cell Science</a>.</p>

</div>
<div *ngIf="panelId == 5">
<p>CAGE-defined Transcription Start Sites across 5 different conditions.</p>



<p><a href='https://www.biorxiv.org/content/early/2018/03/13/281642'>Pre-publication manuscript</a> ...</p>

</div>
<div *ngIf="panelId == 6">
<p>The ancient claudin Dni2 facilitates cell fusion at the shmoo tip. Originally published in <a href='https://link.springer.com/article/10.1007%2Fs00018-017-2709-4'>Cellular and Molecular Life Sciences</a>.</p>

</div>
<div *ngIf="panelId == 7">
<p>Graph-based visualization of Hi-C datasets. Originally published in <a href='https://bmcresnotes.biomedcentral.com/articles/10.1186/s13104-018-3507-2'>BMC Research Notes</a>.</p>

</div>
<div *ngIf="panelId == 8">
<p>A unified model for cell size control. Originally published in <a href='http://jcb.rupress.org/content/217/5/1589'>The Journal of Cell Biology</a>. Image from a <a href='http://jcb.rupress.org/content/217/5/1559'>Commentry</a> by Gerganova and Martin.</p>

</div>
<div *ngIf="panelId == 9">
<p>A Cdk9-PP1 switch for RNA polymerase II elongation-termination. Originally published in <a href='https://www.nature.com/articles/s41586-018-0214-z'>Nature</a>.</p>

</div>
<div *ngIf="panelId == 10">
<p>Quantitative phosphoproteomics reveals the signaling dynamics of cell-cycle kinases; ~10K phosphorylation sites now in PomBase. Originally published in <a href='https://www.cell.com/cell-reports/fulltext/S2211-1247(18)30946-X'>Cell Reports</a>.</p>

</div>
<div *ngIf="panelId == 11">
<p>Sharpening the anaphase switch. Originally published in <a href='https://linkinghub.elsevier.com/retrieve/pii/S2211-1247(17)30069-4'>Cell Reports</a>.</p>

</div>
<div *ngIf="panelId == 12">
<p>Microtubule depolymerization in scd1Δ cells leads to PORTLI growth. Originally published in the <a href='http://jcs.biologists.org/content/131/14/jcs216580'>Journal of Cell Science</a>.</p>

</div>
<div *ngIf="panelId == 13">
<p>Essential genes for quiescence to cell cycle switching.</p>



<p>Originally published in <a href='http://advances.sciencemag.org/content/4/8/eaat5685'>Science Advances</a>.</p>

</div>
<div *ngIf="panelId == 14">
<p>Genome-wide phenotypic analysis of chromate toxicity.</p>



<p>Originally published in <a href='https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1007595'>PLoS Genetics</a>.</p>

</div>
<div *ngIf="panelId == 15">
<p><em>wtf</em> genes in poison–antidote meiotic drive and its suppression.</p>



<p>Originally published in <a href='https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1007836'>PLoS Genetics</a>.</p>

</div>
<div *ngIf="panelId == 16">
<p>RNA-binding proteins distinguish between similar sequence motifs to promote targeted deadenylation by Ccr4-Not.</p>



<p>Originally published in <a href='https://elifesciences.org/articles/40670'>eLife</a>.</p>

</div>
<div *ngIf="panelId == 17">
<p>Cryo-EM structure of kinesin-5-microtubule complex reveals a distinct binding footprint and mechanism of drug resistance.</p>



<p>Originally published in <a href='https://www.sciencedirect.com/science/article/pii/S0022283619300105'>JMB</a>.</p>

</div>
<div *ngIf="panelId == 18">
<p>Centromere DNA destabilizes H3 nucleosomes to promote CENP-A deposition during the cell cycle.</p>



<p>Originally published in <a href='https://www.sciencedirect.com/science/article/pii/S0960982218314167'>Current Biology</a>.</p>

</div>
<div *ngIf="panelId == 19">
<p>DNA topoisomerase II phosphorylation in fission yeast reveals anticancer mechanism.</p>



<p>Originally published in <a href='http://www.jbc.org/content/early/2019/01/11/jbc.RA118.004955.long'>JBC</a>.</p>

</div>
<div *ngIf="panelId == 20">
<p>Zinc transporters belonging to the Cation Diffusion Facilitator (CDF) family have complementary roles in transporting zinc out of the cytosol.</p>



<p>Originally published in <a href='https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1007262'>PLoS Genetics</a>.</p>

</div>
<div *ngIf="panelId == 21">
<p>Systematic analysis reveals the prevalence and principles of bypassable gene essentiality.</p>



<p>Originally published in <a href='https://www.nature.com/articles/s41467-019-08928-1'>Nature Communications</a>.</p>

</div>
<div *ngIf="panelId == 22">
<p>Swi5-Sfr1 stimulates Rad51 recombinase filament assembly by modulating Rad51 dissociation.</p>



<p>Originally published in <a href='https://www.pnas.org/content/115/43/E10059.long'>PNAS</a>.</p>

</div>
<div *ngIf="panelId == 23">
<p>Specific primary septum detection reveals septum and cleavage furrow ingression during early anaphase independent of mitosis completion.</p>



<p>Originally published in <a href='https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1007388'>PLoS Genetics</a>.</p>

</div>
<div *ngIf="panelId == 24">
<p>Paxillin-mediated recruitment of calcineurin to the contractile ring is required for cytokinesis.</p>



<p>Originally published in <a href='https://www.sciencedirect.com/science/article/pii/S2211124718315079?via%3Dihub'>Cell Reports</a>.</p>

</div>
<div *ngIf="panelId == 25">
<p>Taf12 phosphorylation inhibits sexual differentiation downstream of TORC2.</p>

<p>Originally published in <a href='http://embor.embopress.org/content/18/12/2197.long'>EMBO reports</a>.</p>

</div>
<div *ngIf="panelId == 26">
<p><app-recent-community-pubs></app-recent-community-pubs></p>

</div>
<div *ngIf="panelId == 27">
<p><app-recent-community-pubs></app-recent-community-pubs></p>

</div>
<div *ngIf="panelId == 28">
<p>Browse PomBase's inventory of conserved proteins with no known biological role</p>

</div>
<div *ngIf="panelId == 29">
<p>The fission yeast <a routerLink="/browse-curation/fission-yeast-go-slim-terms">GO slim</a> provides a summary of genes annotated to broad biological processes</p>

</div>
<div *ngIf="panelId == 30">
<p>Use the <a routerLink="/query">Advanced Search</a> to construct complex queries (GO, phenotypes, taxonomic distribution, domain, chromosomal location).</p>

</div>
<div *ngIf="panelId == 31">
<p>PomBase has integrated over 200,000 manually curated gene-specific annotations. See our <a routerLink="/about/resource-metrics">Resource Metrics</a> page for more literature curation progress reports.</p>

</div>
<div *ngIf="panelId == 32">
<p>PomBase uses manually curated Gene Ontology annotation to generate biological process-specific networks, such as the cytokinesis network excerpted above. Currently available networks are linked to the <a routerLink="/browse-curation/fission-yeast-go-slim-terms">GO slim</a> page.</p>

</div>
<div *ngIf="panelId == 33">
<p>PomBase provides extensive documentation and answers many questions in the <a routerLink="/faq">FAQ</a>. For any information you can't find there, please <app-contact-email [linkName]="'contact the helpdesk'" [subject]="'PomBase question'"></app-contact-email>.</p>

</div>
<div *ngIf="panelId == 34">
<p>PomBase has pioneered a community curation system that enables researchers to contribute publication-based annotations directly to database curators. To participate, search for the PubMed ID of your paper <a href="https://curation.pombase.org/pombe">in Canto</a> or <app-contact-email [linkName]="'contact the helpdesk'" [subject]="'PomBase question'"></app-contact-email>.</p>

</div>
<div *ngIf="panelId == 35">
<p>4020 of the 5070 fission yeast protein-coding genes now have assigned standard names. We encourage all authors and reviewers to ensure that gene names are registered prior to publication. Visit our <a routerLink="/gene-names">gene registry page</a> and the <a routerLink="/gene-names/gene-naming-guidelines"><em>S. pombe</em> gene naming guidelines</a> for more information.</p>

</div>
<div *ngIf="panelId == 36">
<p>Of the 3526 <em>S. pombe</em> with identified human orthologs, over 500 have been implicated in disease. These are manually annotated with terms from a small in-house vocabulary, and can be searched as described in the <a routerLink="/faq/how-can-i-find-s.-pombe-genes-associated-human-disease">disease gene FAQ</a>.</p>

</div>
<div *ngIf="panelId == 37">
<p>A guide to getting the most from PomBase, and to its curation philosophy and data organization. <a href="https://link.springer.com/protocol/10.1007/978-1-4939-7737-6_4">Free download</a> thanks to the <a href="https://wellcome.ac.uk/">Wellcome Trust</a>.</p>



<p><a href="https://link.springer.com/protocol/10.1007/978-1-4939-7737-6_4">View chapter ...</a></p>

</div>
<div *ngIf="panelId == 38">
<p>Unknown process now down to 696, <a routerLink="/gene_subset/characterisation_status_conserved_unknown">conserved unknowns 410</a>.</p>

<p>Our &quot;Unknowns&quot; manuscript is now available on bioRxiv: <a href="https://www.biorxiv.org/content/early/2018/11/16/469569">DOI: 10.1101/469569</a>.</p>

</div>
<div *ngIf="panelId == 39">
<p><a routerLink="/term/DOID:4">Disease associations</a> are now provided for 907 pombe genes (up from 610), includes new associations derived from MalaCards. This number will increase as work is still in progress...</p>

</div>
<div *ngIf="panelId == 40">
<p>Our &quot;unknowns&quot; analysis is now published in <a href="https://royalsocietypublishing.org/doi/10.1098/rsob.180241">Open Biology</a>. You can browse the <a routerLink="/status/priority-unstudied-genes">list of fission yeast unknown proteins</a>, and use the &quot;Visualise&quot; button to explore the data interactively in QuiLT, the new tool inspired by <a href="https://royalsocietypublishing.org/doi/10.1098/rsob.180241#RSOB180241F4">Figure 4</a>.</p>

</div>
<div *ngIf="panelId == 41">
<p>PomBase's advanced search now allows you to retrieve <a routerLink="/documentation/pombase-go-slim-documentation">GO slim</a> annotations for any set of search results. Combine with the &quot;Gene IDs&quot; query option to find GO slim annotations for your own list of genes.</p>

</div>
<div *ngIf="panelId == 42">
<p>The PomBase <a routerLink="/motif_search">Protein Motif Search Tool</a> allows you to search for any user-defined amino acid sequence, supporting exact matches, wildcards, gaps, and ambiguity codes. This search is now fully integrated into PomBase, allowing results to be sent directly to the <a routerLink="/query">advanced search</a>.</p>

</div>
