<div *ngIf="panelId == 0">
<p>Contractile ring structure at nanoscale resolution. Image from <a href="https://elifesciences.org/articles/28865#video1">eLife 2017;6:e28865</a>, used under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> license terms.</p>

</div>
<div *ngIf="panelId == 1">
<p>Molecular model of fission yeast centrosome assembly determined by superresolution imaging.</p>



<p>Originally published in <a href="http://jcb.rupress.org/content/216/8/2409">Journal of Cell Biology</a>.</p>

</div>
<div *ngIf="panelId == 2">
<p>Structural Basis for Shelterin Bridge Assembly.</p>



<p>Originally published in <a href="http://www.cell.com/molecular-cell/fulltext/S1097-2765%2817%2930809-2">Molecular Cell</a>.</p>

</div>
<div *ngIf="panelId == 3">
<p>Study shows second ssDNA capture by the SMC complex during establishment of sister chromatid cohesion.</p>



<p>Originally published in <a href='http://www.cell.com/cell/fulltext/S0092-8674(17)31501-5'>Cell</a>.</p>

</div>
<div *ngIf="panelId == 4">
<p>Model illustrating collaborative inward force generation by kinesin-14s.</p>



<p>Originally published in <a href='http://jcs.biologists.org/content/131/1/jcs210740.long'>Journal of Cell Science</a>.</p>

</div>
<div *ngIf="panelId == 5">
<p>CAGE-defined Transcription Start Sites across 5 different conditions.</p>



<p>Originally published in the <a href='https://academic.oup.com/nar/article/47/4/1671/5253058'>Nucleic Acids Research</a>.</p>

</div>
<div *ngIf="panelId == 6">
<p>The ancient claudin Dni2 facilitates cell fusion at the shmoo tip.</p>



<p>Originally published in <a href='https://link.springer.com/article/10.1007%2Fs00018-017-2709-4'>Cellular and Molecular Life Sciences</a>.</p>

</div>
<div *ngIf="panelId == 7">
<p>Graph-based visualization of Hi-C datasets.</p>



<p>Originally published in <a href='https://bmcresnotes.biomedcentral.com/articles/10.1186/s13104-018-3507-2'>BMC Research Notes</a>.</p>

</div>
<div *ngIf="panelId == 8">
<p>A unified model for cell size control.</p>



<p>Originally published in <a href='http://jcb.rupress.org/content/217/5/1589'>Journal of Cell Biology</a>. Image from a <a href='http://jcb.rupress.org/content/217/5/1559'>Commentary</a> by Gerganova and Martin.</p>

</div>
<div *ngIf="panelId == 9">
<p>A Cdk9-PP1 switch for RNA polymerase II elongation-termination.</p>



<p>Originally published in <a href='https://www.nature.com/articles/s41586-018-0214-z'>Nature</a>.</p>

</div>
<div *ngIf="panelId == 10">
<p>Quantitative phosphoproteomics reveals the signaling dynamics of cell-cycle kinases; ~10K phosphorylation sites now in PomBase.</p>



<p>Originally published in <a href='https://www.cell.com/cell-reports/fulltext/S2211-1247(18)30946-X'>Cell Reports</a>.</p>

</div>
<div *ngIf="panelId == 11">
<p>Sharpening the anaphase switch.</p>



<p>Originally published in <a href='https://linkinghub.elsevier.com/retrieve/pii/S2211-1247(17)30069-4'>Cell Reports</a>.</p>

</div>
<div *ngIf="panelId == 12">
<p>Microtubule depolymerization in scd1Δ cells leads to PORTLI growth.</p>



<p>Originally published in the <a href='http://jcs.biologists.org/content/131/14/jcs216580'>Journal of Cell Science</a>.</p>

</div>
<div *ngIf="panelId == 13">
<p>Essential genes for quiescence to cell cycle switching.</p>



<p>Originally published in <a href='http://advances.sciencemag.org/content/4/8/eaat5685'>Science Advances</a>.</p>

</div>
<div *ngIf="panelId == 14">
<p>Genome-wide phenotypic analysis of chromate toxicity.</p>



<p>Originally published in <a href='https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1007595'>PLoS Genetics</a>.</p>

</div>
<div *ngIf="panelId == 15">
<p><em>wtf</em> genes in poison–antidote meiotic drive and its suppression.</p>



<p>Originally published in <a href='https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1007836'>PLoS Genetics</a>.</p>

</div>
<div *ngIf="panelId == 16">
<p>RNA-binding proteins distinguish between similar sequence motifs to promote targeted deadenylation by Ccr4-Not.</p>



<p>Originally published in <a href='https://elifesciences.org/articles/40670'>eLife</a>. Image from <a href="https://elifesciences.org/articles/40670#fig7">eLife 2019;8:e40670</a>, used under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> license terms.</p>

</div>
<div *ngIf="panelId == 17">
<p>Cryo-EM structure of kinesin-5-microtubule complex reveals a distinct binding footprint and mechanism of drug resistance.</p>



<p>Originally published in <a href='https://www.sciencedirect.com/science/article/pii/S0022283619300105'>JMB</a>.</p>

</div>
<div *ngIf="panelId == 18">
<p>Centromere DNA destabilizes H3 nucleosomes to promote CENP-A deposition during the cell cycle.</p>



<p>Originally published in <a href='https://www.sciencedirect.com/science/article/pii/S0960982218314167'>Current Biology</a>.</p>

</div>
<div *ngIf="panelId == 19">
<p>DNA topoisomerase II phosphorylation in fission yeast reveals anticancer mechanism.</p>



<p>Originally published in <a href='http://www.jbc.org/content/early/2019/01/11/jbc.RA118.004955.long'>Journal of Biological Chemistry</a>.</p>

</div>
<div *ngIf="panelId == 20">
<p>Zinc transporters belonging to the Cation Diffusion Facilitator (CDF) family have complementary roles in transporting zinc out of the cytosol.</p>



<p>Originally published in <a href='https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1007262'>PLoS Genetics</a>.</p>

</div>
<div *ngIf="panelId == 21">
<p>Systematic analysis reveals the prevalence and principles of bypassable gene essentiality.</p>



<p>Originally published in <a href='https://www.nature.com/articles/s41467-019-08928-1'>Nature Communications</a>.</p>

</div>
<div *ngIf="panelId == 22">
<p>Swi5-Sfr1 stimulates Rad51 recombinase filament assembly by modulating Rad51 dissociation.</p>



<p>Originally published in <a href='https://www.pnas.org/content/115/43/E10059.long'>PNAS</a>.</p>

</div>
<div *ngIf="panelId == 23">
<p>Specific primary septum detection reveals septum and cleavage furrow ingression during early anaphase independent of mitosis completion.</p>



<p>Originally published in <a href='https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1007388'>PLoS Genetics</a>.</p>

</div>
<div *ngIf="panelId == 24">
<p>Paxillin-mediated recruitment of calcineurin to the contractile ring is required for cytokinesis.</p>



<p>Originally published in <a href='https://www.sciencedirect.com/science/article/pii/S2211124718315079?via%3Dihub'>Cell Reports</a>.</p>

</div>
<div *ngIf="panelId == 25">
<p>Taf12 phosphorylation inhibits sexual differentiation downstream of TORC2.</p>

<p>Originally published in <a href='http://embor.embopress.org/content/18/12/2197.long'>EMBO reports</a>.</p>

</div>
<div *ngIf="panelId == 26">
<p>Unexpected insertion of carrier DNA during CRISPR-Cas9, and “unknowns” remain “unknown”</p>

<p>Originally published in <a href='https://bmcresnotes.biomedcentral.com/articles/10.1186/s13104-019-4228-x'>BMC Research Notes</a>.</p>

</div>
<div *ngIf="panelId == 27">
<p>NDR Kinase Sid2 Drives Anillin-like Mid1 from the Membrane to Promote Cytokinesis.</p>

<p>Originally published in <a href='https://www.cell.com/current-biology/fulltext/S0960-9822(19)30134-4'>Current Biology</a>.</p>

</div>
<div *ngIf="panelId == 28">
<p>Set7, a histone methyltransferase for the uncharted histone H3-37 mark.</p>

<p>Originally published in <a href='https://www.cell.com/structure/fulltext/S0969-2126(19)30011-5'>Structure</a>.</p>

</div>
<div *ngIf="panelId == 29">
<p>Fission yeast contains separate CC- and A-adding tRNA nucleotidyltransferases.</p>

<p>Originally published in <a href='https://www.sciencedirect.com/science/article/pii/S0006291X18325634'>Biochemical and Biophysical Research Communications</a>.</p>

</div>
<div *ngIf="panelId == 30">
<p>Distinct roles of myosin-II isoforms in cytokinesis under normal and stressed conditions.</p>

<p>Originally published in <a href='https://doi.org/10.1016/j.isci.2019.03.014'>iScience</a>.</p>

</div>
<div *ngIf="panelId == 31">
<p>Previously uncharacterized protein, Ync13, has a role during late stages of cytokinesis.</p>

<p>Originally published in <a href='https://www.molbiolcell.org/doi/full/10.1091/mbc.E18-04-0225'>Molecular Biology of the Cell</a>.</p>

</div>
<div *ngIf="panelId == 32">
<p>Simple procedure for the generation of temperature-sensitive mutations with error-prone PCR.</p>

<p>Originally published in <a href='https://www.tandfonline.com/doi/abs/10.1080/09168451.2019.1611414'>Bioscience, Biotechnology, and Biochemistry</a>.</p>

</div>
<div *ngIf="panelId == 33">
<p>Isolation of single amino acid t-s mutants in condensin hinge domain.</p>

<p>Originally published in <a href='https://www.g3journal.org/content/9/5/1777.long'>G3: Genes, Genomes, Genetics</a>.</p>

</div>
<div *ngIf="panelId == 34">
<p>Suppressor screening reveals common kleisin-hinge interaction in condensin and cohesin.</p>

<p>Originally published in <a href='https://www.pnas.org/content/early/2019/05/09/1902699116.long'>PNAS</a>.</p>

</div>
<div *ngIf="panelId == 35">
<p>Sequencing of suppressor DNA mixtures identifies pathways that compensate for chromosome segregation defects.</p>

<p>Originally published in <a href='http://www.g3journal.org/cgi/pmidlookup?view=long&amp;pmid=29352077'>G3: Genes, Genomes, Genetics</a>.</p>

</div>
<div *ngIf="panelId == 36">
<p>A. Prevailing ring model vs. B. hold and release model; Suppressor mutation analysis combined with 3D modeling proposes a different mechanism for cohesin.</p>

<p>Originally published in <a href='https://www.pnas.org/content/115/21/E4833.long'>PNAS</a>.</p>

</div>
<div *ngIf="panelId == 37">
<p>Fission yeast TRP channel Pkd2p localizes to the cleavage furrow during cytokinesis.</p>

<p>Originally published in <a href='https://www.molbiolcell.org/doi/abs/10.1091/mbc.E18-04-0270'>Molecular Biology of the Cell</a>.</p>

</div>
<div *ngIf="panelId == 38">
<p>The J-domain co-chaperone Rsp1 interacts with Mto1 to organize non-centrosomal microtubule assembly.</p>

<p>Originally published in <a href='https://www.molbiolcell.org/doi/10.1091/mbc.E18-05-0279'>Molecular Biology of the Cell</a>.</p>

</div>
<div *ngIf="panelId == 39">
<p>The PCNA unloader Elg1 promotes recombination at collapsed replication forks.</p>

<p>Originally published in <a href='https://elifesciences.org/articles/47277'>eLife</a>. Image from <a href="https://elifesciences.org/articles/47277#fig7">eLife 2019;8:e47277</a>, used under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> license terms.</p>

</div>
<div *ngIf="panelId == 40">
<p>MAPs and Microtubule Dynamics Balance with the Cut7/Kinesin-5 Motor for Mitotic Spindle Assembly.</p>

<p>Originally published in <a href='https://www.g3journal.org/content/9/1/269.long'>G3: Genes, Genomes, Genetics</a>.</p>

</div>
<div *ngIf="panelId == 41">
<p>Nuclear “blebbing” in Lem2 mutants from “Nuclear membrane protein Lem2 regulates nuclear size through membrane flow”.</p>

<p>Originally published in <a href='https://www.nature.com/articles/s41467-019-09623-x'>Nature Communications</a>.</p>

</div>
<div *ngIf="panelId == 42">
<p>Coordinated Roles of the Putative Ceramide-Conjugation Protein, Cwh43, and a Mn 2+ -Transporting, P-Type ATPase, Pmr1.</p>

<p>Originally published in <a href='https://www.g3journal.org/content/early/2019/06/14/g3.119.400281.long'>G3: Genes, Genomes, Genetics</a>.</p>

</div>
<div *ngIf="panelId == 43">
<p>Epe1 associates with the SAGA complex to promote transcription of repeats for heterochromatin assembly.</p>

<p>Originally published in <a href='http://genesdev.cshlp.org/content/33/1-2/116.long'>Genes &amp; Development</a>.</p>

</div>
<div *ngIf="panelId == 44">
<p>The F-BAR Domain of Rga7 Relies on a Cooperative Mechanism of Membrane Binding with Rng10.</p>

<p>Originally published in <a href='https://www.cell.com/cell-reports/fulltext/S2211-1247(19)30149-4'>Cell Reports</a>.</p>

</div>
<div *ngIf="panelId == 45">
<p>The fitness landscape of the fission yeast genome.</p>



<p>Originally published in <a href='https://doi.org/10.1093/molbev/msz113'>Mol Biol Evol</a>.</p>



<p><a href='/jbrowse/?tracks=DNA%20sequence%2CPomBase%20forward%20strand%20features%2CPomBase%20reverse%20strand%20features%2CConservation%20of%20sites%20over%20the%20phylogeny%20of%20S.%20pombe%E2%80%9A%20S.%20octosporus%E2%80%9A%20S.%20japonicus%E2%80%9A%20and%20S.%20cryophilus%20(higher%20values%20are%20associated%20with%20higher%20degree%20of%20conservation)-%20Grech%20et%20al.%20(2019)%2CHDE%20units%E2%80%9A%20continuous%20runs%20of%20states%20S1-S3%20-%20Grech%20et%20al.%20(2019)%2CTransposon%20insertion%20sites%20-%20Grech%20et%20al.%20(2019)%2CTransposon%20insertion%20sites%20smoothed%20to%20states%20S1-S5%20(lower%20states%20have%20fewer%20insertions)%20-%20Grech%20et%20al.%20(2019)&amp;loc=III%3A804712..899614&amp;highlight='>View datasets in the genome browser …</a></p>

</div>
<div *ngIf="panelId == 46">
<p>A Cdc42 GEF, Gef1, organizes F-BAR Cdc15 along the actomyosin ring.</p>

<p>Originally published in <a href='https://jcs.biologists.org/content/132/5/jcs223776.long'>Journal of Cell Science</a>.</p>

</div>
<div *ngIf="panelId == 47">
<p>Abrogation of glucosidase I-mediated glycoprotein deglucosylation results in a sick phenotype in fission yeasts: Model for the human MOGS-CDG disorder.</p>

<p>Originally published in <a href='http://www.jbc.org/content/293/52/19957.long'>Journal of Biological Chemistry</a>.</p>

</div>
<div *ngIf="panelId == 48">
<p>Factors affecting template switch recombination associated with restarted DNA replication.</p>

<p>Originally published in <a href='https://elifesciences.org/articles/41697'>eLife</a>. Image from <a href="https://elifesciences.org/articles/41697#fig7">eLife 2019;8:e41697</a>, used under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> license terms.</p>

</div>
<div *ngIf="panelId == 49">
<p>Asc1 stabilizes the interaction between eIF3a and Rps0A/uS2 for protein synthesis.</p>

<p>Originally published in <a href='https://mcb.asm.org/content/early/2019/07/03/MCB.00161-19.long'>Molecular and Cellular Biology</a>.</p>

</div>
<div *ngIf="panelId == 50">
<p>H3K14 ubiquitylation promotes H3K9 methylation for heterochromatin assembly.</p>

<p>Originally published in <a href='https://www.embopress.org/doi/full/10.15252/embr.201948111'>EMBO reports</a>.</p>

</div>
<div *ngIf="panelId == 51">
<p>Lem2 is retained at the nuclear envelope through its interaction with Bqt4 in fission yeast. LEM domain directly binds to DNA.</p>

<p>Originally published in <a href='https://onlinelibrary.wiley.com/doi/full/10.1111/gtc.12557'>Genes Cells</a>.</p>

</div>
<div *ngIf="panelId == 52">
<p>A new TF binding site (Loz1 response element) for zinc repression.</p>

<p>Originally published in <a href='https://onlinelibrary.wiley.com/doi/abs/10.1111/mmi.14384'>Molecular Microbiology</a>.</p>

</div>
<div *ngIf="panelId == 53">
<p>Kinetochore-mediated outward force promotes spindle pole separation.</p>

<p>Originally published in <a href='https://www.molbiolcell.org/doi/10.1091/mbc.E19-07-0366'>Molecular Biology of the Cell</a>.</p>

</div>
<div *ngIf="panelId == 54">
<p>Capping Protein Insulates Arp2/3-Assembled Actin Patches from Formins.</p>

<p>Originally published in <a href='https://www.sciencedirect.com/science/article/pii/S0960982219310127'>Current Biology</a>.</p>

</div>
<div *ngIf="panelId == 55">
<p>Microtubules and Alp7-Alp14 (TACC-TOG) reposition meiotic chromosomes.</p>

<p>Originally published in <a href='https://www.nature.com/articles/ncb2782'>Nature Cell Biology</a>.</p>

</div>
<div *ngIf="panelId == 56">
<p>F-BAR Cdc15 Promotes Cdc42 Activation During Cytokinesis and Cell Polarization in <em>Schizosaccharomyces pombe</em>.</p>

<p>Originally published in <a href='https://www.genetics.org/content/early/2019/10/07/genetics.119.302649.long'>Genetics</a>.</p>

</div>
<div *ngIf="panelId == 57">
<p>Tel2-Tti1-Tti2 complex destabilization eliminates Rad3-ATR kinase signaling in the DNA replication checkpoint and leads to telomere shortening.</p>

<p>Originally published in <a href='https://mcb.asm.org/content/39/20/e00175-19'>Molecular and Cell Biology</a>.</p>

</div>
<div *ngIf="panelId == 58">
<p>CLASP promotes microtubule bundling in metaphase spindle independently of Ase1.</p>

<p>Originally published in <a href='https://bio.biologists.org/content/8/10/bio045716'>Biology Open</a>.</p>

</div>
<div *ngIf="panelId == 59">
<p>The Bub1-TPR domain interacts directly with Mad3 to generate robust spindle checkpoint arrest.</p>

<p>Originally published in <a href='https://www.cell.com/current-biology/fulltext/S0960-9822(19)30704-3'>Current Biology</a>.</p>

</div>
<div *ngIf="panelId == 60">
<p>Effects of the microtubule nucleator Mto1 on chromosome movement, DNA repair and sister chromatid cohesion.</p>

<p>Originally published in <a href='https://www.molbiolcell.org/doi/10.1091/mbc.E19-05-0301'>Molecular Biology of the Cell</a>.</p>

</div>
<div *ngIf="panelId == 61">
<p>Association of mitochondria with microtubules inhibits mitochondrial fission.</p>

<p>Originally published in <a href='http://www.jbc.org/content/294/10/3385'>Journal of Biological Chemistry</a>.</p>

</div>
<div *ngIf="panelId == 62">
<p>A highly modular toolbox to introduce heterologous sequences and includes antibiotic resistance markers, promoters, fluorescent tags, and terminators.</p>

<p>Originally published in <a href='https://jcs.biologists.org/content/early/2019/11/29/jcs.240754.long'>Journal of Cell Science</a>.</p>

</div>
<div *ngIf="panelId == 63">
<p>Role for cleavage and polyadenylation factor (CPF) in RNAi-independent heterochromatin domain assembly.</p>

<p>Originally published in <a href='https://www.sciencedirect.com/science/article/pii/S2211124719307545?via%3Dihub'>Cell Reports</a>.</p>

</div>
<div *ngIf="panelId == 64">
<p>Gcn5-mediated acetylation at MBF-regulated promoters induces the G1/S transcriptional wave.</p>

<p>Originally published in <a href='https://academic.oup.com/nar/article/47/16/8439/5526704'>Nucleic Acids Research</a>.</p>

</div>
<div *ngIf="panelId == 65">
<p>Mkt1 is required for RNAi-mediated silencing and establishment of heterochromatin in fission yeast.</p>

<p>Originally published in <a href='https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkz1157/5673137'>Nucleic Acids Research</a>.</p>

</div>
<div *ngIf="panelId == 66">
<p>Physical basis for long-distance communication along meiotic chromosomes.</p>

<p>Originally published in <a href='https://www.pnas.org/content/115/40/E9333.long'>PNAS</a>.</p>

</div>
<div *ngIf="panelId == 67">
<p>A novel interplay between GEFs orchestrates Cdc42 activity during cell polarity and cytokinesis in fission yeast.</p>

<p>Originally published in <a href='https://jcs.biologists.org/content/132/23/jcs236018.long'>Journal of Cell Science</a>.</p>

</div>
<div *ngIf="panelId == 68">
<p>Fission Yeast NDR/LATS Kinase Orb6 Regulates Exocytosis via Phosphorylation of the Exocyst Complex.</p>

<p>Originally published in <a href='https://www.cell.com/cell-reports/fulltext/S2211-1247(19)30036-1'>Cell Reports</a>.</p>

</div>
<div *ngIf="panelId == 69">
<p>Structures of the Mitochondrial CDP-DAG Synthase Tam41 Suggest a Potential Lipid Substrate Pathway from Membrane to the Active Site.</p>

<p>Originally published in <a href='https://www.cell.com/structure/fulltext/S0969-2126(19)30162-5'>Structure</a>.</p>

</div>
<div *ngIf="panelId == 70">
<p>Atg38-Atg8 Interaction in Fission Yeast Establishes a Positive Feedback Loop to Promote Autophagy</p>

<p>Originally published in <a href='https://www.tandfonline.com/doi/full/10.1080/15548627.2020.1713644'>Autophagy</a>.</p>

</div>
<div *ngIf="panelId == 71">
<p>Plasma Membrane Furrows Control Plasticity of ER-PM Contacts.</p>

<p>Originally published in <a href='https://www.cell.com/cell-reports/fulltext/S2211-1247(19)31763-2'>Cell Reports</a>.</p>

</div>
<div *ngIf="panelId == 72">
<p>Chromatin remodeler Fft3 plays a dual role at blocked DNA replication forks.</p>

<p>Originally published in <a href="https://www.life-science-alliance.org/content/2/5/e201900433">Life Science Alliance</a>.</p>

</div>
<div *ngIf="panelId == 73">
<p>Cortical tethering of mitochondria by the anchor protein Mcp5 enables uniparental inheritance.</p>

<p>Originally published in <a href='https://rupress.org/jcb/article-lookup/doi/10.1083/jcb.201901108'>Journal of Cell Biology</a>.</p>

</div>
<div *ngIf="panelId == 74">
<p>Casein kinase 2 regulates telomere protein complex formation through Rap1 phosphorylation.</p>

<p>Originally published in <a href='https://academic.oup.com/nar/article/47/13/6871/5498753'>Nucleic Acids Research</a>.</p>

</div>
<div *ngIf="panelId == 75">
<p>Checkpoint Regulation of Nuclear Tos4 Defines S Phase Arrest in Fission Yeast.</p>

<p>Originally published in <a href='https://www.g3journal.org/content/10/1/255'>G3: Genes, Genomes, Genetics</a>.</p>

</div>
<div *ngIf="panelId == 76">
<p>The NuA4 acetyltransferase and histone H4 acetylation promote replication recovery after topoisomerase I-poisoning.</p>

<p>Originally published in <a href='https://epigeneticsandchromatin.biomedcentral.com/articles/10.1186/s13072-019-0271-z'>Epigenetics &amp; Chromatin</a>.</p>

</div>
<div *ngIf="panelId == 77">
<p>Dramatically diverse ’Schizosaccharomyces pombe wtf* meiotic drivers all display high gamete-killing efficiency.</p>

<p>Originally published in <a href='https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1008350'>PLoS Genetics</a>.</p>

</div>
<div *ngIf="panelId == 78">
<p>Genetic investigation of formaldehyde-induced DNA damage response in <em>Schizosaccharomyces pombe</em>.</p>

<p>Originally published in <a href='https://link.springer.com/article/10.1007%2Fs00294-020-01057-z'>Current Genetics</a>.</p>

</div>
<div *ngIf="panelId == 79">
<p>Maf1-dependent transcriptional regulation of tRNAs prevents genomic instability and is associated with extended lifespan.</p>

<p>Originally published in <a href='https://onlinelibrary.wiley.com/doi/full/10.1111/acel.13068'>Aging Cell</a>.</p>

</div>
<div *ngIf="panelId == 80">
<p>Cooperative interactions facilitate stimulation of Rad51 by the Swi5-Sfr1 auxiliary factor complex.</p>

<p>Originally published in <a href='https://elifesciences.org/articles/52566'>eLife</a>. Image: left panel from <a href="https://elifesciences.org/articles/52566#fig7">eLife 2020;9:52566</a>, used under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> license terms; right panel B. Argunhan pers. comm.</p>

</div>
<div *ngIf="panelId == 81">
<p>Chaperone-Facilitated Aggregation of Thermo-Sensitive Proteins Shields Them from Degradation during Heat Stress.</p>

<p>Originally published in <a href="http://dx.doi.org/10.1016/j.celrep.2020.01.077">Cell Reports</a>.</p>

</div>
<div *ngIf="panelId == 82">
<p>Ctp1 protein-DNA filaments promote DNA bridging and DNA double-strand break repair.</p>

<p>Originally published in <a href="https://www.jbc.org/content/294/9/3312">Journal of Biological Chemistry</a>.</p>

</div>
<div *ngIf="panelId == 83">
<p>Chromosome-associated RNA-protein complexes promote pairing of homologous chromosomes during meiosis.</p>

<p>Originally published in <a href="https://www.nature.com/articles/s41467-019-13609-0">Nature Communications</a>.</p>

</div>
<div *ngIf="panelId == 84">
<p>Mutations in a single signaling pathway allow cell growth in heavy water.</p>

<p>Image reprinted with permission from <a href='https://pubs.acs.org/doi/full/10.1021/acssynbio.9b00376'>ACS Synthetic Biology 2020 9 (4), 733-748</a>. Copyright 2020 American Chemical Society.</p>

</div>
<div *ngIf="panelId == 85">
<p>Pyruvate kinase variant of fission yeast tunes carbon metabolism, cell regulation, growth and stress resistance.</p>

<p>Originally published in <a href='https://www.embopress.org/doi/full/10.15252/msb.20199270'>Molecular Systems Biology</a>.</p>

</div>
<div *ngIf="panelId == 86">
<p>Conserved roles of chromatin remodellers in cohesin loading onto chromatin.</p>

<p>Originally published in <a href='https://link.springer.com/article/10.1007%2Fs00294-020-01075-x'>Current Genetics</a>.</p>

</div>
<div *ngIf="panelId == 87">
<p><app-recent-community-pubs></app-recent-community-pubs></p>

</div>
<div *ngIf="panelId == 88">
<p><app-recent-community-pubs></app-recent-community-pubs></p>

</div>
<div *ngIf="panelId == 89">
<p>Browse PomBase’s inventory of conserved proteins with no known biological role</p>

</div>
<div *ngIf="panelId == 90">
<p>The fission yeast <a routerLink="/browse-curation/fission-yeast-go-slim-terms">GO slim</a> provides a summary of genes annotated to broad biological processes</p>

</div>
<div *ngIf="panelId == 91">
<p>Use the <a routerLink="/query">Advanced Search</a> to construct complex queries (GO, phenotypes, taxonomic distribution, domain, chromosomal location).</p>

</div>
<div *ngIf="panelId == 92">
<p>PomBase has integrated over 200,000 manually curated gene-specific annotations. See our <a routerLink="/about/resource-metrics">Resource Metrics</a> page for more literature curation progress reports.</p>

</div>
<div *ngIf="panelId == 93">
<p>PomBase uses manually curated Gene Ontology annotation to generate biological process-specific networks, such as the cytokinesis network excerpted above. Currently available networks are linked to the <a routerLink="/browse-curation/fission-yeast-go-slim-terms">GO slim</a> page.</p>

</div>
<div *ngIf="panelId == 94">
<p>PomBase provides extensive documentation and answers many questions in the <a routerLink="/faq">FAQ</a>. For any information you can’t find there, please <app-contact-email [linkName]="'contact the helpdesk'" [subject]="'PomBase question'"></app-contact-email>.</p>

</div>
<div *ngIf="panelId == 95">
<p>PomBase has pioneered a community curation system that enables researchers to contribute publication-based annotations directly to database curators. To participate, search for the PubMed ID of your paper <a href="https://curation.pombase.org/pombe">in Canto</a> or <app-contact-email [linkName]="'contact the helpdesk'" [subject]="'PomBase question'"></app-contact-email>.</p>

</div>
<div *ngIf="panelId == 96">
<p>4020 of the 5070 fission yeast protein-coding genes now have assigned standard names. We encourage all authors and reviewers to ensure that gene names are registered prior to publication. Visit our <a routerLink="/gene-names">gene registry page</a> and the <a routerLink="/gene-names/gene-naming-guidelines"><em>S. pombe</em> gene naming guidelines</a> for more information.</p>

</div>
<div *ngIf="panelId == 97">
<p>Of the 3526 <em>S. pombe</em> with identified human orthologs, over 500 have been implicated in disease. These are manually annotated with terms from a small in-house vocabulary, and can be searched as described in the <a routerLink="/faq/how-can-i-find-s.-pombe-genes-associated-human-disease">disease gene FAQ</a>.</p>

</div>
<div *ngIf="panelId == 98">
<p>A guide to getting the most from PomBase, and to its curation philosophy and data organization. <a href="https://link.springer.com/protocol/10.1007/978-1-4939-7737-6_4">Free download</a> thanks to the <a href="https://wellcome.ac.uk/">Wellcome Trust</a>.</p>



<p><a href="https://link.springer.com/protocol/10.1007/978-1-4939-7737-6_4">View chapter …</a></p>

</div>
<div *ngIf="panelId == 99">
<p>Unknown process now down to 696, <a routerLink="/gene_subset/characterisation_status_conserved_unknown">conserved unknowns 410</a>.</p>

<p>Our “Unknowns” manuscript is now available on bioRxiv: <a href="https://www.biorxiv.org/content/early/2018/11/16/469569">DOI: 10.1101/469569</a>.</p>

</div>
<div *ngIf="panelId == 100">
<p><a routerLink="/term/DOID:4">Disease associations</a> are now provided for 907 pombe genes (up from 610), includes new associations derived from MalaCards. This number will increase as work is still in progress…</p>

</div>
<div *ngIf="panelId == 101">
<p>Our “unknowns” analysis is now published in <a href="https://royalsocietypublishing.org/doi/10.1098/rsob.180241">Open Biology</a>. You can browse the <a routerLink="/status/priority-unstudied-genes">list of fission yeast unknown proteins</a>, and use the “Visualise” button to explore the data interactively in QuiLT, the new tool inspired by <a href="https://royalsocietypublishing.org/doi/10.1098/rsob.180241#RSOB180241F4">Figure 4</a>.</p>

</div>
<div *ngIf="panelId == 102">
<p>PomBase’s advanced search now allows you to retrieve <a routerLink="/documentation/pombase-go-slim-documentation">GO slim</a> annotations for any set of search results. Combine with the “Gene IDs” query option to find GO slim annotations for your own list of genes.</p>

</div>
<div *ngIf="panelId == 103">
<p>The PomBase <a routerLink="/motif_search">Protein Motif Search Tool</a> allows you to search for any user-defined amino acid sequence, supporting exact matches, wildcards, gaps, and ambiguity codes. This search is now fully integrated into PomBase, allowing results to be sent directly to the <a routerLink="/query">advanced search</a>.</p>

</div>
<div *ngIf="panelId == 104">
<p>The PomBase <a href="https://www.pombase.org/jbrowse/">JBrowse instance</a> provides a responsive online environment in which to visualise published genomic datasets. For more information please see our <a href="https://www.pombase.org/documentation/JBrowse_quick_start">JBrowse documentation page</a>. Authors are welcome to submit their published data to PomBase for hosting.</p>

</div>
<div *ngIf="panelId == 105">
<p>Authors now contribute curation to PomBase for almost all new fission yeast publications. Find out how you can benefit in our <a href="https://academic.oup.com/database/article/doi/10.1093/database/baaa028/5827230">new paper on community curation</a>, and visit the <a href="https://curation.pombase.org/pombe"><em>S. pombe</em> Canto home</a> to participate.</p>

</div>
