<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Visible table columns</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let fieldName of fieldNames">
      <input id="name-{{fieldName}}" type="checkbox" [(ngModel)]="selectedFields[fieldName]"
             (ngModelChange)="fieldChange(fieldName)"/>
      <label for="name-{{fieldName}}">{{fieldName}}</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="apply()">Apply</button>
  </div>
</div>
