a {
  cursor: pointer;
}

.citation {
  font-style: italic;
}

.details-page-name-and-id {
  font-weight: bold;
  font-size: 130%;
  margin-bottom: 30px;
}

.details-page-name-and-id .name {
  font-size: 110%;
}

.details-page-summary {
  font-size: 120%;
  border: 0;
}

.details-page-summary table {
  width: 100%;
}

.details-page-summary .details-label {
  font-weight: bold;
  white-space: nowrap;
}

.details-page-summary table td {
  vertical-align: top;
  padding: 0 10px 5px 0;
}

.annotation-table table {
  width: 100%;
}

.annotation-table, .annotation-table legend, .genes-table, .genes-table legend {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #707070;
  background-color: #F9F9F9;
}

.annotation-table, .genes-table {
  margin: 15px 0;
  padding: 10px;
}

.annotation-table td, .genes-table td, .annotation-table th, .genes-table th {
  vertical-align: top;
  padding: 0 10px 5px 0;
}

.annotation-table th {
  white-space: nowrap;
}

.annotation-table legend, .genes-table legend {
  padding: 5px;
  display: block;
  font-size: 120%;
  width: auto;
}

.term-page-view-change {
  font-size: 120%;
}

/* override Bootstrap */
fieldset legend, ul.pagination {
  margin: 5px 0;
}
html body hr {
  margin: 15px 0;
}

#loading-spinner {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -16px;
}

#loading-spinner-text {
  font-size: 120%;
}

ul {
  padding-left: 25px;
}
