@media (max-width: 600px) {
  body {
    font-size: 2.0vw;
  }
}

a {
  cursor: pointer;
}

.citation {
  font-style: italic;
}

.details-page-name-and-id {
  font-weight: bold;
  font-size: 170%;
  margin-bottom: 30px;
}

.details-page-name-and-id .name {
  font-size: 110%;
}

.details-page-summary {
  font-size: 110%;
  border: 0;
}

.details-page-summary .details-label {
  font-weight: bold;
}
@media (min-width: 800px) {
  .details-page-summary .details-label {
    white-space: nowrap;
  }
}

.details-page-summary table td {
  vertical-align: top;
  padding: 0 40px 5px 0;
}

.annotation-table table {
  width: 100%;
}

.annotation-table, .annotation-table legend, .genes-table, .genes-table legend, .genotypes-table, .genotypes-table legend {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #707070;
  background-color: #F9F9F9;
}

.annotation-table, .genes-table, .genotypes-table {
  margin: 15px 0;
  padding: 10px;
}

.annotation-table td, .genes-table td, .genotypes-table td, .annotation-table th, .genes-table th, .genotypes-table th {
  vertical-align: top;
  padding: 0 10px 5px 0;
}

.annotation-table .annotation-table-container {
  overflow-x: auto;
}

fieldset.annotation-table {
  min-width: inherit;
}

@media (min-width: 800px) {
  .annotation-table th {
    white-space: nowrap;
  }
}

.annotation-table legend, .genes-table legend, .genotypes-table legend {
  padding: 5px;
  display: block;
  font-size: 120%;
  width: auto;
}

.term-page-view-change {
  font-size: 120%;
}

/* override Bootstrap */
fieldset legend, ul.pagination {
  margin: 5px 0;
}
html body hr {
  margin: 15px 0;
}

#loading-spinner {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -16px;
}

#loading-spinner-text {
  font-size: 120%;
}

ul {
  padding-left: 25px;
}

.app-link {
  display: inline-block;
}

.collapse-icon {
  border: 1px solid #707070;
  background-color: #FFFFFF;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-family: mono;
  text-decoration: none;
}

select[selected], option {
  font-weight: bold;
}

select option:disabled {
  color: #999;
  font-weight: normal;
}

.popover {
  max-width: 60em !important;
}

.contact-email {
  float: right;
  padding-right: 2em;
  font-size: 120%;
}
