h1,h2,h3,h4,h5,h6,h7 {
  margin-bottom: 0.2em;
}

@media (max-width: 600px) {
  body {
    font-size: 2.0vw;
  }
}

a {
  cursor: pointer;
}

.citation {
  font-style: italic;
}

.details-page-name-and-id {
  font-weight: bold;
  font-size: 170%;
  margin-bottom: 30px;
}

.details-page-name-and-id .name {
  font-size: 110%;
}

.details-page-summary {
  font-size: 110%;
  border: 0;
}

.details-page-summary .details-label {
  font-weight: bold;
}
@media (min-width: 800px) {
  .details-page-summary .details-label {
    white-space: nowrap;
  }
}

.details-page-summary table td {
  vertical-align: top;
  padding: 0 40px 5px 0;
}

.annotation-table table {
  width: 100%;
}

.annotation-table, .annotation-table legend, .genes-table, .genes-table legend, .genotypes-table, .genotypes-table legend {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  background-color: #F9F9F9;
}

.annotation-table, .genes-table, .genotypes-table {
  margin: 15px 0;
  padding: 10px;
}

.annotation-table td, .genes-table td, .genotypes-table td, .annotation-table th, .genes-table th, .genotypes-table th {
  vertical-align: top;
  padding: 0 10px 5px 0;
}

.annotation-table .annotation-table-container {
  overflow-x: auto;
}

fieldset.annotation-table {
  min-width: inherit;
}

@media (min-width: 800px) {
  .annotation-table th {
    white-space: nowrap;
  }
}

.annotation-table legend, .genes-table legend, .genotypes-table legend {
  padding: 5px;
  display: block;
  font-size: 120%;
  width: auto;
}

.term-page-view-change {
  font-size: 120%;
}

/* override Bootstrap */
fieldset legend, ul.pagination {
  margin: 5px 0;
}
html body hr {
  margin: 15px 0;
}

#loading-spinner {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -16px;
}

#loading-spinner-text {
  font-size: 120%;
}

ul {
  padding-left: 25px;
}

.app-link {
  display: inline-block;
}

.collapse-icon {
  border: 1px solid #707070;
  background-color: #FFFFFF;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-family: mono;
  text-decoration: none;
}

select[selected], option {
  font-weight: bold;
}

select option:disabled {
  color: #999;
  font-weight: normal;
}

.popover {
  max-width: 60em !important;
}

.contact-email {
  float: right;
  padding-right: 2em;
  font-size: 120%;
}

.menu-pos-fixed {
  position: fixed;
  top: 2px;
}
.menu-pos-absolute {
  position: absolute;
  top: 130px;
}

@media (min-width: 800px) {
  .details-page {
    right: 0;
    padding-left: 175px;
    width: auto;
  }
  .details-page-menu {
    width: 150px;
    left: 10px;
  }
}

@media (max-width: 799px) {
  .details-page-menu {
    position: inherit;
    width: 30%;
    padding: 0.5em;
  }
}

.details-page .menu-header {
  border-top: 1px solid lightgrey;
}
.details-page .menu-item {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 3px;
  font-size: 80%;
}

.details-page .menu-item a {
  color: #014c8c;
}

.details-page .menu-item a:hover {
  text-decoration: underline;
}

.annotation-sub-table-name {
  font-size: 110%;
  font-weight: bold;
  padding: 0 0 0.4em 0;
}

.no-wrap-span {
  display: inline-block;
  white-space: nowrap;
}

.bs-callout {
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #dde;
  border-left-width: 5px;
  border-radius: 3px;
  font-size: 120%;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}


@media (min-width: 800px) {
  .panel-container {
    display: flex;
    justify-content: center;
  }

  .info-panels {
    display: table;
    border-spacing: 2.5em;
  }

  .info-panel-row {
    display: table-row;
  }

  .info-panel {
    display: table-cell;
  }
}

@media (max-width: 799px) {
  .info-panel {
    display: inline-block;
    margin: 0.5em;
  }
}

.info-panel {
  box-shadow: 0px 0px 18px rgba(120,120,120,.80);
  vertical-align: top;
  min-width: 300px;
  min-height: 10em;
}

.panel-container {
  clear: both;
}
