.results-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.result-block {
  padding: 1em;
}

::ng-deep .result-block em {
  font-style: inherit;
  font-weight: bold;
}

.citation {
  font-style: italic;
}

.block-heading {
  font-weight: bold;
  font-size: 110%;
}
