<div id="faceted-search" *ngIf="geneSummaries">
  <h2>
    Search
  </h2>

  <div *ngIf="searchState == SearchState.ShowHelp">
    Start typing
  </div>

  <div *ngIf="searchState == SearchState.TooShort">
    Type more
  </div>

  <div *ngIf="searchState == SearchState.Searching">
    Searching ...
  </div>

  <div *ngIf="searchState == SearchState.NoResults">
    No matches
  </div>

  <div class="input-area">
    <input type="text" [(ngModel)]="query" placeholder="Search ..." (ngModelChange)="queryChange($event)" />
    <a class="input-reset" (click)="resetSearch()">clear</a>
  </div>

  <div *ngIf="searchState == SearchState.SomeResults" class="results-container">
    <div class="result-block">
      <div class="block-heading">Terms</div>
      <div *ngIf="results.term_matches.length == 0">
        No matching terms
      </div>
      <ul>
        <li *ngFor="let match of results.term_matches">
          <div><a routerLink="/term/{{match.id}}">{{match.id}}</a> ({{match.cv_name}})</div>
          <div [innerHTML]="match.name"></div>
        </li>
      </ul>
    </div>

    <div class="terms-block result-block">
      <div class="block-heading">Documentation</div>
      <div *ngIf="results.doc_matches.length == 0">
        No matching documentation
      </div>
      <ul>
        <li *ngFor="let match of results.doc_matches">
          <a routerLink="/{{match.id}}"><b>{{match.heading}}</b></a>
          <div *ngIf="match.hl.content" [innerHTML]="match.hl.content"></div>
        </li>
      </ul>
    </div>

    <div class="result-block">
      <div class="block-heading">Publications</div>
      <div *ngIf="results.ref_matches.length == 0">
        No matching publications
      </div>
      <ul>
        <li *ngFor="let match of results.ref_matches">
          <div><a routerLink="/reference/{{match.id}}"><b>{{match.id}}</b></a></div>
          <div class="pub-title" *ngIf="match.title" [innerHTML]="match.title"></div>
          <div class="authors" *ngIf="match.hl.authors" [innerHTML]="match.hl.authors"></div>
          <div class="citation" *ngIf="match.citation" [innerHTML]="match.hl.citation"></div>
        </li>
      </ul>
    </div>

  </div>
</div>
