<fieldset *ngIf="references?.length > 0" class="annotation-table">
  <legend>
    Literature
  </legend>
  <table>
    <thead>
      <tr>
        <th>Publication</th>
        <th>Gene count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reference of references">
        <td>
          <div class="pub-title">
            {{reference.title}}
          </div>
          <div>
            <span class="pub-authors">
              {{reference.authors}}
            </span>
            <span *ngIf="!reference.journal">
              <span class="pub-citation">
                {{reference.citation}}
              </span>
            </span>
            <span *ngIf="reference.journal">
              <span class="pub-journal">
                {{reference.journal}}
              </span>
              <span class="pub-citation-date-pages">
                {{reference.citation_date_pages}}
              </span>
            </span>
            <span *ngIf="reference.pubmed_id">
              <a class="pub-link" href="http://europepmc.org/abstract/MED/{{reference.pubmed_id}}">Europe PMC</a>
              |
              <a class="pub-link" href="http://www.ncbi.nlm.nih.gov/pubmed?term={{reference.pubmed_id}}">PubMed</a>
            </span>
          </div>
        </td>
        <td>
          {{reference.gene_count}}
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
