<fieldset *ngIf="references?.length > 0" class="annotation-table references">
  <legend>
    Literature
  </legend>
  <div *ngIf="pubmedSearchUrl" class="pubmed-search">
    <a href="{{pubmedSearchUrl}}">Search PubMed for {{pubmedSearchGeneLabel}}</a>
  </div>
  <div class="sort-buttons">
    Sort by:
    <span *ngIf="orderByField == '+authors_abbrev'">Authors</span>
    <a *ngIf="orderByField != '+authors_abbrev'" (click)="setOrderBy('+authors_abbrev')">Authors</a> |
    Year:
    <span *ngIf="orderByField == '+publication_year'">Ascending</span>
    <a *ngIf="orderByField != '+publication_year'" (click)="setOrderBy('+publication_year')">Ascending</a> /
    <span *ngIf="orderByField == '-publication_year'">Descending</span>
    <a *ngIf="orderByField != '-publication_year'" (click)="setOrderBy('-publication_year')">Descending</a> |
    <span *ngIf="orderByField == '+gene_count'">Publication gene count</span>
    <a *ngIf="orderByField != '+gene_count'" (click)="setOrderBy('+gene_count')">Publication gene count</a>
  </div>
  <div class="annotation-table-container">
  <table>
    <thead>
      <tr>
        <th>Details</th>
        <th *ngIf="orderByField == '+publication_year' || orderByField == '-publication_year'">Year</th>
        <th>Genes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reference of references | referenceOrderBy: orderByField">
        <td>
          <div class="pub-title">
            {{reference.title}}
          </div>
          <div>
            <span class="pub-authors">
              {{reference.authors_abbrev}}
            </span>
            <span *ngIf="!reference.journal">
              <span class="pub-citation">
                {{reference.citation}}
              </span>
            </span>
            <span *ngIf="reference.journal">
              <span class="pub-journal">
                {{reference.journal}}
              </span>
              <span class="pub-citation-date-pages">
                {{reference.citation_date_pages}}
              </span>
            </span>
            <app-reference-short [reference]="reference" [linkText]="'Details'"></app-reference-short>
          </div>
        </td>
        <td *ngIf="orderByField == '+publication_year' || orderByField == '-publication_year'">
          {{reference.publication_year}}
        </td>
        <td>
          {{reference.gene_count}}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</fieldset>
