.embedded-alphafold {
  width: 630px;
  height: 400px;
  border: 0;
}

.alphafold-iframe-container,
.alphafold-text {
  display: inline-block;
  vertical-align: top;
}

.alphafold-text>div {
  margin-bottom: 1em;
}

@media (min-width: 1300px) {
  .alphafold-container,
  .alphafold-loading-message,
  .alphafold-too-long-message {
    position: absolute;
    z-index: 999;
  }
}

.alphafold-loading-message,
.alphafold-too-long-message {
  color: gray;
  font-size: 120%;
  padding: 1.5em;
  max-width: 36em;
}

.structure-confidence-help {
  font-size: 95%;
}

.structure-confidence-help>div {
  margin-bottom: 0.5em;
}

.structure-confidence-help-item {
  font-size: 93%;
}

.structure-confidence-help-colour {
  height: 1em;
  width: 1em;
  margin-right: 0.2em;
  display: inline-block;
  vertical-align: middle;
}
