.interpro-matches table {
  margin: 1%;
}

.interpro-matches {
  margin: 0em 0 1em 0;
  width: 95%;
}

.interpro-matches-title {
  font-weight: bold;
}

.interpro-matches table th {
  font-weight: bold;
}

tr {
  border-left: 3px solid #0000;
}

tr.highlighted {
  background-color: #fff;
  border-left: 3px solid #617bd1;
}

table.interpro-matches-table th, table.interpro-matches-table td {
  padding: 0 0.6em 0.2em 0.4em;
}
