.social {
  width: 50%;
}

@media (min-width: 600px) {
  .social {
    padding: 1em 0.8em 1em 0;
  }
}
@media (max-width: 600px) {
  .social {
    padding-right: 0.6em;
  }
}

.social div {
  width: 50%;
}

.social img {
  padding: 0 3px 0 3px;
}

.pombase-social-contacts {
  margin: 0.1em 2.5em 0.4em 0;
  float: right;
}

.contact-email {
  vertical-align: top;
}

@media (min-width: 600px) {
  .contact-email {
    font-size: 120%;
  }
}
@media (max-width: 600px) {
  .contact-email {
    white-space: nowrap;
  }
}
