<div class="pombase-social-contacts">

<span class="social">
  <a href="https://lists.cam.ac.uk/mailman/listinfo/ucam-pombelist"><img title="PomBase mailing list" src="assets/pombe_email_icon.png"/></a>
  <a href="https://spombe.slack.com/"><img title="PombeSlack" src="assets/slack_icon.png"/></a>
  <a href="https://twitter.com/PomBase"><img title="@PomBase on Twitter" src="assets/twitter_icon.png"/></a>
  <a href="https://www.facebook.com/pombase"><img title="@PomBase on Facebook" src="assets/facebook_icon.png"/></a>
  <a href="https://github.com/pombase"><img title="PomBase on GitHub" src="assets/github_icon.png"/></a>
  <a href="https://www.linkedin.com/groups/5122686"><img title="PomBase on LinkedIn" src="assets/linkedin_icon.png"/></a>
</span>

<app-contact-email class="contact-email" [linkName]="'Contact curators ...'"
                   [subject]="subject || 'A comment on ' + siteName"></app-contact-email>

</div>
