.genes-table table th, .genes-table table th {
  padding-right: 20px;
}

.action {
  float: right;
  height: 0.9em;
  position: relative;
  top: -0.6em;
  padding: 0 5px;
}

.genes-table table {
  clear: both;
}

.description {
  padding-bottom: 1em;
}

.links-title {
  font-weight: bold;
}

th {
  white-space: nowrap;
}
