<div>
  <app-loading-spinner *ngIf="genes.length == 0"></app-loading-spinner>
<fieldset *ngIf="genes.length > 0" class="genes-table">

  <div class="download-links">
    <button class="btn btn-primary" (click)="download()">Download ...</button>
  </div>

  <legend *ngIf="showLengend">
    <span>{{legend}}</span>
  </legend>

  <div *ngIf="description" class="description">
    {{description}}
  </div>

  <table>
    <thead>
      <tr>
        <th>
          <a *ngIf="orderByField != 'gene'" (click)="setOrderBy('gene')"
             title="Click to sort">Gene name</a>
          <span *ngIf="orderByField == 'gene'">Gene name</span>
        </th>
        <th>
          Systematic ID
        </th>
        <th>
          <a *ngIf="orderByField != 'product'" (click)="setOrderBy('product')"
             title="Click to sort">Product</a>
          <span *ngIf="orderByField == 'product'">Product</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gene of genes | geneShortOrderBy: orderByField">
        <td>
          <a *ngIf="gene.name" routerLink="/gene/{{gene.uniquename}}">
            {{gene.name}}
          </a>
        </td>
        <td>
          <a routerLink="/gene/{{gene.uniquename}}">
            {{gene.uniquename}}
          </a>
        </td>
        <td>{{gene.product}}</td>
      </tr>
    </tbody>
  </table>
</fieldset>
</div>
