<div>
  <tabset *ngIf="genes.length > 0">
    <tab heading="{{legend}}">

  <div *ngIf="selectionInProgress()" class="action">
    <button class="btn btn-primary"
            [disabled]="selectedCount() == 0"
            title="{{selectedCount() == 0 ? 'Select some genes to filter' : 'Filter list to show only the selected genes'}}"
            (click)="filter()">Filter</button>
  </div>
  <div *ngIf="selectionInProgress()" class="action">
    <button class="btn btn-primary"
            title="Cancel gene selection mode"
            (click)="cancelSelection()">Cancel</button>
  </div>
  <div *ngIf="!selectionInProgress()" class="action">
    <button class="btn btn-primary" (click)="download()">Download ...</button>
  </div>
  <div *ngIf="!selectionInProgress()" class="action">
    <div >
      <button [disabled]="genes.length > 1000"
              title="{{genes.length > 1000 ? tooManyGenesTitle : selectGenesTitle}}"
              class="btn btn-primary" (click)="startSelection()">Select subset</button>
    </div>
  </div>
  <div *ngIf="selectionInProgress()" class="action">
    Select: <a (click)="selectAll()">all</a> | <a (click)="selectNone()">none</a> 
  </div>

  <div *ngIf="description" class="description">
    {{description}}
  </div>
  <div *ngIf="descriptionParts" class="description">
    <span *ngFor="let part of descriptionParts"><span *ngIf="part.text">{{part.text}}</span><a *ngIf="part.term" routerLink="/term/{{part.term.termid}}">{{part.term.termid}}</a></span>
  </div>

  <form class="genes-table">
  <table>
    <thead>
      <tr>
        <td *ngIf="selectionInProgress()">
          &nbsp;
        </td>
        <th>
          <a *ngIf="orderByField != 'gene'" (click)="setOrderBy('gene')"
             title="Click to sort">Gene name</a>
          <span *ngIf="orderByField == 'gene'">Gene name</span>
        </th>
        <th>
          Systematic ID
        </th>
        <th>
          <a *ngIf="orderByField != 'product'" (click)="setOrderBy('product')"
             title="Click to sort">Product</a>
          <span *ngIf="orderByField == 'product'">Product</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gene of genes | geneShortOrderBy: orderByField">
        <td *ngIf="selectionInProgress()">
          <input id="show-translation" type="checkbox"
                 [name]="gene.uniquename"
                 (ngModelChange)="selectionChanged()"
                 [(ngModel)]="selectedGenes[gene.uniquename]"/>
        </td>
        <td>
          <a *ngIf="gene.name" routerLink="/gene/{{gene.uniquename}}">
            {{gene.name}}
          </a>
        </td>
        <td>
          <a routerLink="/gene/{{gene.uniquename}}">
            {{gene.uniquename}}
          </a>
        </td>
        <td>{{gene.product}}</td>
      </tr>
    </tbody>
  </table>
  </form>
    </tab>
    <tab heading="Visualise">
      <app-gene-results-vis [genes]="genes">
      </app-gene-results-vis>
    </tab>
  </tabset>
</div>
