th {
  white-space: nowrap;
}

.pub-title {
  font-weight: bold;
}

.pub-journal, .pub-citation {
  font-style: italic;
}

.references .sort-buttons {
  padding: 0.3em 0 0.8em 0;
}

.references .sort-buttons span {
  font-weight: bold;
}

.references tr {
  padding: 5px 0 5px 0;
}

.references td {
  padding-right: 20px;
}

a {
  cursor: pointer;
}

.details-link {
  font-size: 110%;
}

.pubmed-search {
  padding: 0 0 0.4em 0;
}

.pub-authors, .pub-citation, .pub-uniquename {
  margin-right: 0.5em;
}

.curated-icon {
  margin: 0 0.6em;
}

.curated-icon img {
  max-height: 1.8ex;
}
