iframe.full-protein-viewer {
  width: 1400px;
  height: 120vh;
  border: 0;
  margin-left: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1180px;
}

.help-link {
  font-size: 60%;
  margin-top: 0.5em;
}

.table-toggle {
  font-size: 130%;
}

.feature-table {
  margin: 2em 0 0 2em;
}
