<div id="term-gene-view">
  <app-loading-spinner *ngIf="!termDetails && !apiError"></app-loading-spinner>
  <app-api-error-display *ngIf="apiError" [error]="apiError"></app-api-error-display>

  <div *ngIf="termDetails">
    <div class="details-page-name-and-id">
      {{termDetails.termid}} - {{termDetails.name}}
    </div>

    <div class="external-links">
      <div *ngIf="isInSubset('bp_goslim_pombe')">
        <div>
This term is part of the
<a routerLink="/browse-curation/fission-yeast-go-slim-terms" routerLinkActive="active">biological process overview</a> (GO slim).
        </div>
      <app-external-link [identifierForLink]="termDetails.termid"
                         [linkName]="'View the esyN network'"
                         [linkConfigKey]="'esyn'"
                         [iconImage]="'esyn_icon.png'">
      </app-external-link>
      </div>
    </div>

    <hr style="clear: both" />

    <div *ngIf="showAllAnnotationsLink" class="term-page-view-change">
      <a routerLink="/term/{{termDetails.termid}}"
         routerLinkActive="active">View all annotations for this term ...</a>
    </div>

    <div>
      <app-genes-table [legend]="'Genes annotated with ' + termDetails.termid + ' or its descendants: ' + genes.length"
                       [genes]="genes"></app-genes-table>
    </div>
  </div>
</div>
