<div id="term-gene-view">
  <app-loading-spinner *ngIf="!termDetails && !apiError"></app-loading-spinner>
  <app-api-error-display *ngIf="apiError" [error]="apiError"></app-api-error-display>

  <div *ngIf="termDetails">
    <div class="details-page-name-and-id">
      {{termDetails.termid}} - {{termDetails.name}}
    </div>

    <div class="external-links">
      <app-external-link *ngIf="isInSubset('goslim_pombe')"
                         [identifierForLink]="termDetails.termid"
                         [linkName]="'View the esyN network'"
                         [linkConfigKey]="'esyn'">
      </app-external-link>
    </div>

    <hr style="clear: both" />

    <div *ngIf="showAllAnnotationsLink" class="term-page-view-change">
      <a routerLink="/term/{{termDetails.termid}}"
         routerLinkActive="active">View all annotations for this term ...</a>
    </div>

    <div>
      <app-genes-table [legend]="'Genes annotated with ' + termDetails.termid + ' or its descendants: ' + genes.length"
                       [genes]="genes"></app-genes-table>
    </div>
  </div>
</div>
