<div id="term-gene-view">
  <app-loading-spinner *ngIf="!termDetails && !apiError"></app-loading-spinner>
  <app-api-error-display *ngIf="apiError" [error]="apiError"></app-api-error-display>

  <div *ngIf="termDetails && !apiError">
    <app-contact-email class="contact-email" [linkName]="'Contact curators ...'"
                       [subject]="'Comment or problem report'"></app-contact-email>

    <app-term-page-summary [termDetails]="termDetails"></app-term-page-summary>

    <div class="term-actions">
      <span class="title">Actions: </span>
      <a routerLink="/query/from/term_subset/{{termDetails.termid}}/{{termDetails.name}}">
        Use these genes in query...
      </a>
    </div>

    <hr style="clear: both" />

    <div *ngIf="showAllAnnotationsLink" class="term-page-view-change">
      <a routerLink="/term/{{termDetails.termid}}"
         routerLinkActive="active">View all annotations for this term ...</a>
    </div>

    <div>
      <app-genes-table [legend]="'Genes annotated with ' + termDetails.termid + ' or its descendants: ' + genes.length"
                       [genes]="genes"></app-genes-table>
    </div>
  </div>
</div>
