.table-control {
  padding: 0 0 10px 0;
  font-size: 120%;
}

.annotation-table-slim-and-links {
  display: grid;
  grid-template-columns: auto 20em;
}

.annotation-table-slim {
}

.annotation-table-ext-links {
  margin-left: 2em;
}
