<fieldset *ngIf="annotationTable?.length > 0" class="annotation-table">
  <legend>
    <span *ngIf="annotationTypeName">{{annotationTypeDisplayName}}</span>
    <span *ngIf="!annotationTypeName">Annotations</span>
  </legend>

  <div *ngIf="splitByParents.length == 0">
    <app-annotation-sub-table
       [annotationTypeName]="annotationTypeName"
       [hideColumns]="hideColumns"
       [annotationTable]="annotationTable">
    </app-annotation-sub-table>
  </div>
  <div *ngIf="splitByParents.length != 0">
    <div *ngFor="let conf of splitByParents">
      <div class="annotation-sub-table-name">{{conf.displayName}}</div>
      <app-annotation-sub-table
         [annotationTypeName]="annotationTypeName"
         [hideColumns]="hideColumns"
         [annotationTable]="splitDataList[conf.termid]">
      </app-annotation-sub-table>
    </div>
  </div>
</fieldset>
