<fieldset *ngIf="annotationTable?.length > 0" class="annotation-table">
  <legend>
    <span *ngIf="annotationTypeName">{{tableDisplayName}}</span>
    <span *ngIf="!annotationTypeName">Annotations</span>
  </legend>

  <div *ngIf="splitByParents.length == 0">
    <app-annotation-sub-table
       [annotationTypeName]="annotationTypeName"
       [hideColumns]="hideColumns"
       [featureInFirstColumn]="featureInFirstColumn"
       [annotationTable]="annotationTable"
       [summaries]="summaries">
    </app-annotation-sub-table>
  </div>
  <div *ngIf="splitByParents.length != 0">
    <div *ngFor="let conf of splitByParents; let i = index">
      <div *ngIf="splitDataList[conf.termid] && splitDataList[conf.termid].length > 0">
        <br *ngIf="i != 0"/>
        <div class="annotation-sub-table-name">{{conf.displayName}}</div>
        <app-annotation-sub-table
           [annotationTypeName]="annotationTypeName"
           [hideColumns]="hideColumns"
           [featureInFirstColumn]="featureInFirstColumn"
           [annotationTable]="splitDataList[conf.termid]"
           [summaries]="splitSummaryList[conf.termid]">
        </app-annotation-sub-table>
      </div>
    </div>
  </div>
</fieldset>
