<fieldset *ngIf="annotationTable.length > 0" class="annotation-table">
  <legend>
    <span *ngIf="annotationTypeName">{{annotationTypeDisplayName}}</span>
    <span *ngIf="!annotationTypeName">Annotations</span>
  </legend>

  <div style="font-weight: bold; padding: 5px 0 5px 0; font-size: 120%;">
    <div *ngIf="truncatedTable.length != annotationTable.length">
      Note: showing only {{maxRows}} of {{annotationTable.length}} annotations.
    </div>
  </div>

  <div class="table-control" *ngIf="showColumn['genotype']">
    <input id="genotype-details-toggle"
           type="checkbox"
           name="show-genotype-details" ngDefaultControl
           [(ngModel)]="showGenotypeDetails" btnCheckbox />
    <label for="genotype-details-toggle">
      <span class="label-content">Genotype details</span>
    </label>
  </div>

  <table>
    <thead>
      <tr>
        <th *ngIf="showColumn['gene-ex']">Molecules per cell (average)</th>
        <th *ngIf="showColumn['desc-rel']">Relation</th>
        <th *ngIf="showColumn['gene']">Gene</th>
        <th *ngIf="showColumn['term']">Term ID</th>
        <th *ngIf="showColumn['term']">Term name</th>
        <th *ngIf="showColumn['gene_count']">Other genes</th>
        <th *ngIf="showColumn['genotype']">Genotype</th>
        <th *ngIf="showColumn['evidence']">Evidence</th>
        <th *ngIf="showColumn['with']">With</th>
        <th *ngIf="showColumn['conditions']">Conditions</th>
        <th *ngIf="showColumn['gene-ex-scale']">Scale</th>
        <th *ngIf="showColumn['qualifiers']">Qualifiers</th>
        <th *ngIf="showColumn['residue']">Residue</th>
        <th *ngIf="showColumn['reference']">Reference</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let annotation of truncatedTable;trackBy:trackById">
        <td *ngIf="showColumn['gene-ex']">
          <div *ngIf="annotation.gene_ex_props">
            {{annotation.gene_ex_props.avg_copies_per_cell}}
          </div>
        </td>
        <td *ngIf="showColumn['desc-rel']">
          <span *ngIf="annotation.descRelNames">
            {{annotation.descRelNames}}
          </span>
        </td>
        <td *ngIf="showColumn['gene']">
          <app-gene-link *ngIf="annotation.gene" [gene]="annotation.gene"></app-gene-link>
        </td>
        <td *ngIf="showColumn['term']">
          <a *ngIf="annotation.term" routerLink="/term_genes/{{annotation.term.termid}}" routerLinkActive="active">{{annotation.term.termid}}</a>
        </td>
        <td *ngIf="showColumn['term']">
          <div>
            <span *ngIf="annotation.is_not" class="not-annotation">NOT</span>
            <a *ngIf="annotation.term" routerLink="/term_genes/{{annotation.term.termid}}" routerLinkActive="active">{{annotation.term.name}}</a>
          </div>
          <div *ngIf="annotation.extension">
            <app-extension-display [extension]="annotation.extension"></app-extension-display>
          </div>
        </td>
        <td *ngIf="showColumn['gene_count']">
          <a *ngIf="annotation.term" routerLink="/term_genes/{{annotation.term.termid}}" routerLinkActive="active">{{annotation.term.gene_count}}</a>
        </td>
        <td *ngIf="showColumn['genotype']">
          <app-genotype-link *ngIf="annotation.genotype" [genotype]="annotation.genotype"
                             [showDetails]="showGenotypeDetails"></app-genotype-link>
        </td>
        <td *ngIf="showColumn['evidence']">{{annotation.evidence}}</td>
        <td *ngIf="showColumn['with']"><app-gene-link *ngIf="annotation.with" [long]="false" [gene]="annotation.with"></app-gene-link>
        <td *ngIf="showColumn['conditions']">
          <li *ngFor="let condition of annotation.conditions">
            <a routerLink="/term/{{condition.termid}}" routerLinkActive="active">{{condition.name}}</a>
          </li>
        </td>
        <td *ngIf="showColumn['gene-ex-scale']">
          <span *ngIf="annotation.gene_ex_props">{{annotation.gene_ex_props.scale}}</span>
        </td>
        <td *ngIf="showColumn['qualifiers']">
          <div *ngIf="annotation.qualifiers">
            {{annotation.qualifiers}}
          </div>
        </td>
        <td *ngIf="showColumn['residue']">{{annotation.residue}}</td>
        <td *ngIf="showColumn['reference']">
          <app-reference-short *ngIf="annotation.reference"
                               [reference]="annotation.reference"></app-reference-short>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
