.not-annotation {
  color: #A00000;
  font-weight: bold;
}

.table-control {
  padding: 0 0 10px 0;
  font-size: 120%;
}

.term-annotation-top, .term-annotation td {
  border-top: 1px solid #C0C0C0;
}
