.not-annotation {
  color: #A00000;
  font-weight: bold;
}

.table-control {
  padding: 0 0 10px 0;
  font-size: 120%;
}

.term-annotation-top, .term-annotation td {
  border-top: 1px solid #C0C0C0;
}

.rel-and-termid {
  white-space: nowrap;
}

.rel-icon {
  font-weight: bold;
  font-size: 120%;
}

.rel-termid {
  background-color: #666;
  border: 1px solid #444;
  padding: 3px;
  color: white;
}
