.query-node {
  display: flex;
}

.node-section, button {
  margin: 6px 0;
}

.node-buttons {
  background-color: #ececfc;
  left: 0;
  top: 0;
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
}

.node-button {
  min-height: 1.55em;
  white-space: nowrap;
  padding: 0.05em 0.3em;
  border-right: 1px solid #bbc;
  flex-grow: 0.01;
}

.non-heading-button {
  cursor: pointer;
  color: #22b;
  display: inline-flex;
  width: 100%;
}

.node-selected-button {
  color: #00a;
  border-left: 1px solid #aac;
  border-top: 1px solid #aac;
  border-bottom: 1px solid #aac;
  border-right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.button-level-1 {
  padding-left: 1em;
  font-size: 95%;
}

.non-heading-button:hover {
  text-decoration: underline;
}

.button-filler {
  border-right: 1px solid #aac;
  flex-grow: 1;
}

.indicator-filler {
  flex-grow: 1;
}

.node-components {
  width: 100%;
  min-height: 16em;
  padding: 0.8em 0.6em 0.6em 1em;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #aac;
  border-top: 1px solid #aac;
  border-bottom: 1px solid #aac;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.node-components, .node-selected-button {
  background-color: #e5e5fe;
}

.range input {
  width: 8em;
}

.node-top-description {
  font-weight: bold;
  margin: 0 0 0.6em 0;
  font-size: 110%;
}

.node-top-help, .node-top-id-mapper {
  margin: 1em 0;
}

.node-top-help img {
  height: 1em;
  vertical-align: baseline;
}

.sub-nodes-indicator {
  padding-left: 0.4em;
}

.heading-button {
  user-select: none;
}
