.query-node {
  margin: 1em;
  display: flex;
}

.node-section, button {
  margin: 6px 0;
}

.node-buttons {
  background-color: #ececfc;
  width: 12em;
  left: 0;
  top: 0;
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
}

.node-button {
  color: #22b;
  min-height: 1.55em;
  cursor: pointer;
  white-space: nowrap;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 90%;
  border-right: 1px solid #bbc;
  flex-grow: 0.01;
}

.node-selected-button {
  color: #00a;
  border-left: 1px solid #aac;
  border-top: 1px solid #aac;
  border-bottom: 1px solid #aac;
  border-right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.node-button:hover {
  text-decoration: underline;
}

.button-filler {
  border-right: 1px solid #aac;
  flex-grow: 1;
}

.node-components {
  width: 100%;
  min-height: 16em;
  padding: 0.6em;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #aac;
  border-top: 1px solid #aac;
  border-bottom: 1px solid #aac;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.node-components, .node-selected-button {
  background-color: #e5e5fe;
}

.range input {
  width: 8em;
}

.node-top-description {
  font-weight: bold;
  margin: 0 0 0.6em 0;
}
