
.jbrowse-container-hide a, .jbrowse-container-show a {
  color: black;
}

.jbrowse-container-show {
  margin: 0 0 1em 0.5em;
}

.jbrowse-container-hide, .jbrowse-container-show {
  user-select: none;
}

@media (max-width: 800px) {
  .chromosome-region-view {
    width: 100%;
  }

  .embedded-jbrowse {
    width: 94vw;
  }

  .jbrowse-container {
    height: 320px;
  }
}

.jbrowse-container, .jbrowse-container-hide {
  max-width: 980px;
  margin: auto;
}

@media (min-width: 800px) and (max-width: 1000px) {
  .jbrowse-container {
    height: 350px;
  }
}

@media (min-width: 1000px) {
  .jbrowse-container {
    height: 300px;
  }
}

@media (min-width: 800px) {
  .chromosome-region-view {
    width: auto;
    max-width: 1000px;
  }

  #gene-inline-browser-image {
    overflow: auto;
  }
}

.jbrowse-container {
  position: relative;
  width: 100%;
}

.embedded-jbrowse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .chromosome-region-view {
    margin: 0 0.5em;
  }
}

.chromosome-region-view fa-icon {
  font-size: 130%;
  padding-right: 0.3em;
}

.embedded-alphafold {
  width: 630px;
  height: 430px;
  border: 0;
}
