
.widgets {
  margin: 1em;
}

@media (max-width: 799px) {
  .embedded-jbrowse {
    width: 94vw;
  }

  .jbrowse-container {
    height: 320px;
  }
}

@media (min-width: 900px) {
  .widgets {
    display: flex;
    flex-flow: row nowrap;
  }

  .widgets-container {
    width: 100%;
    flex-grow: 1;
  }
}

@media (min-width: 800px) {
  .jbrowse-container {
    height: 400px;
  }

  .chromosome-region-view {
    width: auto;
    max-width: 1000px;
  }

  #gene-inline-browser-image {
    overflow: auto;
  }
}

.jbrowse-container {
  position: relative;
  width: 100%;
}

.embedded-jbrowse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.chromosome-region-view, .alphafold-view {
  margin: 0 0.5em;
}


.chromosome-region-view fa-icon {
  font-size: 130%;
  padding-right: 0.3em;
}

.widgets-picker {
  white-space: nowrap;
}

@media (min-width: 900px) {
  .widget-buttons-vertical .active-widget-button {
    border-left: 3px solid grey;
  }

  .widget-buttons-vertical .non-active-widget-button:hover {
    border-left: 3px solid #eee;
  }

  .widget-buttons-vertical .non-active-widget-button:not(:hover) {
    border-left: 3px solid #fff;
  }

  .widgets-picker-container {
    display: inline-block;
    min-width: 9.5em;
    padding: 0.3em 0;
  }

  .non-active-widget-button, .active-widget-button {
    margin-bottom: 16px;
    padding-left: 4px;
  }

  .widget-buttons-horizontal .non-active-widget-button,
  .widget-buttons-horizontal .active-widget-button {
    display: inline-block;
    padding-right: 2em;
  }

  .widget-buttons-horizontal div, .widget-buttons-horizontal img {
    display: inline-block;
  }

  .widget-buttons-horizontal img {
    width: 3em;
    margin: 2px 2px 2px 5px;
  }

  .widget-buttons-vertical img {
    margin: 2px 2px 2px 10px;
  }

  .widgets-available {
    padding-right: 1em;
  }

  .widget-buttons-horizontal .active-widget-button.widget-button-hide-all {
    display: none;
  }
}

@media (max-width: 899px) {
  .widgets-picker {
    display: flex;
  }

  .active-widget-button {
    border-top: 2px solid grey;
  }

  .non-active-widget-button:hover {
    border-top: 3px solid #eee;
  }

  .non-active-widget-button:not(:hover) {
    border-top: 3px solid #fff;
  }

  .non-active-widget-button, .active-widget-button {
    margin: 8px 24px 10px 2px;
    min-height: 2em;
  }

  .widgets-available {
    display: none;
  }
}

img.widget-button {
  display: block;
}

.non-active-widget-button:not(:hover) img {
  opacity: 80%;
}

@media (min-width: 1300px) {
  .alphafold-view {
    position: relative;
    height: 400px;
  }

  .pdb-view {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .alphafold-view {
    width: 1000px
  }
}
