<div class="chromosome-region-view">
  <div *ngIf="settingsService.genePageMainWidget == 'genome_browser'"
       class="jbrowse-container-hide">
    <a (click)="hideGenomeBrowser()">
      <fa-icon [icon]="faCaretDown"></fa-icon>Hide genome browser
    </a>
  </div>
  <div *ngIf="settingsService.genePageMainWidget == 'none'"
       class="jbrowse-container-show">
    <a (click)="showGenomeBrowser()">
      <fa-icon [icon]="faCaretRight"></fa-icon>Show genome browser
    </a>
  </div>
  <div *ngIf="showJBrowse()"
       class="jbrowse-container">
    <iframe [src]="getJBrowseIFrameURL()" scrolling="no" class="embedded-jbrowse">
    </iframe>
  </div>
</div>