.controls, .sequence-actions, .transcript-sequence-actions {
  display: inline-block;
  vertical-align: top;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .controls {
    width: 30%;
  }
}

@media (min-width: 1400px) {
  .controls {
    width: 40%;
  }
}

.sequence-display, .sequence-holder pre {
  max-height: 800px;
  font-family: DejaVu Sans Mono, monospace;
  overflow-y: auto;
  display: inline-block;
  background-color: white;
  padding: 0.5em;
  border-radius: 2px;
}

.sequence-holder {
  padding-left: 1em;
}

.sequence-holder pre {
  border: 0;
  font-size: 1em;
}

.selected-range {
  font-size: 120%;
  padding: 0 0.5em;
}

.seq-title {
  padding-top: 1em;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.residues {
  color: #111;
  max-width: 60.1ch;
  display: inline-block;
  word-wrap: break-word;
}

.residue-part {
  line-height: 1em;
}

.hovering {
  font-weight: bold;
}

.part-exon {
  background-color: white;
  color: black;
}

.part-exon {
  background-color: #efefff;
}

.part-five_prime_utr_intron, .part-three_prime_utr_intron, .part-cds_intron {
  font-style: oblique;
  background-color: #faffaa;
}

.part-cds_intron {
  color: #444;
}

.part-five_prime_utr_intron, .part-three_prime_utr_intron {
  color: #644;
}

.part-five_prime_utr {
  color: #0b5dd7;
}

.part-three_prime_utr {
  color: #6b3dc7;
}

.part-upstream {
  color: #ec5f5f;
}

.part-downstream {
  color: #0ea476;
}

.controls .flanking-bases input {
  width: 6em;
}

.sequence-toggle {
  padding: 0.1em 0 0.5em 0;
}

.transcript-sequence-select form {
  display: inline;
}

.utr-intron-warning {
  font-size: 95%;
  margin-left: 1em;
}

.checkbox-section, .flanking-bases {
  padding: 0 0 0.4em 1em;
}

.sequence-action {
  padding: 0 0.8em 0.7em 0;
  display: inline-block;
}

@media (min-width: 1200px) {
  .sequence-actions {
    padding: 2em 0 0.5em 0;
  }

  .sequence-holder {
    display: inline-block;
  }
}

@media (max-width: 1199px) {
  .transcript-part-selection, .sequence-actions {
    width: 45%;
    display: inline-block;
  }
  .sequence-actions {
    padding-left: 5em;
  }

  .sequence-holder .residue-line {
    font-size: 0.9em;
  }

  .residues[_ngcontent-c20] {
    min-width: 62ch;
  }

  .sequence-holder {
    display: block;
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  .transcript-part-selection label {
    margin-bottom: 0;
  }
}

.transcript-select {
  margin: 0.2em 0 1.2em 0;
}
