<div>
  <app-loading-spinner *ngIf="!refDetails && !apiError"></app-loading-spinner>
  <app-api-error-display *ngIf="apiError" [error]="apiError"></app-api-error-display>

<div id="reference-details" class="details-page" *ngIf="refDetails && !apiError">
  <app-contact-email class="contact-email" [linkName]="'Contact curators ...'"
                     [subject]="'Comment or problem report'"></app-contact-email>

  <div class="details-page-name-and-id">
    <span class="reference-title" *ngIf="refDetails.title">
      {{refDetails.title}}
    </span>
  </div>

  <div id="reference-summary" class="details-page-summary">
    <table>
      <tbody>
        <tr *ngIf="isPubMedRef">
          <td class="details-label">Authors</td>
          <td>{{refDetails.authors}}</td>
          <td *ngIf="cantoCommunityCuratorName">
            <a href="http://curation.pombase.org/pombe/"><img src="/assets/canto_icon.png"/></a> Community curation provided by {{cantoCommunityCuratorName}}
          </td>
        </tr>
        <tr *ngIf="isPubMedRef">
          <td class="details-label">Citation</td>
          <td>{{refDetails.citation}}</td>
        </tr>
        <tr>
          <td class="details-label">ID</td>
          <td>{{refDetails.uniquename}}</td>
        </tr>
        <tr *ngIf="isPubMedRef">
          <td class="details-label">Links</td>
          <td>
            <a class="pub-link" href="http://europepmc.org/abstract/MED/{{pubMedId}}">Europe PMC</a>
              |
            <a *ngIf="refAnnotationStatus != 'has-annotations'"
               class="pub-link" href="http://www.ncbi.nlm.nih.gov/pubmed?term={{pubMedId}}">PubMed</a>
            <a *ngIf="refAnnotationStatus == 'has-annotations'"
               class="pub-link" href="https://www.ncbi.nlm.nih.gov/pubmed?holding=pombase&term={{pubMedId}}">PubMed</a>
          </td>
        </tr>
        <tr *ngIf="refDetails.abstract">
          <td class="details-label">Abstract</td>
          <td colspan="3"><span class="abstract">{{refDetails.abstract}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="reference-details-menu">
    <app-details-page-menu [title]="refDetails.uniquename"
                           [visibleSections]="visibleSections"></app-details-page-menu>
  </div>

  <hr style="clear: both" />

  <div *ngIf="refAnnotationStatus != null" class="annotations-section-header">
    <div *ngIf="refAnnotationStatus == 'has-annotations'">Annotations from this publication:</div>
    <div *ngIf="refAnnotationStatus != 'has-annotations'">This publication has no
      annotations in PomBase because
      <span *ngIf="refAnnotationStatus == 'not-curated'">
        it hasn't been curated yet.
        (Please
<app-contact-email [linkName]="'contact us'"
                   [subject]="'Request to contribute annotations for ' + refDetails.uniquename"></app-contact-email>
if you would like to contribute annotations for this paper.)
      </span>
      <span *ngIf="refAnnotationStatus == 'no-annotation'">
        the curators have found no annotatable gene-specific data in it.
      </span>
    </div>
  </div>

  <div>
    <span *ngFor="let annotationTypeName of annotationTypeNames">
      <app-qual-gene-ex-table id="{{annotationTypeName}}" *ngIf="annotationTypeName == 'qualitative_gene_expression'"
                              [hideColumns]="['reference']"
                              [annotationTable]="refDetails.cv_annotations[annotationTypeName]"></app-qual-gene-ex-table>

      <app-quant-gene-ex-table id="{{annotationTypeName}}" *ngIf="annotationTypeName == 'quantitative_gene_expression'"
                               [hideColumns]="['reference']"
                               [annotationTable]="refDetails.cv_annotations[annotationTypeName]"></app-quant-gene-ex-table>

      <app-annotation-table  id="{{annotationTypeName}}"
                             *ngIf="annotationTypeName != 'qualitative_gene_expression' && annotationTypeName != 'quantitative_gene_expression'"
                            [scope]="'reference'"
                            [annotationTypeName]="annotationTypeName"
                            [hideColumns]="['reference', 'desc-rel']"
                            [featureInFirstColumn]="true"
                            [annotationTable]="refDetails.cv_annotations[annotationTypeName]"></app-annotation-table>
    </span>
  </div>
  <div>
    <app-interaction-annotation-table [annotationTypeName]="'physical_interactions'"
                                      [hideColumns]="['reference']"
                                      [annotationTable]="refDetails.physical_interactions"></app-interaction-annotation-table>
  </div>
  <div>
    <app-interaction-annotation-table [annotationTypeName]="'genetic_interactions'"
                                      [hideColumns]="['reference']"
                                      [annotationTable]="refDetails.genetic_interactions"></app-interaction-annotation-table>
  </div>
  <div>
    <app-ortholog-annotation-table [hideColumns]="['reference']"
                                   [annotationTable]="refDetails.ortholog_annotations"></app-ortholog-annotation-table>
  </div>
  <div>
    <app-paralog-annotation-table [annotationTable]="refDetails.paralog_annotations"></app-paralog-annotation-table>
  </div>

</div>
</div>
