<div id="reference-details">
  <app-loading-spinner *ngIf="!refDetails"></app-loading-spinner>
<div *ngIf="refDetails">
  <div class="details-page-name-and-id">
    <span class="reference-title" *ngIf="refDetails.title">
      {{refDetails.title}}
    </span>
  </div>

  <div id="reference-summary" class="details-page-summary">
    <table>
      <tbody>
        <tr *ngIf="isPubMedRef">
          <td class="details-label">Authors</td>
          <td>{{refDetails.authors}}</td>
        </tr>
        <tr *ngIf="isPubMedRef">
          <td class="details-label">Citation</td>
          <td>{{refDetails.citation}}</td>
        </tr>
        <tr>
          <td class="details-label">ID</td>
          <td>{{refDetails.uniquename}}</td>
        </tr>
        <tr *ngIf="isPubMedRef">
          <td class="details-label">Links</td>
          <td>
            <a class="pub-link" href="http://europepmc.org/abstract/MED/{{pubMedId}}">Europe PMC</a>
              |
            <a class="pub-link" href="http://www.ncbi.nlm.nih.gov/pubmed?term={{pubMedId}}">PubMed</a>
          </td>
        </tr>
        <tr *ngIf="refDetails.abstract">
          <td class="details-label">Abstract</td>
          <td colspan="3"><span class="abstract">{{refDetails.abstract}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr style="clear: both" />

  <div class="annotations-section-header">
  Annotations from this publication:
  </div>

  <div>
    <app-annotation-table *ngFor="let annotationTypeName of annotationTypeNames"
                          [annotationTypeName]="annotationTypeName"
                          [hideColumns]="['reference', 'desc-rel']"
                          [featureInFirstColumn]="true"
                          [annotationTable]="refDetails.cv_annotations[annotationTypeName]"
                          [summaries]="refDetails.cv_summaries[annotationTypeName]"></app-annotation-table>
  </div>
  <div>
    <app-interaction-annotation-table [annotationTypeName]="'physical_interactions'"
                                      [annotationTable]="refDetails.physical_interactions"></app-interaction-annotation-table>
  </div>
  <div>
    <app-interaction-annotation-table [annotationTypeName]="'genetic_interactions'"
                                      [annotationTable]="refDetails.genetic_interactions"></app-interaction-annotation-table>
  </div>
  <div>
    <app-ortholog-annotation-table [annotationTable]="refDetails.ortholog_annotations"></app-ortholog-annotation-table>
  </div>
  <div>
    <app-paralog-annotation-table [annotationTable]="refDetails.paralog_annotations"></app-paralog-annotation-table>
  </div>

</div>
</div>
