.term-details table {
  width: 67% !important;
}

.term-parent-column {
  width: 30%;
}

.term-parent-column div {
  padding-bottom: 0.5em;
}

.esyn-link {
  margin-left: 1.5em;
}

.external-links {
  padding-bottom: 0.5em;
}

.external-links div {
  padding-bottom: 0.5em;
}

.ontology-graph-title {
  font-weight: bold;
  font-size: 80%;
  padding-bottom: 0.5em;
}

.ontology-graph {
  float: right;
}

.ontology-graph-loading {
  font-size: 75%;
  padding: 2em 0 0 2em
}
