.term-details table {
  width: 55% !important;
}

.term-parent-column {
  width: 35%;
}

.esyn-link {
  margin-left: 1.5em;
}

.external-links {
  padding-bottom: 0.5em;
}

.external-links div {
  padding-bottom: 0.5em;
}
