<app-term-name-complete [cvName]="termNodeConfig.ontologyName"
                        [placeholder]="placeholder"
                        (termMatched)="termMatched($event)"></app-term-name-complete>

<div class="term-definition" *ngIf="selectedTerm?.definition">{{selectedTerm.definition}}</div>

<div *ngIf="isPhenotypeNode">
  <div class="phenotype-filter single-or-multi-allele phenotype-filter-inline-block">
    Include genes from:
    <div class="ontology-options">
    <div>
    <input id="single-allele" type="checkbox" [(ngModel)]="singleAllele"
           title="Include genes from single-allele genotypes"
           (ngModelChange)="singleMultiChange('single')"/>
    <label for="single-allele">Single-allele genotypes</label>
    </div>
    <div>
    <input id="multi-allele" type="checkbox" [(ngModel)]="multiAllele"
           title="Include genes from multi-allele genotypes"
           (ngModelChange)="singleMultiChange('multi')"/>
    <label for="multi-allele">Multi-allele</label>
    </div>
    </div>
  </div>

  <div *ngIf="!multiAllele" class="phenotype-filter expression phenotype-filter-inline-block">
    Expression level:
    <div class="ontology-options">
    <div>
    <input id="expression-any" type="radio" [(ngModel)]="expression" name="expression" value="any"/>
    <label for="expression-any">Any</label>
    </div>
    <div>
    <input id="expression-null" type="radio" [(ngModel)]="expression" name="expression" value="null"/>
    <label for="expression-null">Null</label>
    </div>
    <div>
    <input id="expression-wt-over" type="radio" [(ngModel)]="expression" name="expression" value="wt-overexpressed"/>
    <label for="expression-wt-over">Overexpressed wild type</label>
    </div>
    </div>
  </div>

  <div *ngIf="phenotypeConditionNamespace"
       class="phenotype-condition-selector phenotype-filter">
    <input id="show-cond-select" type="checkbox" [(ngModel)]="showConditionSelector"
           title="Click to constrain by condition"/>
    <label for="show-cond-select">Constrain condition<span *ngIf="showConditionSelector">:</span></label>
    <app-term-name-complete *ngIf="showConditionSelector"
                            class="phenotype-condition-complete"
                            [cvName]="phenotypeConditionNamespace"
                            [placeholder]="'Start typing a phenotype condtion'"
                            (termMatched)="phenotypeConditionMatched($event)"></app-term-name-complete>

  </div>
</div>

<div class="buttons">
  <button [disabled]="!isValid()" [attr.title]="submitTitle()"
          class="btn btn-primary" (click)="submit()">Submit</button>
</div>
