.term-definition {
  margin: 0.4em;
  font-size: 80%;
}

.phenotype-filter {
  margin: 1em 3em 0em 0.5em;
  vertical-align: top;
}

.phenotype-filter-inline-block {
  display: inline-block;
}

.buttons {
  padding: 1em 0 0.5em 0;
}

.ontology-options {
  padding-left: 1em;
}

div.phenotype-condition-selector {
  display: block;
}

.phenotype-condition-selector label {
  margin: 0.5em 0.1em;
}

.phenotype-condition-complete {
  margin-left: 1em;
  display: inline-block;
  width: 29em;
}
