.menu-header {
  border-top: 1px solid lightgrey;
}
.menu-item {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 3px;
  font-size: 80%;
}

.menu-item a {
  color: #014c8c;
}

.menu-item a:hover {
  text-decoration: underline;
}
