.menu-header {
  border-top: 1px solid lightgrey;
}
.menu-item {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 6px;
  font-size: 110%;
}