<div id="gene-page-menu">
  <div class="menu-item menu-header">
    <a (click)="scrollToPageTop()"><b>{{geneDetails.name || geneDetails.uniquename}}</b> Summary</a>
  </div>
  <div class="menu-item"
       *ngFor="let menuItem of menuItems">
    <a simplePageScroll href="#{{menuItem.id}}">{{menuItem.displayName}}</a>
  </div>
  <div class="menu-item">
    <a simplePageScroll href="#external-refs">External references</a>
  </div>
  <div class="menu-item">
    <a simplePageScroll href="#literature">Literature</a>
  </div>
</div>
