<table class="genotype-allele-summary" [ngClass]="{'diploid': isDiploid}">
  <thead>
    <th *ngIf="!isDiploid">Gene</th>
    <th *ngIf="isDiploid">Locus</th>
    <th>Allele name</th>
    <th *ngIf="hasSynonyms">
      Synonyms
    </th>
    <th>Description</th>
    <th>Type</th>
    <th>Expression</th>
  </thead>
  <tbody *ngFor="let locus of genotype.loci">
    <tr *ngFor="let expressedAllele of locus.expressed_alleles ; let i = index">
      <td *ngIf="i == 0" [attr.rowspan]="isDiploid ? 2 : 1">
        <app-gene-link class="app-link" [long]="false" [gene]="expressedAllele.allele.gene"></app-gene-link>
      </td>
      <td>
        <span [innerHTML]="tidyAlleleName(expressedAllele.allele.name)"></span>
      </td>
      <td *ngIf="hasSynonyms">
        <span [innerHTML]="getSynonymString(expressedAllele)"></span>
      </td>
      <td>
        <span [innerHTML]="alleleDisplayDescription(expressedAllele.allele)"></span>
      </td>
      <td>{{expressedAllele.allele.allele_type}}</td>
      <td>{{expressedAllele.expression}}</td>
    </tr>
  </tbody>
</table>
