.interpro-link {
  font-size: 110%;
  margin: 1em 0;
}

.protein-feature-title {
  font-weight: bold;
}

.properties-table {
  padding: 0.4em 0.2em 0 0.5em;
}

.tm-domains {
  margin: 0.6em 0 0.6em 0;
}

.pombase-annotation {
  padding: 0.5em 0 0.5em 0;
  max-width: 75%;
}

.protein-properties {
  margin-top: 1.2em;
}

.embedded-protein-viewer {
  width: 1050px;
  border: 0;
}

.view-all-link {
  margin-left: 13.5em;
}

.view-all-link .help-icon {
  font-size: 90%;
  opacity: 80%;
}
