.interpro-link, .ensembl-link-label {
  font-size: 110%;
  margin: 1em 0;
}

.protein-feature-title {
  font-weight: bold;
}

.properties-table {
  padding: 0.4em 0.2em 0 0.5em;
}

.pfam-structure {
  margin: 0.6em 0 1em 0;
}

.tm-domains {
  margin: 0.6em 0 0.6em 0;
}

.pombase-annotation {
  padding: 0.5em 0 0.5em 0;
  width: 60%;
}

.track-view {
  display: block;
}

@media (max-width: 800px) {
  .track-view {
    width: 90vw;
  }
}

@media (min-width: 800px) {
  .track-view {
    width: 70vw;
    max-width: 1000px;
    margin: auto;
  }
}