th {
  white-space: nowrap;
}

.pub-title {
  font-weight: bold;
}

.pub-journal, .pub-citation {
  font-style: italic;
}

.references .sort-buttons {
  padding: 0 0 10px 0;
}

.references .sort-buttons span {
  font-weight: bold;
}

.references tr {
  padding: 5px 0 5px 0;
}

.references td {
  padding-right: 20px;
}

a {
  cursor: pointer;
}

.pub-authors, .pub-citation, .pub-uniquename {
  margin-right: 0.5em;
}
