  <table class="gene-alleles-table">
    <thead>
      <tr>
        <th>
          <a *ngIf="sortByColumnName != 'name' && alleles.length > 1" (click)="sortBy('name')" title="Click to sort by name" >
            Name <img title="Click to sort by name" src="assets/sort_both.svg">
          </a>
          <span *ngIf="sortByColumnName == 'name' || alleles.length == 1" title="Sorted by name">
            Name <img *ngIf="alleles.length != 1" title="Sorted by name" src="assets/sort_up.svg">
          </span>
        </th>
        <th>
          <a *ngIf="sortByColumnName != 'description' && alleles.length > 1" (click)="sortBy('description')"title="Click to sort by description">
            Description <img title="Click to sort by description" src="assets/sort_both.svg">
          </a>
          <span *ngIf="sortByColumnName == 'description' || alleles.length == 1" title="Sorted by description">
            Description <img *ngIf="alleles.length != 1" title="Sorted by description" src="assets/sort_up.svg">
          </span>
        </th>

        <th>
          <a *ngIf="sortByColumnName != 'type' && alleles.length > 1" (click)="sortBy('type')" title="Click to sort by type">
            Type <img title="Click to sort by type" src="assets/sort_both.svg">
          </a>
          <span *ngIf="sortByColumnName == 'type' || alleles.length == 1" title="Sorted by type">
            Type <img *ngIf="alleles.length != 1" title="Sorted by type" src="assets/sort_up.svg">
          </span>
        </th>
      </tr>
    </thead>
    <tr *ngFor="let allele of displayAlleles">
      <td>
        <a [popover]="'View details of ' + allele.name" triggers="mouseenter:mouseleave" container="body"
           routerLink="/allele/{{allele.uniquename}}"><span [innerHtml]="allele.displayName"></span></a>
      </td>
      <td>
        <span [innerHtml]="allele.description"></span>
      </td>
      <td>
        {{allele.alleleType}}
      </td>
      <td>
        <a [popover]="'View details of ' + allele.name" triggers="mouseenter:mouseleave" container="body"
           class="view-genotype" routerLink="/allele/{{allele.uniquename}}">View genotypes..</a>
      </td>
    </tr>
  </table>
