
table.gene-alleles-table {
  font-size: 120%;
}

table.gene-alleles-table td, table.gene-alleles-table th {
  vertical-align: top;
  padding: 0.1em 0.6em;
}

.gene-alleles-controls {
  font-size: 110%;
  padding: 1em;
}

.gene-alleles-name-id {
  font-size: 110%;
}

table.gene-alleles-table td.expression-cell {
  padding-bottom: 0.5em;
}

tr {
  /* see: https://stackoverflow.com/a/34781198/25108 */
  height: 0;
}

td {
  height: inherit;
}

.expression-decoration {
  padding-right: 0.5em;
  border-right: 2px solid black;
  height: 100%;;
}
