<span [class.short-genotype-link]="isShortDisplayName">
  <template #allelesPopover>
    <span *ngIf="genotype.background">Background: {{genotype.background}}</span>
    <app-genotype-allele-summary class="link-allele-summary" [genotype]="genotype">
    </app-genotype-allele-summary>
  </template>
  <a [popover]="allelesPopover"
     triggers="mouseenter:mouseleave"
     placement="right"
     routerLink="/genotype/{{genotype.uniquename}}"
     routerLinkActive="active" [attr.title]="displayName">
    <span [innerHTML]="displayName"></span>
  </a>
</span>
