<span [class.short-genotype-link]="isShortDisplayName">
  <ng-template #allelesPopover>
    <span *ngIf="background">Background: <span class="genotype-background">{{background}}</span></span>
    <app-genotype-allele-summary class="link-allele-summary" [genotype]="genotype">
    </app-genotype-allele-summary>
  </ng-template>
  <a [popover]="allelesPopover"
     triggers="mouseenter:mouseleave"
     placement="bottom"
     routerLink="/genotype/{{genotype.display_uniquename}}"
     routerLinkActive="active">
    <span [innerHTML]="displayName"></span>
  </a>
</span>
