.short-genotype-link {
/*  white-space: nowrap; */
  word-break: break-word;
}

.link-allele-summary table {
  width: 100%;
}

.genotype-background {
  font-weight: bold;
}

.genotype-extra-help {
  margin-top: 0.4em;
  font-size: 90%;
  opacity: 0.8;
}
