<div class="genotype-link">
  <div *ngIf="!showDetails" class="genotype-short-summary">
    <a (click)="show()">
      <strong>{{genotype.name}}</strong>
      <span class="genotype-uniquename">{{genotype.uniquename}}</span>
      <i>{{genotype.background}}</i>
    </a>
  </div>
  <div *ngIf="showDetails" class="genotype-full">
    <strong>{{genotype.name}}</strong>
    <span class="genotype-uniquename">{{genotype.uniquename}}</span>
    <i>{{genotype.background}}</i>
  <table>
    <thead>
      <th>Gene</th>
      <th>Allele</th>
      <th>Type</th>
      <th>Expression</th>
    </thead>
    <tbody>
      <tr *ngFor="let expressedAllele of displayAlleles">
        <td><app-gene-link [gene]="expressedAllele.gene"></app-gene-link></td>
        <td>
          <div>{{expressedAllele.name}}(<span [innerHTML]="expressedAllele.description"></span>)</div>
          <div style="color: grey;">{{expressedAllele.uniquename}}</div>
        </td>
        <td>{{expressedAllele.allele_type}}</td>
        <td>{{expressedAllele.expression}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
