<div class="gocam-container docs">
  <app-page-contents-menu title="GO-CAM pathways" titleRoute="/gocam">

    <div class="left-menu-part left-menu-item"><a routerLink="/gocam/model-list">Model list</a></div>
    <div class="left-menu-part left-menu-item"><span>Summary map</span></div>
    <div class="left-menu-part left-sub-menu-item"><a routerLink="/gocam/summary/all">All models</a></div>
    <div class="left-menu-part left-sub-menu-item"><a routerLink="/gocam/summary/connected">Connected models</a></div>
    <div class="left-menu-part left-menu-item"><span>Mega-model</span></div>
    <div class="left-menu-part left-sub-menu-item"><a routerLink="/gocam/mega-model/all">All models</a></div>
    <div class="left-menu-part left-sub-menu-item"><a routerLink="/gocam/mega-model/connected">Connected models</a></div>
    <div class="left-menu-part left-menu-item"><a routerLink="/gocam/connections">Model joining activities</a></div>
    <div class="left-menu-part left-menu-item"><a routerLink="/gocam/missing-activities">Missing activities</a></div>


  </app-page-contents-menu>

  <div class="docs-content">
  <div *ngIf="pageType == 'model-list'" class="gocam-landing-page">
    <h3>{{siteName}} GO-CAM pathways
      <span class="help-link">
      <app-help-link [route]="'/documentation/gocams'" [title]="'GO-CAM documentation'">
        Documentation
      </app-help-link>
    </span></h3>
    <div class="description">
    GO-CAMs, or Gene Ontology Causal Activity Models, are a framework
    developed within the Gene Ontology (GO) project to represent
    complex biological pathways in a structured, computable format.
    </div>

    <div class="description">
    For more information, visit the
    <a href="/documentation/gocams">PomBase GO-CAM documentation</a> or
    the <a href="https://geneontology.org/docs/gocam-overview/">Gene Ontology project's GO-CAM overview</a>.
    </div>

    <h4>Missing activities</h4>
    <div class="description">
We maintain a list of activities known or suspected to occur in fission yeast but
not yet associated with a gene product. These “pathway holes” have
been identified through GO-CAM causal model curation.
    </div>
    <div class="description">
    <a routerLink="/gocam/missing-activities">Missing <span class="genus-species">S. pombe</span> activities</a>
    </div>

    <h4>Available GO-CAM models</h4>

    <app-go-cam-table></app-go-cam-table>
  </div>

  <div *ngIf="pageType && pageType == 'summary'" class="gocam-page">
    <h3>
      <span *ngIf="pageSubType == 'connected'">
        GO-CAM Summary Map - All Models
      </span>
      <span *ngIf="pageSubType != 'connected'">
        GO-CAM Summary Map - Connected Models Only
      </span>
      <span class="help-link">
        <app-help-link [route]="'/documentation/gocams'" [title]="'GO-CAM documentation'">
          Documentation
        </app-help-link>
      </span>
    </h3>

    <div class="description">
      A high-level graphical summary of the connections between GO-CAM
      models.
    </div>

    <div class="description">
      Clicking on the name of a model will take you to the detailed GO-CAM view
      of that model.  Clicking on an arrow between models will take
      you to a view of connection bewtween the two models.
    </div>

    <div *ngIf="pageSubType == 'connected'" class="description">
      Note: unconnected models are hidden (<a routerLink="/gocam/summary/all">show</a>)
    </div>
    <div *ngIf="pageSubType != 'connected'" class="description">
      Note: unconnected models are shown (<a routerLink="/gocam/summary/connected">hide</a>)
    </div>

    <div *ngIf="iframeUrl" class="gocam-container">
      <iframe [src]="iframeUrl" class="gocam-iframe" #gocamiframe>
      </iframe>
    </div>
  </div>

  <div *ngIf="pageType && pageType == 'mega-model'" class="gocam-page">
    <h3>
      <span *ngIf="pageSubType == 'connected'">
        GO-CAM Mega Model - All Models
      </span>
      <span *ngIf="pageSubType != 'connected'">
        GO-CAM Mega Model - Connected Models Only
      </span>

      <span class="help-link">
        <app-help-link [route]="'/documentation/gocams'"
                       [title]="'GO-CAM documentation'">
          Documentation
        </app-help-link>
      </span>
    </h3>

    <div class="description">
      This is a combined model created using the
      <a routerLink="/gocam/connections">Model joining activities</a>.
    </div>

    <div class="description">
      <span *ngIf="pageSubType == 'connected'">
        Note: unconnected models are hidden (<a routerLink="/gocam/mega-model/all">show</a>)
      </span>
      <span *ngIf="pageSubType != 'connected'">
        Note: unconnected models are shown (<a routerLink="/gocam/mega-model/connected">hide</a>)
      </span>
    </div>

    <div class="filter-group">
      <div class="filter-select">
        <input id="show-all" type="radio" [(ngModel)]="filterType" value="none" (ngModelChange)="updateMegaModelUrl()">
        <label for="show-all">Show all</label>
      </div>

      <div class="filter-select">
        <input id="hide-chemicals" type="radio" [(ngModel)]="filterType" value="chemical" (ngModelChange)="updateMegaModelUrl()">
        <label for="hide-chemicals">Hide chemicals</label>
      </div>

      <div class="filter-select">
        <input id="hide-all-inputs" type="radio" [(ngModel)]="filterType" value="all-inputs" (ngModelChange)="updateMegaModelUrl()">
        <label for="hide-all-inputs">Hide all inputs/outputs</label>
      </div>
    </div>

    <div class="filter-select">
      <input id="show-models-boxes" type="checkbox" [(ngModel)]="showModelBoxes" value="true" (ngModelChange)="updateMegaModelUrl()">
      <label for="show-models-boxes">Show model boundaries</label>
    </div>

    <div *ngIf="iframeUrl" class="gocam-container">
      <iframe [src]="iframeUrl" class="gocam-iframe" #gocamiframe>
      </iframe>
    </div>
  </div>

  <div *ngIf="pageType == 'connections'">

    <h3>Model joining activities
      <span class="help-link">
      <app-help-link [route]="'/documentation/gocams'"
                     [title]="'GO-CAM documentation'">
        Documentation
      </app-help-link>
      </span>
    </h3>

    <div class="description">
      This table shows the activities in common between models.  These
      shared activities are where models can be joined to give the
      <a routerLink="/gocam/summary/all">GO-CAM Summary Map</a>
      and the <a routerLink="/gocam/mega-model/connected">Mega-model</a>.
    </div>

    <app-gocam-overlaps-table></app-gocam-overlaps-table>

  </div>

  <div *ngIf="pageType == 'missing-activities'">
    <h3>Missing activities
      <span class="help-link">
      <app-help-link [route]="'/documentation/gocams'" [title]="'GO-CAM documentation'">
        Documentation
      </app-help-link>
      </span>
    </h3>

    <div class="description">
      A list of activities known or suspected to occur in fission
      yeast but not yet associated with a gene product.  These
      "pathway holes" have been identified through
      <a routerLink="/gocams">GO-CAM causal model curation</a>.
    </div>

    <app-gocam-holes-table></app-gocam-holes-table>

  </div>
  </div>
</div>
