.gocam-container {
  padding: 0.5em;
}

.gocam-iframe {
  width: 100%;
  height: 800px;
}

.help-link {
  padding-left: 4em;
  font-size: 80%;
}
.gocam-landing-page {
  max-width: 80%;
}

.filter-select {
  font-size: 110%;
  margin: 0.5em 3em 0.3em 0em;
  display: inline-block;
}
.filter-group {
  display: inline-block;
}

.description {
  font-size: 110%;
}

.description {
  padding-bottom: 0.7em;
}

.project-scope {
  padding: 0.3em 0 0.1em 0;
}
