.embedded-go-cam-viewer {
  width: 1300px;
  height: 600px;
  border: 0;
}

.header {
  margin-left: 210px;
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.no-go-cams {
  font-size: 110%;
  padding: 1.3em;
}

.help-icon {
  padding-right: 0.5em;
}

.full-view-header {
  font-size: 110%;
  padding: 0.1em 0.6em;
}

.help-link {
  padding-left: 2em;
}

.help-link img {
  height: 1em;
}

.go-cam-select {
  max-width: 25em;
}
