.embedded-go-cam-viewer {
  width: 1000px;
  height: 500px;
  border: 0;
}

.title-header {
  width: 1150px;
}

.large-view, pombase-view, .help-link {
  white-space: nowrap;
}

.large-view, pombase-view {
  font-size: 105%;
}

.no-go-cams {
  font-size: 110%;
  padding: 1.3em;
}

.help-icon {
  padding-right: 0.5em;
}

.full-view-header span {
  margin-right: 1em;
}

.full-view-header {
  font-size: 110%;
  padding: 0.1em 0.6em 1em 0.5em;
}

.help-link img {
  height: 1em;
}

.go-cam-select {
  max-width: 35em;
}

.model-title {
  font-weight: bold;
  padding-right: 1em;
}

.model-select {
  padding-top: 0.2em;
}
