.embedded-go-cam-viewer {
  width: 1300px;
  height: 660px;
  border: 0;
}

.title-header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.large-view, .help-link {
  white-space: nowrap;
}

.no-go-cams {
  font-size: 110%;
  padding: 1.3em;
}

.help-icon {
  padding-right: 0.5em;
}

.full-view-header {
  font-size: 110%;
  padding: 0.1em 0.6em;
}

.help-link img {
  height: 1em;
}

.go-cam-select {
  max-width: 25em;
}

.model-title {
  font-weight: bold;
  padding-right: 1em;
}

.model-select {
  padding-top: 0.2em;
}
