.ortholog-table {
  padding-bottom: 1.5em;
}

.ortholog-table table {
  width: auto;
}

.title {
  font-weight: bold;
  padding-bottom: 0.5em;
}

.ref-table {
  max-width: 750px;
  font-size: 90%;
}

td {
  padding: 0.2em 3em 0.2em 0;
}