.id-mapper-main {
  font-size: 130%;
}

#identifier-mapper textarea {
  height: auto;
}

@media (max-width: 1200px) {
  #identifier-mapper textarea {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .tool-heading-section, .help-message, #identifier-mapper textarea {
    width: 70vw;
  }
}

.help-message {
  margin: 0 0 1em 0;
}

.id-select {
  padding-bottom: 0.5em;
}

.id-mapper-query {
  margin: 0 0 2em 0;
}

.id-actions {
  width: 70vw;
  padding: 0.5em 0;
}

@media (min-width: 800px) {
  .id-lookup-action {
    float: right;
  }
  .id-read-from-file {
    white-space: nowrap;
  }
  .id-lookup-action {
    margin-left: 2em;
  }
}

@media (max-width: 800px) {
  .id-read-from-file {
    display: block;
    width: 70vw;
  }
  .id-lookup-action {
    margin-right: 2em;
  }
}
