.stats-ribbon {
  height: 2.8em;
  color: #444;
}

.stats-ribbon > span {
  margin-right: 1em;
}

@media (max-width: 1375px) and (min-width: 1000px), (max-width: 600px) {
  .annotation-count {
    display: none;
  }
}

@media (max-width: 1240px) and (min-width: 1000px), (max-width: 380px) {
  .publication-count {
    display: none;
  }
}
