
.range button {
  margin-top: 1.5em;
}

.range-section {
  padding: 0.2em;
}

.range-min-max {
  padding: 0.2em 1em;
}

.range-label {
  user-select: none;
}

.node-options-title {
  font-weight: bold;
  padding: 1em 0 0.3em 0;
}

.node-option {
  font-weight: 90%;
  padding: 0 0 0 2em;
}
